# Labeling Task

In [3]:
import pandas as pd
import numpy as np
import re

In [5]:
#Load Data
Labels = pd.read_csv('Labels.csv')
# Rename the first column to 'Labels'
Labels.columns = ['Labels']
Labels

                                                Labels
0                 Abastumani Astrophysical Observatory
1                     Abu Reyhan-e Birooni Observatory
2                        Adirondack Public Observatory
3                                Adolphson Observatory
4                           Airdrie Public Observatory
..                                                 ...
990                                           ULTRASAT
991  Nancy Grace Roman Space Telescope (Wide Field ...
992                                              ARIEL
993  Advanced Telescope for High Energy Astrophysic...
994          Laser Interferometer Space Antenna (LISA)

[995 rows x 1 columns]

In [6]:
abstract_df = pd.read_csv('preprocessed_data_Jul14.csv')
abstract_df = abstract_df['concatenated_title_abstract']
abstract_df

0        KINEMATIC TREATMENT OF CORONAL MASS EJECTION E...
1        The imaging performance of the Hubble Space Te...
2        Numerical Simulations of Mass Outflows Driven ...
3        The Origin of X-shaped Radio Galaxies: Clues f...
4        The Ghost of Sagittarius and Lumps in the Halo...
                               ...
63994    Accretion Disk Spectra of the Ultra-luminous X...
63995    The ghost of a dwarf galaxy: fossils of the hi...
63996    Observations of the Solar Corona from Space Sp...
63997    Constraints on the topology of the Universe de...
63998    Formation of Kuiper-belt binaries through mult...
Name: concatenated_title_abstract, Length: 63999, dtype: object

In [7]:
full_text = pd.read_csv('preprocessed_FullText_data.csv')
full_text = full_text['fullText']
full_text

/tmp/ipykernel_50875/2594632076.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  full_text = pd.read_csv('preprocessed_FullText_data.csv')

0        ['THE FLASH SPECTRUM. BY S. A. MITCHELL. (Read...
1        ['MAY 9, 1913] SCIENCE must be sought the key ...
2        ['OCTOBER 4, 1912] SCIENCE astronomy, increasi...
3        ["SCIENTIFIC NOTES AND NEWS A SPECIAL act of c...
4        ['Wfeek-ly morbidity and mnortality tatble, ci...
                               ...
24995    ['Atmos. Chem. Phys., 16, 7709–7724, 2016\nwww...
24996    ['Ann. Geophys., 31, 187–196, 2013\nwww.ann-ge...
24997    ['Research Article\nTrack-to-Track Association...
24998    ['Nonlin. Processes Geophys., 26, 91–108, 2019...
24999    ['Contribution of Ancestral Lines in the Devel...
Name: fullText, Length: 25000, dtype: object

In [8]:
# Combine the two Series into one
combined_df = pd.concat([abstract_df, full_text], ignore_index=True)
combined_df.name = 'combined_df'

print(combined_df)

0        KINEMATIC TREATMENT OF CORONAL MASS EJECTION E...
1        The imaging performance of the Hubble Space Te...
2        Numerical Simulations of Mass Outflows Driven ...
3        The Origin of X-shaped Radio Galaxies: Clues f...
4        The Ghost of Sagittarius and Lumps in the Halo...
                               ...
88994    ['Atmos. Chem. Phys., 16, 7709–7724, 2016\nwww...
88995    ['Ann. Geophys., 31, 187–196, 2013\nwww.ann-ge...
88996    ['Research Article\nTrack-to-Track Association...
88997    ['Nonlin. Processes Geophys., 26, 91–108, 2019...
88998    ['Contribution of Ancestral Lines in the Devel...
Name: combined_df, Length: 88999, dtype: object

In [9]:
labeled_data_sk = pd.read_csv('labeled_data_non-overlapped_labeling_fn_v2.csv')
labeled_data_sk

,concatenated_title_abstract,label,label_name
0,KINEMATIC TREATMENT OF CORONAL MASS EJECTION E...,-1,ABSTAIN
1,The imaging performance of the Hubble Space Te...,243,Hubble Space Telescope
2,Numerical Simulations of Mass Outflows Driven ...,954,Kepler
3,The Origin of X-shaped Radio Galaxies: Clues f...,-1,ABSTAIN
4,The Ghost of Sagittarius and Lumps in the Halo...,-1,ABSTAIN
...,...,...,...
63994,Accretion Disk Spectra of the Ultra-luminous X...,-1,ABSTAIN
63995,The ghost of a dwarf galaxy: fossils of the hi...,-1,ABSTAIN
63996,Observations of the Solar Corona from Space Sp...,-1,ABSTAIN
63997,Constraints on the topology of the Universe de...,972,WMAP
63998,Formation of Kuiper-belt binaries through mult...,954,Kepler

## Step 1: Rename Certain Labels

In [10]:
renamed_labels = pd.read_csv('Labels_renamed.csv')
renamed_labels

                                                  Label
0                  Abastumani Astrophysical Observatory
1                      Abu Reyhan-e Birooni Observatory
2                         Adirondack Public Observatory
3                                 Adolphson Observatory
4                            Airdrie Public Observatory
...                                                 ...
1037                                           ULTRASAT
1038  Nancy Grace Roman Space Telescope (Wide Field ...
1039                                              ARIEL
1040  Advanced Telescope for High Energy Astrophysic...
1041          Laser Interferometer Space Antenna (LISA)

[1042 rows x 1 columns]

In [12]:
# Convert column values to sets
renamed_set = set(renamed_labels['Label'])
labels_set = set(Labels['Labels'])

# Find the difference between the two sets
different_labels = renamed_set.symmetric_difference(labels_set)

print(different_labels)

{'Gamma', 'Kepler', 'Kepler Telescope', 'Gamma Telescope'}

In [13]:
labels_in_renamed = {label for label in different_labels if label in renamed_set}
labels_in_original = {label for label in different_labels if label in labels_set}

print("Labels exclusive to 'renamed_labels':", labels_in_renamed)
print("Labels exclusive to 'Labels':", labels_in_original)

Labels exclusive to 'renamed_labels': {'Kepler Telescope', 'Gamma Telescope'}
Labels exclusive to 'Labels': {'Gamma', 'Kepler'}