# Telescope Label Analysis

In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
Labels = pd.read_csv('Labels.csv')

# Rename the first column to 'Labels'
Labels.columns = ['Labels']
Labels

                                                 Labels
0                  Abastumani Astrophysical Observatory
1                      Abu Reyhan-e Birooni Observatory
2                         Adirondack Public Observatory
3                                 Adolphson Observatory
4                            Airdrie Public Observatory
...                                                 ...
1037                                           ULTRASAT
1038  Nancy Grace Roman Space Telescope (Wide Field ...
1039                                              ARIEL
1040  Advanced Telescope for High Energy Astrophysic...
1041          Laser Interferometer Space Antenna (LISA)

[1042 rows x 1 columns]

In [4]:
abstract_df = pd.read_csv('preprocessed_data_Jul14.csv')
abstract_df = abstract_df['concatenated_title_abstract']
abstract_df

0        KINEMATIC TREATMENT OF CORONAL MASS EJECTION E...
1        The imaging performance of the Hubble Space Te...
2        Numerical Simulations of Mass Outflows Driven ...
3        The Origin of X-shaped Radio Galaxies: Clues f...
4        The Ghost of Sagittarius and Lumps in the Halo...
                               ...
63994    Accretion Disk Spectra of the Ultra-luminous X...
63995    The ghost of a dwarf galaxy: fossils of the hi...
63996    Observations of the Solar Corona from Space Sp...
63997    Constraints on the topology of the Universe de...
63998    Formation of Kuiper-belt binaries through mult...
Name: concatenated_title_abstract, Length: 63999, dtype: object

In [5]:
full_text = pd.read_csv('preprocessed_FullText_data.csv')
full_text = full_text['fullText']
full_text

/tmp/ipykernel_79276/2594632076.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  full_text = pd.read_csv('preprocessed_FullText_data.csv')

0        ['THE FLASH SPECTRUM. BY S. A. MITCHELL. (Read...
1        ['MAY 9, 1913] SCIENCE must be sought the key ...
2        ['OCTOBER 4, 1912] SCIENCE astronomy, increasi...
3        ["SCIENTIFIC NOTES AND NEWS A SPECIAL act of c...
4        ['Wfeek-ly morbidity and mnortality tatble, ci...
                               ...
24995    ['Atmos. Chem. Phys., 16, 7709–7724, 2016\nwww...
24996    ['Ann. Geophys., 31, 187–196, 2013\nwww.ann-ge...
24997    ['Research Article\nTrack-to-Track Association...
24998    ['Nonlin. Processes Geophys., 26, 91–108, 2019...
24999    ['Contribution of Ancestral Lines in the Devel...
Name: fullText, Length: 25000, dtype: object

In [23]:
# Count the occurrences of the words in abstracts data
telescope_count = abstract_df.str.count('telescope').sum()
satellite_count = abstract_df.str.count('satellite').sum()
array_count = abstract_df.str.count('array').sum()

# results
print(f"'telescope' appears {telescope_count} times in abstracts data.")
print(f"'satellite' appears {satellite_count} times in abstracts data.")
print(f"'array' appears {array_count} times in abstracts data.")

'telescope' appears 5758 times in abstracts data.
'satellite' appears 6072 times in abstracts data.
'array' appears 1126 times in abstracts data.

In [24]:
# Count the occurrences of the words in full text data
telescope_count = full_text.str.count('telescope').sum()
satellite_count = full_text.str.count('satellite').sum()
array_count = full_text.str.count('array').sum()

# results
print(f"'telescope' appears {telescope_count} times in full text data.")
print(f"'satellite' appears {satellite_count} times in full text data.")
print(f"'array' appears {array_count} times in full text data.")

'telescope' appears 7887 times in full text data.
'satellite' appears 72784 times in full text data.
'array' appears 11717 times in full text data.

# Abstract Analysis

In [6]:
# Count the occurrences of each label
label_counts = {}
for label in Labels['Labels']:
    escaped_label = re.escape(label)
    label_counts[label] = abstract_df.str.contains(escaped_label, case=False, na=False).sum()

# Results
for label, count in label_counts.items():
    print(f"'{label}' appears {count} times.")

'Abastumani Astrophysical Observatory' appears 0 times.
'Abu Reyhan-e Birooni Observatory' appears 0 times.
'Adirondack Public Observatory' appears 0 times.
'Adolphson Observatory' appears 0 times.
'Airdrie Public Observatory' appears 0 times.
'Aker Observatory' appears 0 times.
'Aldershot Observatory' appears 0 times.
'Algonquin Radio Observatory' appears 0 times.
'Allegheny Observatory' appears 1 times.
'Ametlla de Mar Observatory' appears 0 times.
'AMiBA' appears 0 times.
'Anderson Mesa Station' appears 0 times.
'Angell Hall Observatory' appears 0 times.
'Ankara University Observatory' appears 1 times.
'Antarctic Muon and Neutrino Detector Array' appears 0 times.
'Antarctic Submillimeter Telescope and Remote Observatory' appears 10 times.
'ANTARES' appears 28 times.
'Apache-Sitgreaves Observatory' appears 0 times.
'Apache Point Observatory' appears 37 times.
'Apatity Cosmic-Ray Station' appears 0 times.
'Apollo Observatory' appears 0 times.
'Arcetri Observatory' appears 0 times.
'Arecibo Observatory' appears 46 times.
'Argentine Institute of Radio Astronomy' appears 0 times.
'Armagh Observatory' appears 0 times.
'Aryabhatta Research Institute of Observational Sciences' appears 4 times.
'Ashton Observatory' appears 0 times.
'Asiago Astrophysical Observatory' appears 0 times.
'Assheton Observatory' appears 0 times.
'Astron (defunct)' appears 0 times.
'Astronomical Observatory Aurora' appears 0 times.
'Astronomical Observatory of Lisbon' appears 0 times.
'Astronomy Centre' appears 6 times.
'Astronomy Tower of the Sorbonne' appears 0 times.
'Astrophysical Institute Potsdam' appears 0 times.
'Atacama Pathfinder Experiment (APEX)' appears 0 times.
'Australia Telescope Compact Array' appears 212 times.
'Australian Astronomical Observatory' appears 1 times.
'Badlands Observatory' appears 0 times.
'Baikal Deep Underwater Neutrino Telescope' appears 0 times.
'Bangladesh Astronomical Observatory' appears 0 times.
'Baker Observatory' appears 0 times.
'Baksan Neutrino Observatory' appears 4 times.
'Ball State University Observatory' appears 0 times.
'Barnard Observatory (defunct)' appears 0 times.
'Bareket Observatory' appears 0 times.
'Barnett Observatory' appears 0 times.
'Bayfordbury Observatory' appears 0 times.
'Behlen Observatory' appears 4 times.
'Beijing Astronomical Observatory' appears 10 times.
'Beijing Ancient Observatory' appears 0 times.
'Belgrade Observatory' appears 0 times.
'Belogradchik Observatory' appears 0 times.
'Benmore Peak Observatory' appears 0 times.
'BeppoSAX (defunct)' appears 0 times.
'Bergisch Gladbach Observatory' appears 0 times.
'Berlin Observatory' appears 0 times.
'Besançon Observatory' appears 0 times.
'BESS' appears 60 times.
'Bidston Observatory' appears 0 times.
'Big Bear Lake Solar Observatory' appears 0 times.
'Bisdee Tier Optical Astronomy Observatory' appears 0 times.
'Black Moshannon Observatory (defunct)' appears 0 times.
'Blackett Observatory' appears 0 times.
'Blue Mesa Observatory (defunct)' appears 0 times.
'Boambee Observatory' appears 0 times.
'Bohyunsan Optical Astronomy Observatory (BOAO)' appears 0 times.
'BOOTES' appears 67 times.
'Bordeaux Observatory' appears 0 times.
'Bosscha Observatory' appears 0 times.
'Boswell Observatory (defunct)' appears 0 times.
'Bowman Observatory' appears 0 times.
'Boyden Observatory' appears 0 times.
'Bradstreet Observatory' appears 0 times.
'Bradley Observatory' appears 0 times.
'Braeside Observatory (defunct)' appears 0 times.
'Brera Observatory' appears 0 times.
'Bridgewater State University Observatory' appears 0 times.
'Brooks Observatory' appears 0 times.
'Brooks Astronomical Observatory' appears 0 times.
'Brorfelde Observatory' appears 0 times.
'Bucharest Observatory' appears 0 times.
'Bucknell Observatory' appears 0 times.
'Burrell Memorial Observatory' appears 0 times.
'Byurakan Observatory' appears 5 times.
'Cagigal Observatory' appears 0 times.
'Cagliari Observatory' appears 0 times.
'Calais Observatory (defunct)' appears 0 times.
'Calar Alto Observatory' appears 12 times.
'Caltech Submillimeter Observatory (defunct)' appears 0 times.
'Cambridge Observatory' appears 0 times.
'Camille Flammarion Observatory' appears 0 times.
'Campbelltown Rotary Observatory' appears 0 times.
'Campo Imperatore Near-Earth Object Survey' appears 0 times.
'Canopus Hill Observatory' appears 0 times.
'Capilla Peak Observatory' appears 0 times.
'Capodimonte Observatory' appears 0 times.
'Carter Observatory' appears 0 times.
'Catania Astrophysical Observatory' appears 3 times.
'Cawthron Atkinson Observatory' appears 0 times.
'Celestial Observatory' appears 0 times.
'Centennial Observatory' appears 0 times.
'Center for Astrophysics | Harvard & Smithsonian' appears 2 times.
'Cerro Armazones Observatory' appears 0 times.
'Cerro Tololo Inter-American Observatory' appears 86 times.
'Cerro Pachón Observatory' appears 0 times.
'Chabot Space & Science Center' appears 0 times.
'Chamberlin Observatory' appears 0 times.
'Changchun Astronomical Observatory' appears 0 times.
'Chandra X-ray Observatory' appears 479 times.
'Chianti Polifunctional Observatory' appears 0 times.
'Chico Community Observatory' appears 0 times.
'Chilbolton Observatory' appears 0 times.
'Cima Ekar Observing Station' appears 0 times.
'Cincinnati Observatory' appears 0 times.
'City Observatory, Edinburgh' appears 0 times.
'Clarke Observatory' appears 0 times.
'Class of 1951 Observatory' appears 0 times.
'Cloudcroft Observatory (defunct)' appears 0 times.
'Coats Observatory' appears 0 times.
'Coit Observatory' appears 0 times.
'Collins Observatory' appears 0 times.
'Collm Observatory' appears 0 times.
'Colombo University Observatory' appears 0 times.
'Compton Gamma-Ray Observatory (defunct)' appears 0 times.
'ÇOMÜ Ulupınar Observatory' appears 0 times.
'Concordia College Observatory' appears 0 times.
'Consell Observatory' appears 0 times.
'Copenhagen University Observatory' appears 0 times.
'Cordell–Lorenz Observatory' appears 0 times.
'COROT' appears 483 times.
'Cosmic Background Imager (CBI) (defunct)' appears 0 times.
'Côte d'Azur Observatory' appears 0 times.
'Crane Observatory' appears 0 times.
'Crawford Observatory' appears 0 times.
'Creighton University Observatory (defunct)' appears 0 times.
'Crimean Astrophysical Observatory' appears 14 times.
'Črni Vrh Observatory' appears 0 times.
'Cupillari Observatory' appears 0 times.
'Custer Observatory' appears 0 times.
'The Cyprus Planetarium & Observatory' appears 0 times.
'Daniel S. Schanck Observatory (defunct)' appears 0 times.
'Daniel Scholl Observatory (defunct)' appears 0 times.
'Daocheng Solar Radio Telescope' appears 0 times.
'Dark Sky Observatory' appears 0 times.
'Dark Matter Particle Explorer (DAMPE)' appears 11 times.
'Darling's Observatory (defunct)' appears 0 times.
'Dearborn Observatory' appears 0 times.
'Detroit Observatory' appears 0 times.
'David Dunlap Observatory' appears 9 times.
'Dome C' appears 10 times.
'Dominion Observatory' appears 0 times.
'Dominion Astrophysical Observatory' appears 9 times.
'Dominion Radio Astrophysical Observatory' appears 11 times.
'Dunsink Observatory' appears 0 times.
'Durham University Observatory' appears 0 times.
'Dyer Observatory' appears 0 times.
'Effelsberg 100-m Radio Telescope' appears 0 times.
'Ege University Observatory' appears 1 times.
'Einstein Observatory (defunct)' appears 0 times.
'Elginfield Observatory' appears 2 times.
'Ellis Observatory' appears 0 times.
'Embry-Riddle Observatory' appears 0 times.
'Eskdalemuir Observatory' appears 0 times.
'European Gravitational Observatory' appears 0 times.
'Euclid Telescope' appears 0 times.
'European Southern Observatory La Silla Observatory New Technology Telescope Llano de Chajnantor Observatory Very Large Telescope Paranal Observatory European Extremely Large Telescope' appears 0 times.
'Fabra Observatory' appears 0 times.
'Fan Mountain Observatory' appears 0 times.
'Five-hundred-meter Aperture Spherical Radio Telescope' appears 1 times.
'Félix Aguilar Observatory' appears 0 times.
'Fernbank Observatory' appears 0 times.
'Fermi Gamma-ray Space Telescope' appears 58 times.
'Fick Observatory' appears 0 times.
'Five College Radio Astronomy Observatory (defunct)' appears 0 times.
'Flarestar Observatory' appears 0 times.
'Foggy Bottom Observatory' appears 2 times.
'Foothill Observatory' appears 0 times.
'Ford Observatory' appears 3 times.
'Fox Observatory' appears 0 times.
'Fox Park Public Observatory' appears 0 times.
'Francis Marion University Observatory' appears 0 times.
'Fred Lawrence Whipple Observatory' appears 10 times.
'Fremont Peak Observatory' appears 0 times.
'Frosty Drew Observatory' appears 0 times.
'Fuertes Observatory' appears 0 times.
'Galaxy Evolution Explorer (GALEX)' appears 94 times.
'Gaocheng Astronomical Observatory' appears 0 times.
'Gauribidanur Radio Observatory' appears 3 times.
'Gemini Observatory' appears 9 times.
'Giant Meterwave Radio Telescope (GMRT)' appears 6 times.
'Gifford Observatory' appears 0 times.
'Girawali Observatory' appears 0 times.
'Glen D. Riley Observatory' appears 0 times.
'Godlee Observatory' appears 0 times.
'Goodsell Observatory' appears 0 times.
'Goethe Link Observatory' appears 0 times.
'Goldendale Observatory' appears 0 times.
'Gornergrat (HFSJG) (defunct)' appears 0 times.
'Granat (defunct)' appears 0 times.
'Gran Telescopio Canarias' appears 19 times.
'Grant O. Gale Observatory' appears 0 times.
'Green Bank Telescope,' appears 20 times.
'Green Point Observatory,' appears 0 times.
'Grenfell Observatory' appears 0 times.
'Griffith Observatory' appears 0 times.
'Guillermo Haro Observatory' appears 0 times.
'HALCA (defunct)' appears 0 times.
'Haleakala Observatory' appears 0 times.
'Halley Observatory' appears 0 times.
'Hamburg Observatory' appears 0 times.
'Hat Creek Radio Observatory' appears 2 times.
'Hard Labor Creek Observatory' appears 0 times.
'Space Hard X-Ray Modulation Telescope (HXMT)' appears 0 times.
'Hartung–Boothroyd Observatory' appears 0 times.
'Hartebeesthoek Radio Astronomy Observatory' appears 4 times.
'Hartwell House' appears 0 times.
'Harvard College Observatory' appears 14 times.
'Haute-Provence Observatory' appears 0 times.
'Haystack Observatory' appears 4 times.
'Hector J Robinson Observatory' appears 0 times.
'Helium and Lead Observatory' appears 0 times.
'Helmos Observatory' appears 0 times.
'Helsinki University Observatory' appears 0 times.
'Herrett Observatory' appears 0 times.
'Herschel Space Observatory' appears 50 times.
'Hidden Valley Observatory' appears 0 times.
'Hida Observatory, Kyoto University' appears 0 times.
'Heyden Observatory, Georgetown University' appears 0 times.
'High Altitude Water Cherenkov Observatory' appears 0 times.
'High Energy Stereoscopic System' appears 44 times.
'Highland Road Park Observatory' appears 0 times.
'Hinode' appears 98 times.
'Hirsch Observatory' appears 0 times.
'Hobbs Observatory' appears 0 times.
'Hoher List Observatory' appears 0 times.
'Holcomb Observatory and Planetarium' appears 0 times.
'Hong Kong Observatory' appears 0 times.
'Hoober Observatory' appears 0 times.
'Hopkins Observatory' appears 0 times.
'Howell Observatory' appears 0 times.
'Hradec Králové Observatory' appears 0 times.
'Huairou Solar Observing Station' appears 7 times.
'Hubble Space Telescope' appears 3154 times.
'Huggins Observatory defunct' appears 0 times.
'Hume Cronyn Memorial Observatory' appears 0 times.
'Hyde Memorial Observatory' appears 0 times.
'IceCube Neutrino Observatory' appears 7 times.
'Indian Astronomical Observatory' appears 0 times.
'Instituto de Astrofísica de Canarias' appears 2 times.
'INTEGRAL' appears 1036 times.
'Infrared Astronomical Satellite (IRAS) (defunct)' appears 0 times.
'Infrared Space Observatory (ISO) (defunct)' appears 0 times.
'Innsbruck Observatory' appears 0 times.
'IRAM 30m telescope' appears 0 times.
'IRAM Plateau de Bure Interferometer' appears 20 times.
'Iranian National Observatory' appears 0 times.
'Isaac Newton Group of Telescopes' appears 0 times.
'Isasc Roberts' Observatory (defunct)' appears 0 times.
'Iso-Heikkilä Observatory (defunct)' appears 0 times.
'Constantinople Observatory of Taqi ad-Din' appears 0 times.
'Istanbul University Observatory' appears 0 times.
'Istituto Ricerche Solari Locarno, IRSOL' appears 0 times.
'IXPE' appears 3 times.
'Jack C. Davis Observatory' appears 0 times.
'Astronomical Observatory of the Jagiellonian University' appears 0 times.
'James Clerk Maxwell Telescope' appears 159 times.
'James Gregory Telescope' appears 0 times.
'James Webb Space Telescope' appears 120 times.
'James Wylie Shepherd Observatory' appears 0 times.
'Jakarta Observatory' appears 0 times.
'Jantar Mantar' appears 0 times.
'Jena Observatory' appears 0 times.
'Jewett Observatory' appears 0 times.
'Jodrell Bank Observatory' appears 3 times.
'JAC Johor Astronomy' appears 0 times.
'Jones Observatory' appears 0 times.
'Judson B. Coit Observatory' appears 0 times.
'KAIRA' appears 0 times.
'Khajeh Nasiredin Observatory' appears 0 times.
'Kamioka Observatory' appears 1 times.
'Kanzelhoehe Solar Observatory' appears 1 times.
'Karl Schwarzschild Observatory' appears 0 times.
'Keck Observatory' appears 116 times.
'Keeble Observatory' appears 0 times.
'Keele Observatory' appears 0 times.
'Kennon Observatory' appears 0 times.
'Kepler Space Observatory' appears 0 times.
'Kevola Observatory' appears 0 times.
'Kielder Observatory' appears 0 times.
'King's Observatory (defunct)' appears 0 times.
'Kirkwood Observatory' appears 0 times.
'Kitami Observatory' appears 0 times.
'Kitt Peak National Observatory' appears 50 times.
'Kleť Observatory' appears 0 times.
'Kodaikanal Solar Observatory' appears 3 times.
'Konkoly Observatory' appears 4 times.
'Kopernik Observatory & Science Center' appears 0 times.
'KOSMA observatory' appears 0 times.
'Kottamia Astronomical Observatory' appears 0 times.
'Kuffner observatory' appears 0 times.
'Kuiper Airborne Observatory (retired)' appears 0 times.
'Kwasan Observatory, Kyoto University' appears 1 times.
'Kvistaberg Observatory' appears 0 times.
'Kyung Hee Observatory' appears 0 times.
'Laboratoire d'Astrophysique de Grenoble' appears 0 times.
'Observatorio de La Cañada (La Cañada Observatory)' appears 0 times.
'Ladd Observatory' appears 0 times.
'Lake Afton Public Observatory' appears 0 times.
'Lamont–Hussey Observatory (defunct)' appears 0 times.
'Landessternwarte Heidelberg-Königstuhl' appears 3 times.
'Landolt Astronomical Observatory' appears 0 times.
'La Plata Astronomical Observatory' appears 0 times.
'La Silla Observatory' appears 3 times.
'Large High Altitude Air Shower Observatory (LHAASO)' appears 6 times.
'Large Sky Area Multi-Object Fibre Spectroscopic Telescope (LAMOST)' appears 0 times.
'Large Millimeter Telescope' appears 1 times.
'Las Brisas Observatory' appears 0 times.
'Las Campanas Observatory' appears 47 times.
'Las Cumbres Observatory Global Telescope' appears 0 times.
'Laws Observatory' appears 0 times.
'Leander McCormick Observatory' appears 0 times.
'Lee Observatory' appears 0 times.
'Leiden Observatory' appears 8 times.
'Leipzig Observatory' appears 0 times.
'Leoncito Astronomical Complex' appears 0 times.
'Levenhagen Observatory' appears 0 times.
'Lick Observatory' appears 85 times.
'LightBuckets (commercial observatory)' appears 0 times.
'LIGO' appears 326 times.
'Lindheimer Astrophysical Research Center (defunct)' appears 0 times.
'Llano de Chajnantor Observatory' appears 0 times.
'Llano del Hato National Astronomical Observatory' appears 0 times.
'Lockyer Technology Centre' appears 0 times.
'Long Wavelength Array' appears 1 times.
'Longa Vista Observatory' appears 0 times.
'Lowell Observatory Anderson Mesa Station' appears 0 times.
'Lucknow (King of Oudh's) Observatory' appears 0 times.
'Lulin Observatory' appears 2 times.
'Lund Observatory' appears 0 times.
'Luoxue Mountain Cosmic Rays Research Center' appears 0 times.
'Lyon Observatory' appears 0 times.
'Macalester College Observatory' appears 0 times.
'Macfarlane Observatory defunct' appears 0 times.
'Magdalena Ridge Observatory (under construction)' appears 0 times.
'Majorca Observatory' appears 0 times.
'Malakoff Tower' appears 0 times.
'Manastash Ridge Observatory' appears 4 times.
'Manuel Foster Observatory (defunct)' appears 0 times.
'Maragheh Observatory' appears 0 times.
'Margaret M. Jacoby Observatory' appears 0 times.
'Maria Mitchell Observatory' appears 0 times.
'Marina Towers Observatory (Not In Use)' appears 0 times.
'Markree Observatory (defunct)' appears 0 times.
'Marseille Observatory' appears 0 times.
'Martz Observatory' appears 0 times.
'Mauna Kea Observatory' appears 10 times.
'Mauna Loa Solar Observatory' appears 17 times.
'Maynard F. Jordan Observatory' appears 0 times.
'McDonald Observatory' appears 43 times.
'McKim Observatory' appears 0 times.
'McMath–Hulbert Solar Observatory' appears 0 times.
'MDM Observatory' appears 14 times.
'Mead Observatory' appears 0 times.
'Medicina Radio Observatory' appears 0 times.
'Mees Observatory' appears 0 times.
'Mehalso Observatory' appears 0 times.
'Melbourne Observatory' appears 0 times.
'Melton Memorial Observatory' appears 0 times.
'Mendenhall Observatory' appears 0 times.
'Menke Observatory' appears 0 times.
'Metsähovi Observatory' appears 0 times.
'Meudon Observatory' appears 3 times.
'Meyer–Womble Observatory' appears 0 times.
'Michigan State University Observatory' appears 0 times.
'Observatoire Midi-Pyrénées Pic du Midi Observatory Toulouse Observatory' appears 0 times.
'Milagro' appears 32 times.
'Miller Observatory' appears 0 times.
'Mills Observatory' appears 0 times.
'Mind's Eye Observatory IAU W42' appears 0 times.
'MMT Observatory' appears 7 times.
'Modine-Benstead Observatory' appears 0 times.
'Modra Observatory' appears 0 times.
'Mohr Observatory (demolished)' appears 0 times.
'Moletai Astronomical Observatory' appears 0 times.
'Molonglo Observatory Synthesis Telescope (MOST)' appears 6 times.
'Mont Mégantic Observatory' appears 0 times.
'Monterey Institute for Research in Astronomy(Oliver Observing Station)' appears 0 times.
'Montevideo National Observatory' appears 0 times.
'Moore Observatory' appears 0 times.
'Morgan–Monroe Observatory' appears 0 times.
'Morris Observatory' appears 0 times.
'Morrison Observatory' appears 0 times.
'Moscow Cosmic-Ray Station' appears 0 times.
'Mount Stony Brook Observatory' appears 0 times.
'Mounds Observatory' appears 0 times.
'Mount Abu InfraRed Observatory' appears 0 times.
'Mount Burnett Observatory' appears 0 times.
'Mount Cuba Astronomical Observatory' appears 0 times.
'Mount Graham International Observatory' appears 3 times.
'Mount John University Observatory' appears 0 times.
'Mount Laguna Observatory' appears 3 times.
'Mount Lemmon Observatory' appears 0 times.
'Mount Pleasant Radio Observatory' appears 4 times.
'Mount Stromlo Observatory' appears 1 times.
'Mount Suhora Observatory' appears 0 times.
'Mount Wilson Observatory' appears 30 times.
'Mountain Skies Observatory' appears 0 times.
'Mullard Radio Astronomy Observatory' appears 0 times.
'Murchison Radio-astronomy Observatory' appears 7 times.
'Nachi-Katsuura Observatory' appears 0 times.
'Nançay Radio Telescope' appears 0 times.
'Nanjing Astronomical Instruments Research Centre' appears 0 times.
'National Astronomical Observatory (Colombia)' appears 0 times.
'National Astronomical Observatory of Japan' appears 3 times.
'National Astronomical Observatory (Mexico)' appears 0 times.
'National Observatory (Brazil)' appears 0 times.
'National Observatory of Athens' appears 5 times.
'National Optical Astronomy Observatory Cerro Tololo Inter-American Observatory Gemini Observatory Kitt Peak National Observatory National Solar Observatory' appears 0 times.
'National Optical Observatory' appears 1 times.
'National Radio Astronomy Observatory Atacama Large Millimeter Array Green Bank Telescope Very Large Array Very Long Baseline Array' appears 0 times.
'National Research Institute of Astronomy and Geophysics (NRIAG)' appears 0 times.

In [12]:
def generate_bigrams(label):
    #Generate bigrams from a given label.
    tokens = label.split()
    return [" ".join(tokens[i:i+2]) for i in range(len(tokens)-1)]


# Process each label and count occurrences of its tokens and bigrams
for idx, label in enumerate(Labels['Labels']):
    # Token counts
    tokens = label.split()  # Split the label into tokens
    token_counts = [abstract_df.str.contains(re.escape(token), case=False, na=False).sum() for token in tokens]
    print(f"{tokens} appears {token_counts} times in abstracts data.")
    
    # Bigram counts
    bigrams = generate_bigrams(label)
    bigram_counts = [abstract_df.str.contains(re.escape(bigram), case=False, na=False).sum() for bigram in bigrams]
    print(f"{bigrams} appears {bigram_counts} times in abstracts data.")
    print('-' * 80)

['Abastumani', 'Astrophysical', 'Observatory'] appears [5, 1907, 3950] times in abstracts data.
['Abastumani Astrophysical', 'Astrophysical Observatory'] appears [0, 112] times in abstracts data.
--------------------------------------------------------------------------------
['Abu', 'Reyhan-e', 'Birooni', 'Observatory'] appears [6344, 0, 0, 3950] times in abstracts data.
['Abu Reyhan-e', 'Reyhan-e Birooni', 'Birooni Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Adirondack', 'Public', 'Observatory'] appears [0, 668, 3950] times in abstracts data.
['Adirondack Public', 'Public Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Adolphson', 'Observatory'] appears [0, 3950] times in abstracts data.
['Adolphson Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Airdrie', 'Public', 'Observatory'] appears [0, 668, 3950] times in abstracts data.
['Airdrie Public', 'Public Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Aker', 'Observatory'] appears [1001, 3950] times in abstracts data.
['Aker Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Aldershot', 'Observatory'] appears [0, 3950] times in abstracts data.
['Aldershot Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Algonquin', 'Radio', 'Observatory'] appears [0, 9524, 3950] times in abstracts data.
['Algonquin Radio', 'Radio Observatory'] appears [0, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Allegheny', 'Observatory'] appears [3, 3950] times in abstracts data.
['Allegheny Observatory'] appears [1] times in abstracts data.
--------------------------------------------------------------------------------
['Ametlla', 'de', 'Mar', 'Observatory'] appears [0, 62741, 9995, 3950] times in abstracts data.
['Ametlla de', 'de Mar', 'Mar Observatory'] appears [0, 35, 56] times in abstracts data.
--------------------------------------------------------------------------------
['AMiBA'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Anderson', 'Mesa', 'Station'] appears [14, 10, 879] times in abstracts data.
['Anderson Mesa', 'Mesa Station'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Angell', 'Hall', 'Observatory'] appears [0, 2557, 3950] times in abstracts data.
['Angell Hall', 'Hall Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Ankara', 'University', 'Observatory'] appears [1, 617, 3950] times in abstracts data.
['Ankara University', 'University Observatory'] appears [1, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Antarctic', 'Muon', 'and', 'Neutrino', 'Detector', 'Array'] appears [75, 134, 62845, 1141, 1412, 2905] times in abstracts data.
['Antarctic Muon', 'Muon and', 'and Neutrino', 'Neutrino Detector', 'Detector Array'] appears [0, 9, 157, 38, 40] times in abstracts data.
--------------------------------------------------------------------------------
['Antarctic', 'Submillimeter', 'Telescope', 'and', 'Remote', 'Observatory'] appears [75, 843, 10808, 62845, 253, 3950] times in abstracts data.
['Antarctic Submillimeter', 'Submillimeter Telescope', 'Telescope and', 'and Remote', 'Remote Observatory'] appears [10, 59, 638, 32, 10] times in abstracts data.
--------------------------------------------------------------------------------
['ANTARES'] appears [28] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Apache-Sitgreaves', 'Observatory'] appears [0, 3950] times in abstracts data.
['Apache-Sitgreaves Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Apache', 'Point', 'Observatory'] appears [39, 6078, 3950] times in abstracts data.
['Apache Point', 'Point Observatory'] appears [39, 37] times in abstracts data.
--------------------------------------------------------------------------------
['Apatity', 'Cosmic-Ray', 'Station'] appears [1, 773, 879] times in abstracts data.
['Apatity Cosmic-Ray', 'Cosmic-Ray Station'] appears [0, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Apollo', 'Observatory'] appears [45, 3950] times in abstracts data.
['Apollo Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Arcetri', 'Observatory'] appears [5, 3950] times in abstracts data.
['Arcetri Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Arecibo', 'Observatory'] appears [234, 3950] times in abstracts data.
['Arecibo Observatory'] appears [46] times in abstracts data.
--------------------------------------------------------------------------------
['Argentine', 'Institute', 'of', 'Radio', 'Astronomy'] appears [5, 314, 63810, 9524, 1242] times in abstracts data.
['Argentine Institute', 'Institute of', 'of Radio', 'Radio Astronomy'] appears [0, 137, 1524, 175] times in abstracts data.
--------------------------------------------------------------------------------
['Armagh', 'Observatory'] appears [0, 3950] times in abstracts data.
['Armagh Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Aryabhatta', 'Research', 'Institute', 'of', 'Observational', 'Sciences'] appears [4, 1054, 314, 63810, 5662, 163] times in abstracts data.
['Aryabhatta Research', 'Research Institute', 'Institute of', 'of Observational', 'Observational Sciences'] appears [4, 26, 137, 339, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Ashton', 'Observatory'] appears [0, 3950] times in abstracts data.
['Ashton Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Asiago', 'Astrophysical', 'Observatory'] appears [15, 1907, 3950] times in abstracts data.
['Asiago Astrophysical', 'Astrophysical Observatory'] appears [0, 112] times in abstracts data.
--------------------------------------------------------------------------------
['Assheton', 'Observatory'] appears [0, 3950] times in abstracts data.
['Assheton Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Astron', '(defunct)'] appears [3137, 0] times in abstracts data.
['Astron (defunct)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Astronomical', 'Observatory', 'Aurora'] appears [1486, 3950, 233] times in abstracts data.
['Astronomical Observatory', 'Observatory Aurora'] appears [113, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Astronomical', 'Observatory', 'of', 'Lisbon'] appears [1486, 3950, 63810, 1] times in abstracts data.
['Astronomical Observatory', 'Observatory of', 'of Lisbon'] appears [113, 127, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Astronomy', 'Centre'] appears [1242, 1880] times in abstracts data.
['Astronomy Centre'] appears [6] times in abstracts data.
--------------------------------------------------------------------------------
['Astronomy', 'Tower', 'of', 'the', 'Sorbonne'] appears [1242, 52, 63810, 63868, 11] times in abstracts data.

['Astronomy Tower', 'Tower of', 'of the', 'the Sorbonne'] appears [0, 3, 58406, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Astrophysical', 'Institute', 'Potsdam'] appears [1907, 314, 21] times in abstracts data.
['Astrophysical Institute', 'Institute Potsdam'] appears [9, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Atacama', 'Pathfinder', 'Experiment', '(APEX)'] appears [132, 77, 2619, 2] times in abstracts data.
['Atacama Pathfinder', 'Pathfinder Experiment', 'Experiment (APEX)'] appears [3, 4, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Australia', 'Telescope', 'Compact', 'Array'] appears [530, 10808, 4627, 2905] times in abstracts data.
['Australia Telescope', 'Telescope Compact', 'Compact Array'] appears [255, 217, 218] times in abstracts data.
--------------------------------------------------------------------------------
['Australian', 'Astronomical', 'Observatory'] appears [208, 1486, 3950] times in abstracts data.
['Australian Astronomical', 'Astronomical Observatory'] appears [1, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Badlands', 'Observatory'] appears [0, 3950] times in abstracts data.
['Badlands Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Baikal', 'Deep', 'Underwater', 'Neutrino', 'Telescope'] appears [7, 4638, 4, 1141, 10808] times in abstracts data.
['Baikal Deep', 'Deep Underwater', 'Underwater Neutrino', 'Neutrino Telescope'] appears [0, 0, 0, 57] times in abstracts data.
--------------------------------------------------------------------------------
['Bangladesh', 'Astronomical', 'Observatory'] appears [0, 1486, 3950] times in abstracts data.
['Bangladesh Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Baker', 'Observatory'] appears [11, 3950] times in abstracts data.
['Baker Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Baksan', 'Neutrino', 'Observatory'] appears [12, 1141, 3950] times in abstracts data.
['Baksan Neutrino', 'Neutrino Observatory'] appears [4, 33] times in abstracts data.
--------------------------------------------------------------------------------
['Ball', 'State', 'University', 'Observatory'] appears [857, 5139, 617, 3950] times in abstracts data.
['Ball State', 'State University', 'University Observatory'] appears [0, 68, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Barnard', 'Observatory', '(defunct)'] appears [41, 3950, 0] times in abstracts data.
['Barnard Observatory', 'Observatory (defunct)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Bareket', 'Observatory'] appears [0, 3950] times in abstracts data.
['Bareket Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Barnett', 'Observatory'] appears [1, 3950] times in abstracts data.
['Barnett Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Bayfordbury', 'Observatory'] appears [0, 3950] times in abstracts data.
['Bayfordbury Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Behlen', 'Observatory'] appears [4, 3950] times in abstracts data.
['Behlen Observatory'] appears [4] times in abstracts data.
--------------------------------------------------------------------------------
['Beijing', 'Astronomical', 'Observatory'] appears [35, 1486, 3950] times in abstracts data.
['Beijing Astronomical', 'Astronomical Observatory'] appears [10, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Beijing', 'Ancient', 'Observatory'] appears [35, 225, 3950] times in abstracts data.
['Beijing Ancient', 'Ancient Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Belgrade', 'Observatory'] appears [12, 3950] times in abstracts data.
['Belgrade Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Belogradchik', 'Observatory'] appears [0, 3950] times in abstracts data.
['Belogradchik Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Benmore', 'Peak', 'Observatory'] appears [0, 5495, 3950] times in abstracts data.
['Benmore Peak', 'Peak Observatory'] appears [0, 2] times in abstracts data.
--------------------------------------------------------------------------------
['BeppoSAX', '(defunct)'] appears [238, 0] times in abstracts data.
['BeppoSAX (defunct)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Bergisch', 'Gladbach', 'Observatory'] appears [1, 0, 3950] times in abstracts data.
['Bergisch Gladbach', 'Gladbach Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Berlin', 'Observatory'] appears [6, 3950] times in abstracts data.
['Berlin Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Besançon', 'Observatory'] appears [0, 3950] times in abstracts data.
['Besançon Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['BESS'] appears [60] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Bidston', 'Observatory'] appears [0, 3950] times in abstracts data.
['Bidston Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Big', 'Bear', 'Lake', 'Solar', 'Observatory'] appears [1987, 395, 38, 10845, 3950] times in abstracts data.
['Big Bear', 'Bear Lake', 'Lake Solar', 'Solar Observatory'] appears [41, 0, 0, 141] times in abstracts data.
--------------------------------------------------------------------------------
['Bisdee', 'Tier', 'Optical', 'Astronomy', 'Observatory'] appears [0, 125, 12092, 1242, 3950] times in abstracts data.
['Bisdee Tier', 'Tier Optical', 'Optical Astronomy', 'Astronomy Observatory'] appears [0, 0, 24, 92] times in abstracts data.
--------------------------------------------------------------------------------
['Black', 'Moshannon', 'Observatory', '(defunct)'] appears [6992, 0, 3950, 0] times in abstracts data.
['Black Moshannon', 'Moshannon Observatory', 'Observatory (defunct)'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Blackett', 'Observatory'] appears [0, 3950] times in abstracts data.
['Blackett Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Blue', 'Mesa', 'Observatory', '(defunct)'] appears [3619, 10, 3950, 0] times in abstracts data.
['Blue Mesa', 'Mesa Observatory', 'Observatory (defunct)'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Boambee', 'Observatory'] appears [0, 3950] times in abstracts data.
['Boambee Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Bohyunsan', 'Optical', 'Astronomy', 'Observatory', '(BOAO)'] appears [2, 12092, 1242, 3950, 0] times in abstracts data.

['Bohyunsan Optical', 'Optical Astronomy', 'Astronomy Observatory', 'Observatory (BOAO)'] appears [2, 24, 92, 0] times in abstracts data.
--------------------------------------------------------------------------------
['BOOTES'] appears [67] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Bordeaux', 'Observatory'] appears [2, 3950] times in abstracts data.
['Bordeaux Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Bosscha', 'Observatory'] appears [0, 3950] times in abstracts data.
['Bosscha Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Boswell', 'Observatory', '(defunct)'] appears [0, 3950, 0] times in abstracts data.
['Boswell Observatory', 'Observatory (defunct)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Bowman', 'Observatory'] appears [4, 3950] times in abstracts data.
['Bowman Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Boyden', 'Observatory'] appears [0, 3950] times in abstracts data.
['Boyden Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Bradstreet', 'Observatory'] appears [0, 3950] times in abstracts data.
['Bradstreet Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Bradley', 'Observatory'] appears [7, 3950] times in abstracts data.
['Bradley Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Braeside', 'Observatory', '(defunct)'] appears [0, 3950, 0] times in abstracts data.
['Braeside Observatory', 'Observatory (defunct)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Brera', 'Observatory'] appears [11, 3950] times in abstracts data.
['Brera Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Bridgewater', 'State', 'University', 'Observatory'] appears [0, 5139, 617, 3950] times in abstracts data.
['Bridgewater State', 'State University', 'University Observatory'] appears [0, 68, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Brooks', 'Observatory'] appears [0, 3950] times in abstracts data.
['Brooks Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Brooks', 'Astronomical', 'Observatory'] appears [0, 1486, 3950] times in abstracts data.
['Brooks Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Brorfelde', 'Observatory'] appears [0, 3950] times in abstracts data.
['Brorfelde Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Bucharest', 'Observatory'] appears [0, 3950] times in abstracts data.
['Bucharest Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Bucknell', 'Observatory'] appears [0, 3950] times in abstracts data.
['Bucknell Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Burrell', 'Memorial', 'Observatory'] appears [2, 7, 3950] times in abstracts data.
['Burrell Memorial', 'Memorial Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Byurakan', 'Observatory'] appears [37, 3950] times in abstracts data.
['Byurakan Observatory'] appears [5] times in abstracts data.
--------------------------------------------------------------------------------
['Cagigal', 'Observatory'] appears [0, 3950] times in abstracts data.
['Cagigal Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Cagliari', 'Observatory'] appears [0, 3950] times in abstracts data.
['Cagliari Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Calais', 'Observatory', '(defunct)'] appears [0, 3950, 0] times in abstracts data.
['Calais Observatory', 'Observatory (defunct)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Calar', 'Alto', 'Observatory'] appears [348, 152, 3950] times in abstracts data.
['Calar Alto', 'Alto Observatory'] appears [32, 12] times in abstracts data.
--------------------------------------------------------------------------------
['Caltech', 'Submillimeter', 'Observatory', '(defunct)'] appears [89, 843, 3950, 0] times in abstracts data.
['Caltech Submillimeter', 'Submillimeter Observatory', 'Observatory (defunct)'] appears [44, 39, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Cambridge', 'Observatory'] appears [83, 3950] times in abstracts data.
['Cambridge Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Camille', 'Flammarion', 'Observatory'] appears [0, 0, 3950] times in abstracts data.
['Camille Flammarion', 'Flammarion Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Campbelltown', 'Rotary', 'Observatory'] appears [0, 0, 3950] times in abstracts data.
['Campbelltown Rotary', 'Rotary Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Campo', 'Imperatore', 'Near-Earth', 'Object', 'Survey'] appears [12, 1, 138, 11475, 11372] times in abstracts data.
['Campo Imperatore', 'Imperatore Near-Earth', 'Near-Earth Object', 'Object Survey'] appears [1, 0, 36, 13] times in abstracts data.
--------------------------------------------------------------------------------
['Canopus', 'Hill', 'Observatory'] appears [6, 261, 3950] times in abstracts data.
['Canopus Hill', 'Hill Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Capilla', 'Peak', 'Observatory'] appears [0, 5495, 3950] times in abstracts data.
['Capilla Peak', 'Peak Observatory'] appears [0, 2] times in abstracts data.
--------------------------------------------------------------------------------
['Capodimonte', 'Observatory'] appears [5, 3950] times in abstracts data.
['Capodimonte Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Carter', 'Observatory'] appears [11, 3950] times in abstracts data.
['Carter Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Catania', 'Astrophysical', 'Observatory'] appears [9, 1907, 3950] times in abstracts data.
['Catania Astrophysical', 'Astrophysical Observatory'] appears [3, 112] times in abstracts data.
--------------------------------------------------------------------------------
['Cawthron', 'Atkinson', 'Observatory'] appears [0, 0, 3950] times in abstracts data.
['Cawthron Atkinson', 'Atkinson Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Celestial', 'Observatory'] appears [301, 3950] times in abstracts data.
['Celestial Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------

['Centennial', 'Observatory'] appears [7, 3950] times in abstracts data.
['Centennial Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Center', 'for', 'Astrophysics', '|', 'Harvard', '&', 'Smithsonian'] appears [4689, 56668, 1088, 575, 78, 3299, 32] times in abstracts data.
['Center for', 'for Astrophysics', 'Astrophysics |', '| Harvard', 'Harvard &', '& Smithsonian'] appears [122, 117, 2, 2, 4, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Cerro', 'Armazones', 'Observatory'] appears [140, 3, 3950] times in abstracts data.
['Cerro Armazones', 'Armazones Observatory'] appears [3, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Cerro', 'Tololo', 'Inter-American', 'Observatory'] appears [140, 133, 93, 3950] times in abstracts data.
['Cerro Tololo', 'Tololo Inter-American', 'Inter-American Observatory'] appears [114, 93, 89] times in abstracts data.
--------------------------------------------------------------------------------
['Cerro', 'Pachón', 'Observatory'] appears [140, 0, 3950] times in abstracts data.
['Cerro Pachón', 'Pachón Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Chabot', 'Space', '&', 'Science', 'Center'] appears [0, 10148, 3299, 1385, 4689] times in abstracts data.
['Chabot Space', 'Space &', '& Science', 'Science Center'] appears [0, 0, 0, 17] times in abstracts data.
--------------------------------------------------------------------------------
['Chamberlin', 'Observatory'] appears [0, 3950] times in abstracts data.
['Chamberlin Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Changchun', 'Astronomical', 'Observatory'] appears [0, 1486, 3950] times in abstracts data.
['Changchun Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Chandra', 'X-ray', 'Observatory'] appears [2630, 11374, 3950] times in abstracts data.
['Chandra X-ray', 'X-ray Observatory'] appears [716, 519] times in abstracts data.
--------------------------------------------------------------------------------
['Chianti', 'Polifunctional', 'Observatory'] appears [17, 0, 3950] times in abstracts data.
['Chianti Polifunctional', 'Polifunctional Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Chico', 'Community', 'Observatory'] appears [1, 297, 3950] times in abstracts data.
['Chico Community', 'Community Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Chilbolton', 'Observatory'] appears [0, 3950] times in abstracts data.
['Chilbolton Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Cima', 'Ekar', 'Observing', 'Station'] appears [15, 17, 1319, 879] times in abstracts data.
['Cima Ekar', 'Ekar Observing', 'Observing Station'] appears [0, 0, 17] times in abstracts data.
--------------------------------------------------------------------------------
['Cincinnati', 'Observatory'] appears [0, 3950] times in abstracts data.
['Cincinnati Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['City', 'Observatory,', 'Edinburgh'] appears [15518, 451, 22] times in abstracts data.
['City Observatory,', 'Observatory, Edinburgh'] appears [0, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Clarke', 'Observatory'] appears [13, 3950] times in abstracts data.
['Clarke Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Class', 'of', '1951', 'Observatory'] appears [7015, 63810, 32, 3950] times in abstracts data.
['Class of', 'of 1951', '1951 Observatory'] appears [1231, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Cloudcroft', 'Observatory', '(defunct)'] appears [3, 3950, 0] times in abstracts data.
['Cloudcroft Observatory', 'Observatory (defunct)'] appears [2, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Coats', 'Observatory'] appears [1, 3950] times in abstracts data.
['Coats Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Coit', 'Observatory'] appears [2, 3950] times in abstracts data.
['Coit Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Collins', 'Observatory'] appears [2, 3950] times in abstracts data.
['Collins Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Collm', 'Observatory'] appears [0, 3950] times in abstracts data.
['Collm Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Colombo', 'University', 'Observatory'] appears [10, 617, 3950] times in abstracts data.
['Colombo University', 'University Observatory'] appears [0, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Compton', 'Gamma-Ray', 'Observatory', '(defunct)'] appears [1581, 3389, 3950, 0] times in abstracts data.
['Compton Gamma-Ray', 'Gamma-Ray Observatory', 'Observatory (defunct)'] appears [47, 67, 0] times in abstracts data.
--------------------------------------------------------------------------------
['ÇOMÜ', 'Ulupınar', 'Observatory'] appears [0, 0, 3950] times in abstracts data.
['ÇOMÜ Ulupınar', 'Ulupınar Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Concordia', 'College', 'Observatory'] appears [8, 77, 3950] times in abstracts data.
['Concordia College', 'College Observatory'] appears [0, 14] times in abstracts data.
--------------------------------------------------------------------------------
['Consell', 'Observatory'] appears [0, 3950] times in abstracts data.
['Consell Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Copenhagen', 'University', 'Observatory'] appears [20, 617, 3950] times in abstracts data.
['Copenhagen University', 'University Observatory'] appears [0, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Cordell–Lorenz', 'Observatory'] appears [0, 3950] times in abstracts data.
['Cordell–Lorenz Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['COROT'] appears [483] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Cosmic', 'Background', 'Imager', '(CBI)', '(defunct)'] appears [5786, 4430, 698, 21, 0] times in abstracts data.
['Cosmic Background', 'Background Imager', 'Imager (CBI)', '(CBI) (defunct)'] appears [182, 27, 21, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Côte', "d'Azur", 'Observatory'] appears [1, 1, 3950] times in abstracts data.
["Côte d'Azur", "d'Azur Observatory"] appears [1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Crane', 'Observatory'] appears [2, 3950] times in abstracts data.
['Crane Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------

['Crawford', 'Observatory'] appears [3, 3950] times in abstracts data.
['Crawford Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Creighton', 'University', 'Observatory', '(defunct)'] appears [0, 617, 3950, 0] times in abstracts data.
['Creighton University', 'University Observatory', 'Observatory (defunct)'] appears [0, 28, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Crimean', 'Astrophysical', 'Observatory'] appears [23, 1907, 3950] times in abstracts data.
['Crimean Astrophysical', 'Astrophysical Observatory'] appears [14, 112] times in abstracts data.
--------------------------------------------------------------------------------
['Črni', 'Vrh', 'Observatory'] appears [0, 0, 3950] times in abstracts data.
['Črni Vrh', 'Vrh Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Cupillari', 'Observatory'] appears [0, 3950] times in abstracts data.
['Cupillari Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Custer', 'Observatory'] appears [4, 3950] times in abstracts data.
['Custer Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['The', 'Cyprus', 'Planetarium', '&', 'Observatory'] appears [63868, 0, 9, 3299, 3950] times in abstracts data.
['The Cyprus', 'Cyprus Planetarium', 'Planetarium &', '& Observatory'] appears [0, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Daniel', 'S.', 'Schanck', 'Observatory', '(defunct)'] appears [26, 56435, 0, 3950, 0] times in abstracts data.
['Daniel S.', 'S. Schanck', 'Schanck Observatory', 'Observatory (defunct)'] appears [0, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Daniel', 'Scholl', 'Observatory', '(defunct)'] appears [26, 2, 3950, 0] times in abstracts data.
['Daniel Scholl', 'Scholl Observatory', 'Observatory (defunct)'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Daocheng', 'Solar', 'Radio', 'Telescope'] appears [0, 10845, 9524, 10808] times in abstracts data.
['Daocheng Solar', 'Solar Radio', 'Radio Telescope'] appears [0, 93, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Dark', 'Sky', 'Observatory'] appears [6494, 6025, 3950] times in abstracts data.
['Dark Sky', 'Sky Observatory'] appears [16, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Dark', 'Matter', 'Particle', 'Explorer', '(DAMPE)'] appears [6494, 7279, 4528, 1333, 11] times in abstracts data.
['Dark Matter', 'Matter Particle', 'Particle Explorer', 'Explorer (DAMPE)'] appears [4476, 228, 15, 11] times in abstracts data.
--------------------------------------------------------------------------------
["Darling's", 'Observatory', '(defunct)'] appears [0, 3950, 0] times in abstracts data.
["Darling's Observatory", 'Observatory (defunct)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Dearborn', 'Observatory'] appears [0, 3950] times in abstracts data.
['Dearborn Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Detroit', 'Observatory'] appears [0, 3950] times in abstracts data.
['Detroit Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['David', 'Dunlap', 'Observatory'] appears [43, 9, 3950] times in abstracts data.
['David Dunlap', 'Dunlap Observatory'] appears [9, 9] times in abstracts data.
--------------------------------------------------------------------------------
['Dome', 'C'] appears [37, 63990] times in abstracts data.
['Dome C'] appears [10] times in abstracts data.
--------------------------------------------------------------------------------
['Dominion', 'Observatory'] appears [20, 3950] times in abstracts data.
['Dominion Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Dominion', 'Astrophysical', 'Observatory'] appears [20, 1907, 3950] times in abstracts data.
['Dominion Astrophysical', 'Astrophysical Observatory'] appears [9, 112] times in abstracts data.
--------------------------------------------------------------------------------
['Dominion', 'Radio', 'Astrophysical', 'Observatory'] appears [20, 9524, 1907, 3950] times in abstracts data.
['Dominion Radio', 'Radio Astrophysical', 'Astrophysical Observatory'] appears [11, 11, 112] times in abstracts data.
--------------------------------------------------------------------------------
['Dunsink', 'Observatory'] appears [0, 3950] times in abstracts data.
['Dunsink Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Durham', 'University', 'Observatory'] appears [28, 617, 3950] times in abstracts data.
['Durham University', 'University Observatory'] appears [2, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Dyer', 'Observatory'] appears [1, 3950] times in abstracts data.
['Dyer Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Effelsberg', '100-m', 'Radio', 'Telescope'] appears [40, 38, 9524, 10808] times in abstracts data.
['Effelsberg 100-m', '100-m Radio', 'Radio Telescope'] appears [5, 0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Ege', 'University', 'Observatory'] appears [1339, 617, 3950] times in abstracts data.
['Ege University', 'University Observatory'] appears [3, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Einstein', 'Observatory', '(defunct)'] appears [826, 3950, 0] times in abstracts data.
['Einstein Observatory', 'Observatory (defunct)'] appears [121, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Elginfield', 'Observatory'] appears [2, 3950] times in abstracts data.
['Elginfield Observatory'] appears [2] times in abstracts data.
--------------------------------------------------------------------------------
['Ellis', 'Observatory'] appears [36, 3950] times in abstracts data.
['Ellis Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Embry-Riddle', 'Observatory'] appears [0, 3950] times in abstracts data.
['Embry-Riddle Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Eskdalemuir', 'Observatory'] appears [0, 3950] times in abstracts data.
['Eskdalemuir Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['European', 'Gravitational', 'Observatory'] appears [312, 6527, 3950] times in abstracts data.
['European Gravitational', 'Gravitational Observatory'] appears [0, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Euclid', 'Telescope'] appears [81, 10808] times in abstracts data.
['Euclid Telescope'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['European', 'Southern', 'Observatory', 'La', 'Silla', 'Observatory', 'New', 'Technology', 'Telescope', 'Llano', 'de', 'Chajnantor', 'Observatory', 'Very', 'Large', 'Telescope', 'Paranal', 'Observatory', 'European', 'Extremely', 'Large', 'Telescope'] appears [312, 1073, 3950, 62738, 41, 3950, 14443, 298, 10808, 8, 62741, 0, 3950, 15587, 23305, 10808, 12, 3950, 312, 2228, 23305, 10808] times in abstracts data.

['European Southern', 'Southern Observatory', 'Observatory La', 'La Silla', 'Silla Observatory', 'Observatory New', 'New Technology', 'Technology Telescope', 'Telescope Llano', 'Llano de', 'de Chajnantor', 'Chajnantor Observatory', 'Observatory Very', 'Very Large', 'Large Telescope', 'Telescope Paranal', 'Paranal Observatory', 'Observatory European', 'European Extremely', 'Extremely Large', 'Large Telescope'] appears [114, 114, 13, 29, 3, 1, 43, 41, 0, 2, 0, 0, 24, 1584, 515, 0, 1, 0, 1, 111, 515] times in abstracts data.
--------------------------------------------------------------------------------
['Fabra', 'Observatory'] appears [0, 3950] times in abstracts data.
['Fabra Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Fan', 'Mountain', 'Observatory'] appears [379, 76, 3950] times in abstracts data.
['Fan Mountain', 'Mountain Observatory'] appears [0, 24] times in abstracts data.
--------------------------------------------------------------------------------
['Five-hundred-meter', 'Aperture', 'Spherical', 'Radio', 'Telescope'] appears [3, 696, 2158, 9524, 10808] times in abstracts data.
['Five-hundred-meter Aperture', 'Aperture Spherical', 'Spherical Radio', 'Radio Telescope'] appears [3, 9, 4, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Félix', 'Aguilar', 'Observatory'] appears [0, 8, 3950] times in abstracts data.
['Félix Aguilar', 'Aguilar Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Fernbank', 'Observatory'] appears [0, 3950] times in abstracts data.
['Fernbank Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Fermi', 'Gamma-ray', 'Space', 'Telescope'] appears [624, 3389, 10148, 10808] times in abstracts data.
['Fermi Gamma-ray', 'Gamma-ray Space', 'Space Telescope'] appears [62, 64, 4281] times in abstracts data.
--------------------------------------------------------------------------------
['Fick', 'Observatory'] appears [3, 3950] times in abstracts data.
['Fick Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Five', 'College', 'Radio', 'Astronomy', 'Observatory', '(defunct)'] appears [2689, 77, 9524, 1242, 3950, 0] times in abstracts data.
['Five College', 'College Radio', 'Radio Astronomy', 'Astronomy Observatory', 'Observatory (defunct)'] appears [20, 18, 175, 92, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Flarestar', 'Observatory'] appears [0, 3950] times in abstracts data.
['Flarestar Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Foggy', 'Bottom', 'Observatory'] appears [2, 259, 3950] times in abstracts data.
['Foggy Bottom', 'Bottom Observatory'] appears [2, 2] times in abstracts data.
--------------------------------------------------------------------------------
['Foothill', 'Observatory'] appears [0, 3950] times in abstracts data.
['Foothill Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Ford', 'Observatory'] appears [311, 3950] times in abstracts data.
['Ford Observatory'] appears [3] times in abstracts data.
--------------------------------------------------------------------------------
['Fox', 'Observatory'] appears [2, 3950] times in abstracts data.
['Fox Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Fox', 'Park', 'Public', 'Observatory'] appears [2, 529, 668, 3950] times in abstracts data.
['Fox Park', 'Park Public', 'Public Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Francis', 'Marion', 'University', 'Observatory'] appears [22, 3, 617, 3950] times in abstracts data.
['Francis Marion', 'Marion University', 'University Observatory'] appears [0, 0, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Fred', 'Lawrence', 'Whipple', 'Observatory'] appears [41, 34, 108, 3950] times in abstracts data.
['Fred Lawrence', 'Lawrence Whipple', 'Whipple Observatory'] appears [10, 10, 59] times in abstracts data.
--------------------------------------------------------------------------------
['Fremont', 'Peak', 'Observatory'] appears [0, 5495, 3950] times in abstracts data.
['Fremont Peak', 'Peak Observatory'] appears [0, 2] times in abstracts data.
--------------------------------------------------------------------------------
['Frosty', 'Drew', 'Observatory'] appears [2, 28, 3950] times in abstracts data.
['Frosty Drew', 'Drew Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Fuertes', 'Observatory'] appears [0, 3950] times in abstracts data.
['Fuertes Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Galaxy', 'Evolution', 'Explorer', '(GALEX)'] appears [17325, 14449, 1333, 112] times in abstracts data.
['Galaxy Evolution', 'Evolution Explorer', 'Explorer (GALEX)'] appears [756, 138, 94] times in abstracts data.
--------------------------------------------------------------------------------
['Gaocheng', 'Astronomical', 'Observatory'] appears [0, 1486, 3950] times in abstracts data.
['Gaocheng Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Gauribidanur', 'Radio', 'Observatory'] appears [5, 9524, 3950] times in abstracts data.
['Gauribidanur Radio', 'Radio Observatory'] appears [4, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Gemini', 'Observatory'] appears [365, 3950] times in abstracts data.
['Gemini Observatory'] appears [9] times in abstracts data.
--------------------------------------------------------------------------------
['Giant', 'Meterwave', 'Radio', 'Telescope', '(GMRT)'] appears [6155, 19, 9524, 10808, 73] times in abstracts data.
['Giant Meterwave', 'Meterwave Radio', 'Radio Telescope', 'Telescope (GMRT)'] appears [14, 17, 611, 73] times in abstracts data.
--------------------------------------------------------------------------------
['Gifford', 'Observatory'] appears [1, 3950] times in abstracts data.
['Gifford Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Girawali', 'Observatory'] appears [0, 3950] times in abstracts data.
['Girawali Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Glen', 'D.', 'Riley', 'Observatory'] appears [10, 23479, 135, 3950] times in abstracts data.
['Glen D.', 'D. Riley', 'Riley Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Godlee', 'Observatory'] appears [0, 3950] times in abstracts data.
['Godlee Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Goodsell', 'Observatory'] appears [1, 3950] times in abstracts data.
['Goodsell Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Goethe', 'Link', 'Observatory'] appears [0, 1431, 3950] times in abstracts data.
['Goethe Link', 'Link Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Goldendale', 'Observatory'] appears [0, 3950] times in abstracts data.
['Goldendale Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------

['Gornergrat', '(HFSJG)', '(defunct)'] appears [0, 0, 0] times in abstracts data.
['Gornergrat (HFSJG)', '(HFSJG) (defunct)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Granat', '(defunct)'] appears [16, 0] times in abstracts data.
['Granat (defunct)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Gran', 'Telescopio', 'Canarias'] appears [673, 26, 32] times in abstracts data.
['Gran Telescopio', 'Telescopio Canarias'] appears [19, 19] times in abstracts data.
--------------------------------------------------------------------------------
['Grant', 'O.', 'Gale', 'Observatory'] appears [37, 3837, 335, 3950] times in abstracts data.
['Grant O.', 'O. Gale', 'Gale Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Green', 'Bank', 'Telescope,'] appears [522, 235, 1001] times in abstracts data.
['Green Bank', 'Bank Telescope,'] appears [158, 20] times in abstracts data.
--------------------------------------------------------------------------------
['Green', 'Point', 'Observatory,'] appears [522, 6078, 451] times in abstracts data.
['Green Point', 'Point Observatory,'] appears [0, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Grenfell', 'Observatory'] appears [0, 3950] times in abstracts data.
['Grenfell Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Griffith', 'Observatory'] appears [2, 3950] times in abstracts data.
['Griffith Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Guillermo', 'Haro', 'Observatory'] appears [11, 241, 3950] times in abstracts data.
['Guillermo Haro', 'Haro Observatory'] appears [11, 0] times in abstracts data.
--------------------------------------------------------------------------------
['HALCA', '(defunct)'] appears [3, 0] times in abstracts data.
['HALCA (defunct)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Haleakala', 'Observatory'] appears [5, 3950] times in abstracts data.
['Haleakala Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Halley', 'Observatory'] appears [76, 3950] times in abstracts data.
['Halley Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Hamburg', 'Observatory'] appears [60, 3950] times in abstracts data.
['Hamburg Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Hat', 'Creek', 'Radio', 'Observatory'] appears [52789, 9, 9524, 3950] times in abstracts data.
['Hat Creek', 'Creek Radio', 'Radio Observatory'] appears [9, 2, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Hard', 'Labor', 'Creek', 'Observatory'] appears [3151, 1539, 9, 3950] times in abstracts data.
['Hard Labor', 'Labor Creek', 'Creek Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Space', 'Hard', 'X-Ray', 'Modulation', 'Telescope', '(HXMT)'] appears [10148, 3151, 11374, 985, 10808, 3] times in abstracts data.
['Space Hard', 'Hard X-Ray', 'X-Ray Modulation', 'Modulation Telescope', 'Telescope (HXMT)'] appears [0, 1110, 30, 19, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Hartung–Boothroyd', 'Observatory'] appears [0, 3950] times in abstracts data.
['Hartung–Boothroyd Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Hartebeesthoek', 'Radio', 'Astronomy', 'Observatory'] appears [5, 9524, 1242, 3950] times in abstracts data.
['Hartebeesthoek Radio', 'Radio Astronomy', 'Astronomy Observatory'] appears [4, 175, 92] times in abstracts data.
--------------------------------------------------------------------------------
['Hartwell', 'House'] appears [0, 102] times in abstracts data.
['Hartwell House'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Harvard', 'College', 'Observatory'] appears [78, 77, 3950] times in abstracts data.
['Harvard College', 'College Observatory'] appears [14, 14] times in abstracts data.
--------------------------------------------------------------------------------
['Haute-Provence', 'Observatory'] appears [8, 3950] times in abstracts data.
['Haute-Provence Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Haystack', 'Observatory'] appears [26, 3950] times in abstracts data.
['Haystack Observatory'] appears [4] times in abstracts data.
--------------------------------------------------------------------------------
['Hector', 'J', 'Robinson', 'Observatory'] appears [0, 33908, 29, 3950] times in abstracts data.
['Hector J', 'J Robinson', 'Robinson Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Helium', 'and', 'Lead', 'Observatory'] appears [1536, 62845, 5064, 3950] times in abstracts data.
['Helium and', 'and Lead', 'Lead Observatory'] appears [122, 186, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Helmos', 'Observatory'] appears [0, 3950] times in abstracts data.
['Helmos Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Helsinki', 'University', 'Observatory'] appears [5, 617, 3950] times in abstracts data.
['Helsinki University', 'University Observatory'] appears [3, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Herrett', 'Observatory'] appears [0, 3950] times in abstracts data.
['Herrett Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Herschel', 'Space', 'Observatory'] appears [315, 10148, 3950] times in abstracts data.
['Herschel Space', 'Space Observatory'] appears [53, 409] times in abstracts data.
--------------------------------------------------------------------------------
['Hidden', 'Valley', 'Observatory'] appears [420, 147, 3950] times in abstracts data.
['Hidden Valley', 'Valley Observatory'] appears [1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Hida', 'Observatory,', 'Kyoto', 'University'] appears [23, 451, 10, 617] times in abstracts data.
['Hida Observatory,', 'Observatory, Kyoto', 'Kyoto University'] appears [0, 1, 5] times in abstracts data.
--------------------------------------------------------------------------------
['Heyden', 'Observatory,', 'Georgetown', 'University'] appears [0, 451, 0, 617] times in abstracts data.
['Heyden Observatory,', 'Observatory, Georgetown', 'Georgetown University'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['High', 'Altitude', 'Water', 'Cherenkov', 'Observatory'] appears [28343, 427, 946, 273, 3950] times in abstracts data.
['High Altitude', 'Altitude Water', 'Water Cherenkov', 'Cherenkov Observatory'] appears [72, 12, 26, 5] times in abstracts data.
--------------------------------------------------------------------------------
['High', 'Energy', 'Stereoscopic', 'System'] appears [28343, 11726, 97, 17120] times in abstracts data.
['High Energy', 'Energy Stereoscopic', 'Stereoscopic System'] appears [825, 44, 54] times in abstracts data.
--------------------------------------------------------------------------------

['Highland', 'Road', 'Park', 'Observatory'] appears [6, 5570, 529, 3950] times in abstracts data.
['Highland Road', 'Road Park', 'Park Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Hinode'] appears [98] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Hirsch', 'Observatory'] appears [1, 3950] times in abstracts data.
['Hirsch Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Hobbs', 'Observatory'] appears [6, 3950] times in abstracts data.
['Hobbs Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Hoher', 'List', 'Observatory'] appears [0, 2429, 3950] times in abstracts data.
['Hoher List', 'List Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Holcomb', 'Observatory', 'and', 'Planetarium'] appears [0, 3950, 62845, 9] times in abstracts data.
['Holcomb Observatory', 'Observatory and', 'and Planetarium'] appears [0, 192, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Hong', 'Kong', 'Observatory'] appears [17, 8, 3950] times in abstracts data.
['Hong Kong', 'Kong Observatory'] appears [3, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Hoober', 'Observatory'] appears [0, 3950] times in abstracts data.
['Hoober Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Hopkins', 'Observatory'] appears [96, 3950] times in abstracts data.
['Hopkins Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Howell', 'Observatory'] appears [12, 3950] times in abstracts data.
['Howell Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Hradec', 'Králové', 'Observatory'] appears [0, 0, 3950] times in abstracts data.
['Hradec Králové', 'Králové Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Huairou', 'Solar', 'Observing', 'Station'] appears [11, 10845, 1319, 879] times in abstracts data.
['Huairou Solar', 'Solar Observing', 'Observing Station'] appears [7, 12, 17] times in abstracts data.
--------------------------------------------------------------------------------
['Hubble', 'Space', 'Telescope'] appears [4804, 10148, 10808] times in abstracts data.
['Hubble Space', 'Space Telescope'] appears [3165, 4281] times in abstracts data.
--------------------------------------------------------------------------------
['Huggins', 'Observatory', 'defunct'] appears [3, 3950, 2] times in abstracts data.
['Huggins Observatory', 'Observatory defunct'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Hume', 'Cronyn', 'Memorial', 'Observatory'] appears [0, 0, 7, 3950] times in abstracts data.
['Hume Cronyn', 'Cronyn Memorial', 'Memorial Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Hyde', 'Memorial', 'Observatory'] appears [58, 7, 3950] times in abstracts data.
['Hyde Memorial', 'Memorial Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['IceCube', 'Neutrino', 'Observatory'] appears [98, 1141, 3950] times in abstracts data.
['IceCube Neutrino', 'Neutrino Observatory'] appears [16, 33] times in abstracts data.
--------------------------------------------------------------------------------
['Indian', 'Astronomical', 'Observatory'] appears [62, 1486, 3950] times in abstracts data.
['Indian Astronomical', 'Astronomical Observatory'] appears [2, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Instituto', 'de', 'Astrofísica', 'de', 'Canarias'] appears [35, 62741, 9, 62741, 32] times in abstracts data.
['Instituto de', 'de Astrofísica', 'Astrofísica de', 'de Canarias'] appears [32, 9, 7, 9] times in abstracts data.
--------------------------------------------------------------------------------
['INTEGRAL'] appears [1036] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Infrared', 'Astronomical', 'Satellite', '(IRAS)', '(defunct)'] appears [8134, 1486, 3148, 62, 0] times in abstracts data.
['Infrared Astronomical', 'Astronomical Satellite', 'Satellite (IRAS)', '(IRAS) (defunct)'] appears [61, 67, 57, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Infrared', 'Space', 'Observatory', '(ISO)', '(defunct)'] appears [8134, 10148, 3950, 140, 0] times in abstracts data.
['Infrared Space', 'Space Observatory', 'Observatory (ISO)', '(ISO) (defunct)'] appears [323, 409, 136, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Innsbruck', 'Observatory'] appears [2, 3950] times in abstracts data.
['Innsbruck Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['IRAM', '30m', 'telescope'] appears [188, 41, 10808] times in abstracts data.
['IRAM 30m', '30m telescope'] appears [0, 1] times in abstracts data.
--------------------------------------------------------------------------------
['IRAM', 'Plateau', 'de', 'Bure', 'Interferometer'] appears [188, 386, 62741, 61, 877] times in abstracts data.
['IRAM Plateau', 'Plateau de', 'de Bure', 'Bure Interferometer'] appears [27, 57, 57, 42] times in abstracts data.
--------------------------------------------------------------------------------
['Iranian', 'National', 'Observatory'] appears [0, 808, 3950] times in abstracts data.
['Iranian National', 'National Observatory'] appears [0, 71] times in abstracts data.
--------------------------------------------------------------------------------
['Isaac', 'Newton', 'Group', 'of', 'Telescopes'] appears [128, 1583, 3976, 63810, 1673] times in abstracts data.
['Isaac Newton', 'Newton Group', 'Group of', 'of Telescopes'] appears [73, 8, 526, 57] times in abstracts data.
--------------------------------------------------------------------------------
['Isasc', "Roberts'", 'Observatory', '(defunct)'] appears [3, 0, 3950, 0] times in abstracts data.
["Isasc Roberts'", "Roberts' Observatory", 'Observatory (defunct)'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Iso-Heikkilä', 'Observatory', '(defunct)'] appears [0, 3950, 0] times in abstracts data.
['Iso-Heikkilä Observatory', 'Observatory (defunct)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Constantinople', 'Observatory', 'of', 'Taqi', 'ad-Din'] appears [0, 3950, 63810, 0, 0] times in abstracts data.
['Constantinople Observatory', 'Observatory of', 'of Taqi', 'Taqi ad-Din'] appears [0, 127, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Istanbul', 'University', 'Observatory'] appears [2, 617, 3950] times in abstracts data.
['Istanbul University', 'University Observatory'] appears [0, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Istituto', 'Ricerche', 'Solari', 'Locarno,', 'IRSOL'] appears [27, 4, 2, 2, 2] times in abstracts data.
['Istituto Ricerche', 'Ricerche Solari', 'Solari Locarno,', 'Locarno, IRSOL'] appears [2, 2, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------

['IXPE'] appears [3] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Jack', 'C.', 'Davis', 'Observatory'] appears [91, 5539, 59, 3950] times in abstracts data.
['Jack C.', 'C. Davis', 'Davis Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Astronomical', 'Observatory', 'of', 'the', 'Jagiellonian', 'University'] appears [1486, 3950, 63810, 63868, 6, 617] times in abstracts data.
['Astronomical Observatory', 'Observatory of', 'of the', 'the Jagiellonian', 'Jagiellonian University'] appears [113, 127, 58406, 4, 6] times in abstracts data.
--------------------------------------------------------------------------------
['James', 'Clerk', 'Maxwell', 'Telescope'] appears [318, 166, 310, 10808] times in abstracts data.
['James Clerk', 'Clerk Maxwell', 'Maxwell Telescope'] appears [164, 164, 161] times in abstracts data.
--------------------------------------------------------------------------------
['James', 'Gregory', 'Telescope'] appears [318, 15, 10808] times in abstracts data.
['James Gregory', 'Gregory Telescope'] appears [2, 0] times in abstracts data.
--------------------------------------------------------------------------------
['James', 'Webb', 'Space', 'Telescope'] appears [318, 136, 10148, 10808] times in abstracts data.
['James Webb', 'Webb Space', 'Space Telescope'] appears [121, 122, 4281] times in abstracts data.
--------------------------------------------------------------------------------
['James', 'Wylie', 'Shepherd', 'Observatory'] appears [318, 0, 21, 3950] times in abstracts data.
['James Wylie', 'Wylie Shepherd', 'Shepherd Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Jakarta', 'Observatory'] appears [0, 3950] times in abstracts data.
['Jakarta Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Jantar', 'Mantar'] appears [0, 0] times in abstracts data.
['Jantar Mantar'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Jena', 'Observatory'] appears [17, 3950] times in abstracts data.
['Jena Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Jewett', 'Observatory'] appears [0, 3950] times in abstracts data.
['Jewett Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Jodrell', 'Bank', 'Observatory'] appears [70, 235, 3950] times in abstracts data.
['Jodrell Bank', 'Bank Observatory'] appears [63, 3] times in abstracts data.
--------------------------------------------------------------------------------
['JAC', 'Johor', 'Astronomy'] appears [384, 0, 1242] times in abstracts data.
['JAC Johor', 'Johor Astronomy'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Jones', 'Observatory'] appears [42, 3950] times in abstracts data.
['Jones Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Judson', 'B.', 'Coit', 'Observatory'] appears [0, 1407, 2, 3950] times in abstracts data.
['Judson B.', 'B. Coit', 'Coit Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['KAIRA'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Khajeh', 'Nasiredin', 'Observatory'] appears [0, 0, 3950] times in abstracts data.
['Khajeh Nasiredin', 'Nasiredin Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Kamioka', 'Observatory'] appears [36, 3950] times in abstracts data.
['Ladd', 'Observatory'] appears [80, 3950] times in abstracts data.
['Ladd Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Lake', 'Afton', 'Public', 'Observatory'] appears [38, 0, 668, 3950] times in abstracts data.
['Lake Afton', 'Afton Public', 'Public Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Lamont–Hussey', 'Observatory', '(defunct)'] appears [0, 3950, 0] times in abstracts data.
['Lamont–Hussey Observatory', 'Observatory (defunct)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Landessternwarte', 'Heidelberg-Königstuhl'] appears [6, 3] times in abstracts data.
['Landessternwarte Heidelberg-Königstuhl'] appears [3] times in abstracts data.
--------------------------------------------------------------------------------
['Landolt', 'Astronomical', 'Observatory'] appears [12, 1486, 3950] times in abstracts data.
['Landolt Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['La', 'Plata', 'Astronomical', 'Observatory'] appears [62738, 5, 1486, 3950] times in abstracts data.
['La Plata', 'Plata Astronomical', 'Astronomical Observatory'] appears [3, 0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['La', 'Silla', 'Observatory'] appears [62738, 41, 3950] times in abstracts data.
['La Silla', 'Silla Observatory'] appears [29, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Large', 'High', 'Altitude', 'Air', 'Shower', 'Observatory', '(LHAASO)'] appears [23305, 28343, 427, 3378, 229, 3950, 6] times in abstracts data.
['Large High', 'High Altitude', 'Altitude Air', 'Air Shower', 'Shower Observatory', 'Observatory (LHAASO)'] appears [24, 72, 10, 142, 8, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Large', 'Sky', 'Area', 'Multi-Object', 'Fibre', 'Spectroscopic', 'Telescope', '(LAMOST)'] appears [23305, 6025, 2739, 169, 46, 5026, 10808, 5] times in abstracts data.
['Large Sky', 'Sky Area', 'Area Multi-Object', 'Multi-Object Fibre', 'Fibre Spectroscopic', 'Spectroscopic Telescope', 'Telescope (LAMOST)'] appears [41, 65, 7, 0, 0, 16, 5] times in abstracts data.
--------------------------------------------------------------------------------
['Large', 'Millimeter', 'Telescope'] appears [23305, 1367, 10808] times in abstracts data.
['Large Millimeter', 'Millimeter Telescope'] appears [86, 64] times in abstracts data.
--------------------------------------------------------------------------------
['Las', 'Brisas', 'Observatory'] appears [13444, 0, 3950] times in abstracts data.
['Las Brisas', 'Brisas Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Las', 'Campanas', 'Observatory'] appears [13444, 109, 3950] times in abstracts data.
['Las Campanas', 'Campanas Observatory'] appears [107, 47] times in abstracts data.
--------------------------------------------------------------------------------
['Las', 'Cumbres', 'Observatory', 'Global', 'Telescope'] appears [13444, 3, 3950, 2773, 10808] times in abstracts data.
['Las Cumbres', 'Cumbres Observatory', 'Observatory Global', 'Global Telescope'] appears [3, 3, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Laws', 'Observatory'] appears [548, 3950] times in abstracts data.
['Laws Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Leander', 'McCormick', 'Observatory'] appears [0, 0, 3950] times in abstracts data.
['Leander McCormick', 'McCormick Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------

['Lee', 'Observatory'] appears [116, 3950] times in abstracts data.
['Lee Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Leiden', 'Observatory'] appears [28, 3950] times in abstracts data.
['Leiden Observatory'] appears [8] times in abstracts data.
--------------------------------------------------------------------------------
['Leipzig', 'Observatory'] appears [1, 3950] times in abstracts data.
['Leipzig Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Leoncito', 'Astronomical', 'Complex'] appears [7, 1486, 2936] times in abstracts data.
['Leoncito Astronomical', 'Astronomical Complex'] appears [0, 2] times in abstracts data.
--------------------------------------------------------------------------------
['Levenhagen', 'Observatory'] appears [0, 3950] times in abstracts data.
['Levenhagen Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Lick', 'Observatory'] appears [337, 3950] times in abstracts data.
['Lick Observatory'] appears [85] times in abstracts data.
--------------------------------------------------------------------------------
['LightBuckets', '(commercial', 'observatory)'] appears [0, 0, 37] times in abstracts data.
['LightBuckets (commercial', '(commercial observatory)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['LIGO'] appears [326] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Lindheimer', 'Astrophysical', 'Research', 'Center', '(defunct)'] appears [0, 1907, 1054, 4689, 0] times in abstracts data.
['Lindheimer Astrophysical', 'Astrophysical Research', 'Research Center', 'Center (defunct)'] appears [0, 31, 14, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Llano', 'de', 'Chajnantor', 'Observatory'] appears [8, 62741, 0, 3950] times in abstracts data.
['Llano de', 'de Chajnantor', 'Chajnantor Observatory'] appears [2, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Llano', 'del', 'Hato', 'National', 'Astronomical', 'Observatory'] appears [8, 28170, 31, 808, 1486, 3950] times in abstracts data.
['Llano del', 'del Hato', 'Hato National', 'National Astronomical', 'Astronomical Observatory'] appears [2, 2, 0, 39, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Lockyer', 'Technology', 'Centre'] appears [2, 298, 1880] times in abstracts data.
['Lockyer Technology', 'Technology Centre'] appears [0, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Long', 'Wavelength', 'Array'] appears [13581, 5906, 2905] times in abstracts data.
['Long Wavelength', 'Wavelength Array'] appears [132, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Longa', 'Vista', 'Observatory'] appears [612, 27, 3950] times in abstracts data.
['Longa Vista', 'Vista Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Lowell', 'Observatory', 'Anderson', 'Mesa', 'Station'] appears [40, 3950, 14, 10, 879] times in abstracts data.
['Lowell Observatory', 'Observatory Anderson', 'Anderson Mesa', 'Mesa Station'] appears [27, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Lucknow', '(King', 'of', "Oudh's)", 'Observatory'] appears [0, 12, 63810, 0, 3950] times in abstracts data.
['Lucknow (King', '(King of', "of Oudh's)", "Oudh's) Observatory"] appears [0, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Lulin', 'Observatory'] appears [6, 3950] times in abstracts data.
['Lulin Observatory'] appears [2] times in abstracts data.
--------------------------------------------------------------------------------
['Lund', 'Observatory'] appears [93, 3950] times in abstracts data.
['Lund Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Luoxue', 'Mountain', 'Cosmic', 'Rays', 'Research', 'Center'] appears [0, 76, 5786, 4153, 1054, 4689] times in abstracts data.
['Luoxue Mountain', 'Mountain Cosmic', 'Cosmic Rays', 'Rays Research', 'Research Center'] appears [0, 0, 1239, 0, 14] times in abstracts data.
--------------------------------------------------------------------------------
['Lyon', 'Observatory'] appears [17, 3950] times in abstracts data.
['Lyon Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Macalester', 'College', 'Observatory'] appears [0, 77, 3950] times in abstracts data.
['Macalester College', 'College Observatory'] appears [0, 14] times in abstracts data.
--------------------------------------------------------------------------------
['Macfarlane', 'Observatory', 'defunct'] appears [0, 3950, 2] times in abstracts data.
['Macfarlane Observatory', 'Observatory defunct'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Magdalena', 'Ridge', 'Observatory', '(under', 'construction)'] appears [0, 718, 3950, 22, 0] times in abstracts data.
['Magdalena Ridge', 'Ridge Observatory', 'Observatory (under', '(under construction)'] appears [0, 6, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Majorca', 'Observatory'] appears [0, 3950] times in abstracts data.
['Majorca Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Malakoff', 'Tower'] appears [0, 52] times in abstracts data.
['Malakoff Tower'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Manastash', 'Ridge', 'Observatory'] appears [4, 718, 3950] times in abstracts data.
['Manastash Ridge', 'Ridge Observatory'] appears [4, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Manuel', 'Foster', 'Observatory', '(defunct)'] appears [8, 19, 3950, 0] times in abstracts data.
['Manuel Foster', 'Foster Observatory', 'Observatory (defunct)'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Maragheh', 'Observatory'] appears [2, 3950] times in abstracts data.
['Maragheh Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Margaret', 'M.', 'Jacoby', 'Observatory'] appears [1, 11256, 5, 3950] times in abstracts data.
['Margaret M.', 'M. Jacoby', 'Jacoby Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Maria', 'Mitchell', 'Observatory'] appears [11, 7, 3950] times in abstracts data.
['Maria Mitchell', 'Mitchell Observatory'] appears [1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Marina', 'Towers', 'Observatory', '(Not', 'In', 'Use)'] appears [1, 5, 3950, 120, 63942, 158] times in abstracts data.
['Marina Towers', 'Towers Observatory', 'Observatory (Not', '(Not In', 'In Use)'] appears [0, 0, 0, 10, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Markree', 'Observatory', '(defunct)'] appears [0, 3950, 0] times in abstracts data.
['Markree Observatory', 'Observatory (defunct)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------

['Marseille', 'Observatory'] appears [0, 3950] times in abstracts data.
['Marseille Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Martz', 'Observatory'] appears [0, 3950] times in abstracts data.
['Martz Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Mauna', 'Kea', 'Observatory'] appears [85, 89, 3950] times in abstracts data.
['Mauna Kea', 'Kea Observatory'] appears [59, 10] times in abstracts data.
--------------------------------------------------------------------------------
['Mauna', 'Loa', 'Solar', 'Observatory'] appears [85, 2727, 10845, 3950] times in abstracts data.
['Mauna Loa', 'Loa Solar', 'Solar Observatory'] appears [26, 17, 141] times in abstracts data.
--------------------------------------------------------------------------------
['Maynard', 'F.', 'Jordan', 'Observatory'] appears [0, 1900, 16, 3950] times in abstracts data.
['Maynard F.', 'F. Jordan', 'Jordan Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['McDonald', 'Observatory'] appears [67, 3950] times in abstracts data.
['McDonald Observatory'] appears [43] times in abstracts data.
--------------------------------------------------------------------------------
['McKim', 'Observatory'] appears [0, 3950] times in abstracts data.
['McKim Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['McMath–Hulbert', 'Solar', 'Observatory'] appears [0, 10845, 3950] times in abstracts data.
['McMath–Hulbert Solar', 'Solar Observatory'] appears [0, 141] times in abstracts data.
--------------------------------------------------------------------------------
['MDM', 'Observatory'] appears [33, 3950] times in abstracts data.
['MDM Observatory'] appears [14] times in abstracts data.
--------------------------------------------------------------------------------
['Mead', 'Observatory'] appears [5, 3950] times in abstracts data.
['Mead Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Medicina', 'Radio', 'Observatory'] appears [0, 9524, 3950] times in abstracts data.
['Medicina Radio', 'Radio Observatory'] appears [0, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Mees', 'Observatory'] appears [10, 3950] times in abstracts data.
['Mees Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Mehalso', 'Observatory'] appears [0, 3950] times in abstracts data.
['Mehalso Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Melbourne', 'Observatory'] appears [5, 3950] times in abstracts data.
['Melbourne Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Melton', 'Memorial', 'Observatory'] appears [0, 7, 3950] times in abstracts data.
['Melton Memorial', 'Memorial Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Mendenhall', 'Observatory'] appears [0, 3950] times in abstracts data.
['Mendenhall Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Menke', 'Observatory'] appears [0, 3950] times in abstracts data.
['Menke Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Metsähovi', 'Observatory'] appears [8, 3950] times in abstracts data.
['Metsähovi Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Meudon', 'Observatory'] appears [22, 3950] times in abstracts data.
['Meudon Observatory'] appears [3] times in abstracts data.
--------------------------------------------------------------------------------
['Meyer–Womble', 'Observatory'] appears [0, 3950] times in abstracts data.
['Meyer–Womble Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Michigan', 'State', 'University', 'Observatory'] appears [70, 5139, 617, 3950] times in abstracts data.
['Michigan State', 'State University', 'University Observatory'] appears [0, 68, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Observatoire', 'Midi-Pyrénées', 'Pic', 'du', 'Midi', 'Observatory', 'Toulouse', 'Observatory'] appears [32, 0, 14267, 37231, 46, 3950, 4, 3950] times in abstracts data.
['Observatoire Midi-Pyrénées', 'Midi-Pyrénées Pic', 'Pic du', 'du Midi', 'Midi Observatory', 'Observatory Toulouse', 'Toulouse Observatory'] appears [0, 0, 13, 8, 1, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Milagro'] appears [32] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Miller', 'Observatory'] appears [75, 3950] times in abstracts data.
['Miller Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Mills', 'Observatory'] appears [7, 3950] times in abstracts data.
['Mills Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
["Mind's", 'Eye', 'Observatory', 'IAU', 'W42'] appears [0, 589, 3950, 45, 9] times in abstracts data.
["Mind's Eye", 'Eye Observatory', 'Observatory IAU', 'IAU W42'] appears [0, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['MMT', 'Observatory'] appears [87, 3950] times in abstracts data.
['MMT Observatory'] appears [7] times in abstracts data.
--------------------------------------------------------------------------------
['Modine-Benstead', 'Observatory'] appears [0, 3950] times in abstracts data.
['Modine-Benstead Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Modra', 'Observatory'] appears [0, 3950] times in abstracts data.
['Modra Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Mohr', 'Observatory', '(demolished)'] appears [0, 3950, 0] times in abstracts data.
['Mohr Observatory', 'Observatory (demolished)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Moletai', 'Astronomical', 'Observatory'] appears [3, 1486, 3950] times in abstracts data.
['Moletai Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Molonglo', 'Observatory', 'Synthesis', 'Telescope', '(MOST)'] appears [33, 3950, 2245, 10808, 23] times in abstracts data.
['Molonglo Observatory', 'Observatory Synthesis', 'Synthesis Telescope', 'Telescope (MOST)'] appears [14, 17, 24, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Mont', 'Mégantic', 'Observatory'] appears [2329, 0, 3950] times in abstracts data.
['Mont Mégantic', 'Mégantic Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Monterey', 'Institute', 'for', 'Research', 'in', 'Astronomy(Oliver', 'Observing', 'Station)'] appears [0, 314, 56668, 1054, 63942, 0, 1319, 2] times in abstracts data.
['Monterey Institute', 'Institute for', 'for Research', 'Research in', 'in Astronomy(Oliver', 'Astronomy(Oliver Observing', 'Observing Station)'] appears [0, 93, 54, 139, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------

['Montevideo', 'National', 'Observatory'] appears [0, 808, 3950] times in abstracts data.
['Montevideo National', 'National Observatory'] appears [0, 71] times in abstracts data.
--------------------------------------------------------------------------------
['Moore', 'Observatory'] appears [32, 3950] times in abstracts data.
['Moore Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Morgan–Monroe', 'Observatory'] appears [0, 3950] times in abstracts data.
['Morgan–Monroe Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Morris', 'Observatory'] appears [31, 3950] times in abstracts data.
['Morris Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Morrison', 'Observatory'] appears [9, 3950] times in abstracts data.
['Morrison Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Moscow', 'Cosmic-Ray', 'Station'] appears [30, 773, 879] times in abstracts data.
['Moscow Cosmic-Ray', 'Cosmic-Ray Station'] appears [0, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Mount', 'Stony', 'Brook', 'Observatory'] appears [3139, 13, 32, 3950] times in abstracts data.
['Mount Stony', 'Stony Brook', 'Brook Observatory'] appears [0, 2, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Mounds', 'Observatory'] appears [1, 3950] times in abstracts data.
['Mounds Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Mount', 'Abu', 'InfraRed', 'Observatory'] appears [3139, 6344, 8134, 3950] times in abstracts data.
['Mount Abu', 'Abu InfraRed', 'InfraRed Observatory'] appears [0, 0, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Mount', 'Burnett', 'Observatory'] appears [3139, 0, 3950] times in abstracts data.
['Mount Burnett', 'Burnett Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Mount', 'Cuba', 'Astronomical', 'Observatory'] appears [3139, 284, 1486, 3950] times in abstracts data.
['Mount Cuba', 'Cuba Astronomical', 'Astronomical Observatory'] appears [0, 0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Mount', 'Graham', 'International', 'Observatory'] appears [3139, 43, 419, 3950] times in abstracts data.
['Mount Graham', 'Graham International', 'International Observatory'] appears [7, 6, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Mount', 'John', 'University', 'Observatory'] appears [3139, 204, 617, 3950] times in abstracts data.
['Mount John', 'John University', 'University Observatory'] appears [0, 2, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Mount', 'Laguna', 'Observatory'] appears [3139, 13, 3950] times in abstracts data.
['Mount Laguna', 'Laguna Observatory'] appears [9, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Mount', 'Lemmon', 'Observatory'] appears [3139, 2, 3950] times in abstracts data.
['Mount Lemmon', 'Lemmon Observatory'] appears [2, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Mount', 'Pleasant', 'Radio', 'Observatory'] appears [3139, 10, 9524, 3950] times in abstracts data.
['Mount Pleasant', 'Pleasant Radio', 'Radio Observatory'] appears [4, 4, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Mount', 'Stromlo', 'Observatory'] appears [3139, 25, 3950] times in abstracts data.
['Mount Stromlo', 'Stromlo Observatory'] appears [8, 1] times in abstracts data.
--------------------------------------------------------------------------------
['Mount', 'Suhora', 'Observatory'] appears [3139, 0, 3950] times in abstracts data.
['Mount Suhora', 'Suhora Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Mount', 'Wilson', 'Observatory'] appears [3139, 196, 3950] times in abstracts data.
['Mount Wilson', 'Wilson Observatory'] appears [78, 32] times in abstracts data.
--------------------------------------------------------------------------------
['Mountain', 'Skies', 'Observatory'] appears [76, 38, 3950] times in abstracts data.
['Mountain Skies', 'Skies Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Mullard', 'Radio', 'Astronomy', 'Observatory'] appears [2, 9524, 1242, 3950] times in abstracts data.
['Mullard Radio', 'Radio Astronomy', 'Astronomy Observatory'] appears [0, 175, 92] times in abstracts data.
--------------------------------------------------------------------------------
['Murchison', 'Radio-astronomy', 'Observatory'] appears [104, 7, 3950] times in abstracts data.
['Murchison Radio-astronomy', 'Radio-astronomy Observatory'] appears [7, 7] times in abstracts data.
--------------------------------------------------------------------------------
['Nachi-Katsuura', 'Observatory'] appears [0, 3950] times in abstracts data.
['Nachi-Katsuura Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Nançay', 'Radio', 'Telescope'] appears [12, 9524, 10808] times in abstracts data.
['Nançay Radio', 'Radio Telescope'] appears [6, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Nanjing', 'Astronomical', 'Instruments', 'Research', 'Centre'] appears [11, 1486, 925, 1054, 1880] times in abstracts data.
['Nanjing Astronomical', 'Astronomical Instruments', 'Instruments Research', 'Research Centre'] appears [0, 6, 0, 4] times in abstracts data.
--------------------------------------------------------------------------------
['National', 'Astronomical', 'Observatory', '(Colombia)'] appears [808, 1486, 3950, 0] times in abstracts data.
['National Astronomical', 'Astronomical Observatory', 'Observatory (Colombia)'] appears [39, 113, 0] times in abstracts data.
--------------------------------------------------------------------------------
['National', 'Astronomical', 'Observatory', 'of', 'Japan'] appears [808, 1486, 3950, 63810, 86] times in abstracts data.
['National Astronomical', 'Astronomical Observatory', 'Observatory of', 'of Japan'] appears [39, 113, 127, 8] times in abstracts data.
--------------------------------------------------------------------------------
['National', 'Astronomical', 'Observatory', '(Mexico)'] appears [808, 1486, 3950, 2] times in abstracts data.
['National Astronomical', 'Astronomical Observatory', 'Observatory (Mexico)'] appears [39, 113, 0] times in abstracts data.
--------------------------------------------------------------------------------
['National', 'Observatory', '(Brazil)'] appears [808, 3950, 0] times in abstracts data.
['National Observatory', 'Observatory (Brazil)'] appears [71, 0] times in abstracts data.
--------------------------------------------------------------------------------
['National', 'Observatory', 'of', 'Athens'] appears [808, 3950, 63810, 16] times in abstracts data.
['National Observatory', 'Observatory of', 'of Athens'] appears [71, 127, 7] times in abstracts data.
--------------------------------------------------------------------------------
['National', 'Optical', 'Astronomy', 'Observatory', 'Cerro', 'Tololo', 'Inter-American', 'Observatory', 'Gemini', 'Observatory', 'Kitt', 'Peak', 'National', 'Observatory', 'National', 'Solar', 'Observatory'] appears [808, 12092, 1242, 3950, 140, 133, 93, 3950, 365, 3950, 160, 5495, 808, 3950, 808, 10845, 3950] times in abstracts data.

['National Optical', 'Optical Astronomy', 'Astronomy Observatory', 'Observatory Cerro', 'Cerro Tololo', 'Tololo Inter-American', 'Inter-American Observatory', 'Observatory Gemini', 'Gemini Observatory', 'Observatory Kitt', 'Kitt Peak', 'Peak National', 'National Observatory', 'Observatory National', 'National Solar', 'Solar Observatory'] appears [21, 24, 92, 0, 114, 93, 89, 0, 9, 2, 158, 52, 71, 0, 37, 141] times in abstracts data.
--------------------------------------------------------------------------------
['National', 'Optical', 'Observatory'] appears [808, 12092, 3950] times in abstracts data.
['National Optical', 'Optical Observatory'] appears [21, 5] times in abstracts data.
--------------------------------------------------------------------------------
['National', 'Radio', 'Astronomy', 'Observatory', 'Atacama', 'Large', 'Millimeter', 'Array', 'Green', 'Bank', 'Telescope', 'Very', 'Large', 'Array', 'Very', 'Long', 'Baseline', 'Array'] appears [808, 9524, 1242, 3950, 132, 23305, 1367, 2905, 522, 235, 10808, 15587, 23305, 2905, 15587, 13581, 972, 2905] times in abstracts data.
['National Radio', 'Radio Astronomy', 'Astronomy Observatory', 'Observatory Atacama', 'Atacama Large', 'Large Millimeter', 'Millimeter Array', 'Array Green', 'Green Bank', 'Bank Telescope', 'Telescope Very', 'Very Large', 'Large Array', 'Array Very', 'Very Long', 'Long Baseline', 'Baseline Array'] appears [46, 175, 92, 0, 96, 86, 265, 0, 158, 126, 0, 1584, 682, 0, 532, 471, 305] times in abstracts data.
--------------------------------------------------------------------------------
['National', 'Research', 'Institute', 'of', 'Astronomy', 'and', 'Geophysics', '(NRIAG)'] appears [808, 1054, 314, 63810, 1242, 62845, 23, 0] times in abstracts data.
['National Research', 'Research Institute', 'Institute of', 'of Astronomy', 'Astronomy and', 'and Geophysics', 'Geophysics (NRIAG)'] appears [12, 26, 137, 188, 152, 15, 0] times in abstracts data.
--------------------------------------------------------------------------------
['National', 'Solar', 'Observatory'] appears [808, 10845, 3950] times in abstracts data.
['National Solar', 'Solar Observatory'] appears [37, 141] times in abstracts data.
--------------------------------------------------------------------------------
['Naval', 'Research', 'Lab.', 'Radio', 'Sta.'] appears [51, 1054, 29, 9524, 28] times in abstracts data.
['Naval Research', 'Research Lab.', 'Lab. Radio', 'Radio Sta.'] appears [17, 3, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Naylor', 'Observatory'] appears [6, 3950] times in abstracts data.
['Naylor Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Neuchâtel', 'Observatory'] appears [1, 3950] times in abstracts data.
['Neuchâtel Observatory'] appears [1] times in abstracts data.
--------------------------------------------------------------------------------
['Nice', 'Observatory'] appears [158, 3950] times in abstracts data.
['Nice Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Nizamia', 'Observatory'] appears [0, 3950] times in abstracts data.
['Nizamia Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Nordic', 'Optical', 'Telescope'] appears [26, 12092, 10808] times in abstracts data.
['Nordic Optical', 'Optical Telescope'] appears [26, 153] times in abstracts data.
--------------------------------------------------------------------------------
['Norilsk', 'Cosmic-Ray', 'Station'] appears [0, 773, 879] times in abstracts data.
['Norilsk Cosmic-Ray', 'Cosmic-Ray Station'] appears [0, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Norman', 'Lockyer', 'Observatory'] appears [21, 2, 3950] times in abstracts data.
['Norman Lockyer', 'Lockyer Observatory'] appears [1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Northern', 'Arizona', 'University', 'Observatory'] appears [748, 93, 617, 3950] times in abstracts data.
['Northern Arizona', 'Arizona University', 'University Observatory'] appears [0, 0, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Northern', 'Skies', 'Observatory'] appears [748, 38, 3950] times in abstracts data.
['Northern Skies', 'Skies Observatory'] appears [2, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Northolt', 'Branch', 'Observatory'] appears [0, 2076, 3950] times in abstracts data.
['Northolt Branch', 'Branch Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Northolt', 'Branch', 'Observatory', '2,', "Shepherd's", 'Bush'] appears [0, 2076, 3950, 5245, 0, 28] times in abstracts data.
['Northolt Branch', 'Branch Observatory', 'Observatory 2,', "2, Shepherd's", "Shepherd's Bush"] appears [0, 0, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Northolt', 'Branch', 'Observatory', '3,', 'Blandford', 'Forum'] appears [0, 2076, 3950, 4463, 93, 7] times in abstracts data.
['Northolt Branch', 'Branch Observatory', 'Observatory 3,', '3, Blandford', 'Blandford Forum'] appears [0, 0, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['North', 'Georgia', 'Astronomical', 'Observatory'] appears [2127, 10, 1486, 3950] times in abstracts data.
['North Georgia', 'Georgia Astronomical', 'Astronomical Observatory'] appears [0, 0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['North', 'Otago', 'Astronomical', 'Society', 'Observatory'] appears [2127, 0, 1486, 232, 3950] times in abstracts data.
['North Otago', 'Otago Astronomical', 'Astronomical Society', 'Society Observatory'] appears [0, 0, 186, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Nyrölä', 'Observatory'] appears [3, 3950] times in abstracts data.
['Nyrölä Observatory'] appears [3] times in abstracts data.
--------------------------------------------------------------------------------
['OAC', '(Observatorio', 'Astronómico', 'de', 'Córdoba)'] appears [3322, 1, 3, 62741, 0] times in abstracts data.
['OAC (Observatorio', '(Observatorio Astronómico', 'Astronómico de', 'de Córdoba)'] appears [0, 0, 1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['OAO', '(Observatorio', 'de', 'Aras', 'de', 'los', 'Olmos)'] appears [112, 1, 62741, 155, 62741, 14156, 0] times in abstracts data.
['OAO (Observatorio', '(Observatorio de', 'de Aras', 'Aras de', 'de los', 'los Olmos)'] appears [0, 1, 0, 4, 18, 0] times in abstracts data.
--------------------------------------------------------------------------------
["O'Brien", 'Observatory'] appears [1, 3950] times in abstracts data.
["O'Brien Observatory"] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Observatoire', 'du', 'Pic', 'de', 'Château-Renard'] appears [32, 37231, 14267, 62741, 0] times in abstracts data.
['Observatoire du', 'du Pic', 'Pic de', 'de Château-Renard'] appears [7, 0, 51, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Observatorio', 'Astronómico', 'Nacional', '(Colombia)'] appears [25, 3, 23, 0] times in abstracts data.
['Observatorio Astronómico', 'Astronómico Nacional', 'Nacional (Colombia)'] appears [3, 2, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Observatorio', 'Astronomico', 'Nacional', 'Tonantzintla'] appears [25, 27, 23, 2] times in abstracts data.
['Observatorio Astronomico', 'Astronomico Nacional', 'Nacional Tonantzintla'] appears [4, 4, 0] times in abstracts data.
--------------------------------------------------------------------------------

['Observatorio', 'Solar', 'Carl', 'Sagan'] appears [25, 10845, 1262, 8] times in abstracts data.
['Observatorio Solar', 'Solar Carl', 'Carl Sagan'] appears [0, 0, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Observatory', 'House', '(defunct)'] appears [3950, 102, 0] times in abstracts data.
['Observatory House', 'House (defunct)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Observatory', 'of', 'the', 'rue', 'Serpente', '(defunct)'] appears [3950, 63810, 63868, 1297, 0, 0] times in abstracts data.
['Observatory of', 'of the', 'the rue', 'rue Serpente', 'Serpente (defunct)'] appears [127, 58406, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Oil', 'Region', 'Astronomical', 'Observatory'] appears [275, 15323, 1486, 3950] times in abstracts data.
['Oil Region', 'Region Astronomical', 'Astronomical Observatory'] appears [0, 0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Onan', 'Observatory'] appears [1510, 3950] times in abstracts data.
['Onan Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Ondokuz', 'Mayıs', 'University', 'Observatory'] appears [0, 0, 617, 3950] times in abstracts data.
['Ondokuz Mayıs', 'Mayıs University', 'University Observatory'] appears [0, 0, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Ondřejov', 'Observatory'] appears [5, 3950] times in abstracts data.
['Ondřejov Observatory'] appears [4] times in abstracts data.
--------------------------------------------------------------------------------
['Onsala', 'Space', 'Observatory'] appears [7, 10148, 3950] times in abstracts data.
['Onsala Space', 'Space Observatory'] appears [0, 409] times in abstracts data.
--------------------------------------------------------------------------------
['Ooty', 'Radio', 'Telescope'] appears [16, 9524, 10808] times in abstracts data.
['Ooty Radio', 'Radio Telescope'] appears [8, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Orchard', 'Hill', 'Observatory'] appears [0, 261, 3950] times in abstracts data.
['Orchard Hill', 'Hill Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Orioloromano', 'Observatory'] appears [0, 3950] times in abstracts data.
['Orioloromano Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Orion', '1', '(defunct)'] appears [808, 51036, 0] times in abstracts data.
['Orion 1', '1 (defunct)'] appears [4, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Orion', '2', '(defunct)'] appears [808, 45244, 0] times in abstracts data.
['Orion 2', '2 (defunct)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Orion', 'Ranch', 'Observatory'] appears [808, 2085, 3950] times in abstracts data.
['Orion Ranch', 'Ranch Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Orwell', 'Park', 'School', 'Observatory'] appears [0, 529, 114, 3950] times in abstracts data.
['Orwell Park', 'Park School', 'School Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Ostrowik', 'Observatory'] appears [0, 3950] times in abstracts data.
['Ostrowik Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Otter', 'Creek', 'Observatory'] appears [540, 9, 3950] times in abstracts data.
['Otter Creek', 'Creek Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Oulu', 'Cosmic-Ray', 'Station'] appears [3, 773, 879] times in abstracts data.
['Oulu Cosmic-Ray', 'Cosmic-Ray Station'] appears [0, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Owens', 'Valley', 'Radio', 'Observatory'] appears [101, 147, 9524, 3950] times in abstracts data.
['Owens Valley', 'Valley Radio', 'Radio Observatory'] appears [97, 50, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Pachmarhi', 'Array', 'of', 'Cerenkov', 'Telescopes', '(PACT)'] appears [1, 2905, 63810, 100, 1673, 0] times in abstracts data.
['Pachmarhi Array', 'Array of', 'of Cerenkov', 'Cerenkov Telescopes', 'Telescopes (PACT)'] appears [1, 195, 1, 35, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Palisades-Dows', 'Observatory'] appears [0, 3950] times in abstracts data.
['Palisades-Dows Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['PAGASA', 'Astronomical', 'Observatory'] appears [0, 1486, 3950] times in abstracts data.
['PAGASA Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Palermo', 'Observatory'] appears [5, 3950] times in abstracts data.
['Palermo Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Palomar', 'Observatory'] appears [396, 3950] times in abstracts data.
['Palomar Observatory'] appears [56] times in abstracts data.
--------------------------------------------------------------------------------
['Panzano', 'Observatory'] appears [0, 3950] times in abstracts data.
['Panzano Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Paranal', 'Observatory'] appears [12, 3950] times in abstracts data.
['Paranal Observatory'] appears [1] times in abstracts data.
--------------------------------------------------------------------------------
['Paris', 'Observatory'] appears [4585, 3950] times in abstracts data.
['Paris Observatory'] appears [3] times in abstracts data.
--------------------------------------------------------------------------------
['Parkes', 'Observatory'] appears [317, 3950] times in abstracts data.
['Parkes Observatory'] appears [3] times in abstracts data.
--------------------------------------------------------------------------------
['Paul', 'Robinson', 'Observatory'] appears [27, 29, 3950] times in abstracts data.
['Paul Robinson', 'Robinson Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Peach', 'Mountain', 'Observatory'] appears [0, 76, 3950] times in abstracts data.
['Peach Mountain', 'Mountain Observatory'] appears [0, 24] times in abstracts data.
--------------------------------------------------------------------------------
['Perkins', 'Observatory'] appears [1, 3950] times in abstracts data.
['Perkins Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Perth', 'Observatory'] appears [38, 3950] times in abstracts data.
['Perth Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Peterberg', 'Observatory'] appears [0, 3950] times in abstracts data.
['Peterberg Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Pic', 'du', 'Midi', 'Observatory'] appears [14267, 37231, 46, 3950] times in abstracts data.
['Pic du', 'du Midi', 'Midi Observatory'] appears [13, 8, 1] times in abstracts data.
--------------------------------------------------------------------------------

['Pico', 'dos', 'Dias', 'Observatory'] appears [24, 215, 12, 3950] times in abstracts data.
['Pico dos', 'dos Dias', 'Dias Observatory'] appears [2, 2, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Piera', 'Observatory'] appears [1, 3950] times in abstracts data.
['Piera Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Pierre', 'Auger', 'Observatory'] appears [45, 65, 3950] times in abstracts data.
['Pierre Auger', 'Auger Observatory'] appears [39, 37] times in abstracts data.
--------------------------------------------------------------------------------
['Pine', 'Bluff', 'Observatory'] appears [209, 0, 3950] times in abstracts data.
['Pine Bluff', 'Bluff Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Pine', 'Mountain', 'Observatory'] appears [209, 76, 3950] times in abstracts data.
['Pine Mountain', 'Mountain Observatory'] appears [0, 24] times in abstracts data.
--------------------------------------------------------------------------------
['Pistoia', 'Mountains', 'Astronomical', 'Observatory'] appears [0, 18, 1486, 3950] times in abstracts data.
['Pistoia Mountains', 'Mountains Astronomical', 'Astronomical Observatory'] appears [0, 0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Piwnice', 'Ovservatory'] appears [0, 0] times in abstracts data.
['Piwnice Ovservatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Planetarium', 'and', 'Astronomical', 'Observatory', 'in', 'Grudziądz'] appears [9, 62845, 1486, 3950, 63942, 2] times in abstracts data.
['Planetarium and', 'and Astronomical', 'Astronomical Observatory', 'Observatory in', 'in Grudziądz'] appears [2, 40, 113, 136, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Pollock', 'Astronomical', 'Observatory'] appears [0, 1486, 3950] times in abstracts data.
['Pollock Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Portage', 'Lake', 'Observatory', '(defunct)'] appears [0, 38, 3950, 0] times in abstracts data.
['Portage Lake', 'Lake Observatory', 'Observatory (defunct)'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Poznań', 'Observatory'] appears [1, 3950] times in abstracts data.
['Poznań Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Puckett', 'Observatory'] appears [1, 3950] times in abstracts data.
['Puckett Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Pula', 'Observatory'] appears [9860, 3950] times in abstracts data.
['Pula Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Pulkovo', 'Observatory'] appears [6, 3950] times in abstracts data.
['Pulkovo Observatory'] appears [1] times in abstracts data.
--------------------------------------------------------------------------------
['Purple', 'Mountain', 'Observatory'] appears [18, 76, 3950] times in abstracts data.
['Purple Mountain', 'Mountain Observatory'] appears [18, 24] times in abstracts data.
--------------------------------------------------------------------------------
['Quito', 'Astronomical', 'Observatory'] appears [348, 1486, 3950] times in abstracts data.
['Quito Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Radcliffe', 'Observatory'] appears [2, 3950] times in abstracts data.
['Radcliffe Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Rainwater', 'Observatory'] appears [0, 3950] times in abstracts data.
['Rainwater Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Ralph', 'A.', 'Worley', 'Observatory'] appears [11, 10188, 0, 3950] times in abstracts data.
['Ralph A.', 'A. Worley', 'Worley Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Rankin', 'Science', 'Observatory'] appears [60, 1385, 3950] times in abstracts data.
['Rankin Science', 'Science Observatory'] appears [0, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Rancho', 'Mirage', 'Library', 'and', 'Observatory'] appears [0, 2, 212, 62845, 3950] times in abstracts data.
['Rancho Mirage', 'Mirage Library', 'Library and', 'and Observatory'] appears [0, 0, 4, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Rattlesnake', 'Mountain', 'Observatory', '(defunct)'] appears [0, 76, 3950, 0] times in abstracts data.
['Rattlesnake Mountain', 'Mountain Observatory', 'Observatory (defunct)'] appears [0, 24, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Real', 'Instituto', 'y', 'Observatorio', 'de', 'la', 'Armada', '(Spain)'] appears [3134, 35, 63915, 25, 62741, 62738, 0, 5] times in abstracts data.
['Real Instituto', 'Instituto y', 'y Observatorio', 'Observatorio de', 'de la', 'la Armada', 'Armada (Spain)'] appears [0, 0, 0, 11, 347, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Red', 'Barn', 'Observatory'] appears [43465, 68, 3950] times in abstracts data.
['Red Barn', 'Barn Observatory'] appears [2, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Red', 'Buttes', 'Observatory'] appears [43465, 0, 3950] times in abstracts data.
['Red Buttes', 'Buttes Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Riley', 'Observatory'] appears [135, 3950] times in abstracts data.
['Riley Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['RIT', 'Observatory'] appears [9251, 3950] times in abstracts data.
['RIT Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Ritter', 'Observatory'] appears [2, 3950] times in abstracts data.
['Ritter Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Robert', 'A.', 'Schommer', 'Observatory'] appears [157, 10188, 0, 3950] times in abstracts data.
['Robert A.', 'A. Schommer', 'Schommer Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Robert', 'Brownlee', 'Observatory'] appears [157, 2, 3950] times in abstracts data.
['Robert Brownlee', 'Brownlee Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Robinson', 'Observatory'] appears [29, 3950] times in abstracts data.
['Robinson Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Robotic', 'Lunar', 'Observatory', '(defunct)'] appears [84, 226, 3950, 0] times in abstracts data.
['Robotic Lunar', 'Lunar Observatory', 'Observatory (defunct)'] appears [1, 5, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Roger', 'Twitchell', 'Observatory[3]'] appears [18, 0, 0] times in abstracts data.

['Roger Twitchell', 'Twitchell Observatory[3]'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Rogers', 'Observatory'] appears [7, 3950] times in abstracts data.
['Rogers Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Rolnick', 'Observatory'] appears [0, 3950] times in abstracts data.
['Rolnick Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Rome', 'Observatory'] appears [4213, 3950] times in abstracts data.
['Rome Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Roseland', 'Observatory'] appears [0, 3950] times in abstracts data.
['Roseland Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Rossall', 'School', 'Observatory'] appears [0, 114, 3950] times in abstracts data.
['Rossall School', 'School Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Rothney', 'Astrophysical', 'Observatory'] appears [0, 1907, 3950] times in abstracts data.
['Rothney Astrophysical', 'Astrophysical Observatory'] appears [0, 112] times in abstracts data.
--------------------------------------------------------------------------------
['Royal', 'Observatory,', 'Greenwich'] appears [124, 451, 21] times in abstracts data.
['Royal Observatory,', 'Observatory, Greenwich'] appears [12, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Royal', 'Observatory,', 'Edinburgh'] appears [124, 451, 22] times in abstracts data.
['Royal Observatory,', 'Observatory, Edinburgh'] appears [12, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Roque', 'de', 'los', 'Muchachos', 'Observatory'] appears [28, 62741, 14156, 16, 3950] times in abstracts data.
['Roque de', 'de los', 'los Muchachos', 'Muchachos Observatory'] appears [16, 18, 16, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Rosemary', 'Hill', 'Observatory'] appears [0, 261, 3950] times in abstracts data.
['Rosemary Hill', 'Hill Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Rozhen', 'Observatory'] appears [7, 3950] times in abstracts data.
['Rozhen Observatory'] appears [4] times in abstracts data.
--------------------------------------------------------------------------------
['Rutherford', 'Observatory'] appears [6, 3950] times in abstracts data.
['Rutherford Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['San', 'Fernando', 'Observatory', '(SFO)'] appears [1276, 3, 3950, 1] times in abstracts data.
['San Fernando', 'Fernando Observatory', 'Observatory (SFO)'] appears [3, 3, 1] times in abstracts data.
--------------------------------------------------------------------------------
['Sankt', 'Andreasberg', 'Observatory'] appears [0, 0, 3950] times in abstracts data.
['Sankt Andreasberg', 'Andreasberg Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Sayan', 'Spectrographic', 'Cosmic', 'Ray', 'Complex'] appears [8, 13, 5786, 18529, 2936] times in abstracts data.
['Sayan Spectrographic', 'Spectrographic Cosmic', 'Cosmic Ray', 'Ray Complex'] appears [0, 0, 1523, 2] times in abstracts data.
--------------------------------------------------------------------------------
['SFA', 'Observatory'] appears [545, 3950] times in abstracts data.
['SFA Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Sagamore', 'Hill', 'Radio', 'Observatory'] appears [2, 261, 9524, 3950] times in abstracts data.
['Sagamore Hill', 'Hill Radio', 'Radio Observatory'] appears [2, 2, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Shattuck', 'Observatory'] appears [0, 3950] times in abstracts data.
['Shattuck Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Sherwood', 'Observatory'] appears [0, 3950] times in abstracts data.
['Sherwood Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Seven', 'Hills', 'Observatory'] appears [1419, 14, 3950] times in abstracts data.
['Seven Hills', 'Hills Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Shamakhi', 'Astrophysical', 'Observatory'] appears [0, 1907, 3950] times in abstracts data.
['Shamakhi Astrophysical', 'Astrophysical Observatory'] appears [0, 112] times in abstracts data.
--------------------------------------------------------------------------------
['Shanghai', 'Astronomical', 'Observatory'] appears [16, 1486, 3950] times in abstracts data.
['Shanghai Astronomical', 'Astronomical Observatory'] appears [11, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Sherzer', 'Observatory'] appears [0, 3950] times in abstracts data.
['Sherzer Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Sheshan', 'Astronomical', 'Observatory'] appears [0, 1486, 3950] times in abstracts data.
['Sheshan Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Siding', 'Spring', 'Observatory'] appears [193, 122, 3950] times in abstracts data.
['Siding Spring', 'Spring Observatory'] appears [40, 25] times in abstracts data.
--------------------------------------------------------------------------------
['Sidmouth', 'Observatory'] appears [0, 3950] times in abstracts data.
['Sidmouth Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Sierra', 'Nevada', 'Observatory'] appears [8, 6, 3950] times in abstracts data.
['Sierra Nevada', 'Nevada Observatory'] appears [0, 2] times in abstracts data.
--------------------------------------------------------------------------------
['Silesian', 'Planetarium', 'and', 'Astronomical', 'Observatory'] appears [0, 9, 62845, 1486, 3950] times in abstracts data.
['Silesian Planetarium', 'Planetarium and', 'and Astronomical', 'Astronomical Observatory'] appears [0, 2, 40, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Simeiz', 'Observatory'] appears [0, 3950] times in abstracts data.
['Simeiz Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Skalnaté', 'Pleso', 'Observatory'] appears [1, 6, 3950] times in abstracts data.
['Skalnaté Pleso', 'Pleso Observatory'] appears [1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Skinakas', 'Observatory'] appears [0, 3950] times in abstracts data.
['Skinakas Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Skylab'] appears [57] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Smith', 'Observatory'] appears [178, 3950] times in abstracts data.
['Smith Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Smithsonian', 'Astrophysical', 'Observatory'] appears [32, 1907, 3950] times in abstracts data.

['Smithsonian Astrophysical', 'Astrophysical Observatory'] appears [4, 112] times in abstracts data.
--------------------------------------------------------------------------------
['Sobaeksan', 'Optical', 'Astronomy', 'Observatory'] appears [0, 12092, 1242, 3950] times in abstracts data.
['Sobaeksan Optical', 'Optical Astronomy', 'Astronomy Observatory'] appears [0, 24, 92] times in abstracts data.
--------------------------------------------------------------------------------
['Sola', 'Fide', 'Observatory'] appears [12282, 1913, 3950] times in abstracts data.
['Sola Fide', 'Fide Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Solar', 'and', 'Heliospheric', 'Observatory', '(SOHO)'] appears [10845, 62845, 457, 3950, 141] times in abstracts data.
['Solar and', 'and Heliospheric', 'Heliospheric Observatory', 'Observatory (SOHO)'] appears [484, 252, 233, 138] times in abstracts data.
--------------------------------------------------------------------------------
['Solar', 'Space', 'Telescope'] appears [10845, 10148, 10808] times in abstracts data.
['Solar Space', 'Space Telescope'] appears [3, 4281] times in abstracts data.
--------------------------------------------------------------------------------
['Sommers–Bausch', 'Observatory'] appears [0, 3950] times in abstracts data.
['Sommers–Bausch Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Sonnenborgh', 'Observatory'] appears [0, 3950] times in abstracts data.
['Sonnenborgh Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Sonoma', 'State', 'Observatory'] appears [0, 5139, 3950] times in abstracts data.
['Sonoma State', 'State Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['South', 'African', 'Astronomical', 'Observatory', 'Cape', 'Town', 'Sutherland'] appears [2336, 33, 1486, 3950, 1157, 38, 23] times in abstracts data.
['South African', 'African Astronomical', 'Astronomical Observatory', 'Observatory Cape', 'Cape Town', 'Town Sutherland'] appears [19, 13, 113, 0, 2, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Southern', 'Astrophysical', 'Research', 'Telescope', '(SOAR)'] appears [1073, 1907, 1054, 10808, 5] times in abstracts data.
['Southern Astrophysical', 'Astrophysical Research', 'Research Telescope', 'Telescope (SOAR)'] appears [7, 31, 1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['South', 'Pole', 'Telescope'] appears [2336, 1675, 10808] times in abstracts data.
['South Pole', 'Pole Telescope'] appears [96, 19] times in abstracts data.
--------------------------------------------------------------------------------
['Spanish', 'National', 'Observatory'] appears [21, 808, 3950] times in abstracts data.
['Spanish National', 'National Observatory'] appears [0, 71] times in abstracts data.
--------------------------------------------------------------------------------
['Special', 'Astrophysical', 'Observatory', 'of', 'the', 'Russian', 'Academy', 'of', 'Sciences'] appears [2211, 1907, 3950, 63810, 63868, 77, 91, 63810, 163] times in abstracts data.
['Special Astrophysical', 'Astrophysical Observatory', 'Observatory of', 'of the', 'the Russian', 'Russian Academy', 'Academy of', 'of Sciences'] appears [44, 112, 127, 58406, 44, 31, 86, 89] times in abstracts data.
--------------------------------------------------------------------------------
['Sperry', 'Observatory'] appears [0, 3950] times in abstracts data.
['Sperry Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Spitzer', 'Space', 'Telescope'] appears [1639, 10148, 10808] times in abstracts data.
['Spitzer Space', 'Space Telescope'] appears [664, 4281] times in abstracts data.
--------------------------------------------------------------------------------
['Springfield', 'Observatory'] appears [0, 3950] times in abstracts data.
['Springfield Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Sproul', 'Observatory'] appears [0, 3950] times in abstracts data.
['Sproul Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Stardome', 'Observatory'] appears [0, 3950] times in abstracts data.
['Stardome Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Starkenburg', 'Observatory'] appears [0, 3950] times in abstracts data.
['Starkenburg Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
["Štefánik's", 'Observatory'] appears [0, 3950] times in abstracts data.
["Štefánik's Observatory"] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Stellafane', 'Observatory'] appears [0, 3950] times in abstracts data.
['Stellafane Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Stephens', 'Memorial', 'Observatory'] appears [10, 7, 3950] times in abstracts data.
['Stephens Memorial', 'Memorial Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Steward', 'Observatory', 'MMT', 'Observatory', 'Mount', 'Graham', 'International', 'Observatory', 'Mount', 'Lemmon', 'Observatory'] appears [27, 3950, 87, 3950, 3139, 43, 419, 3950, 3139, 2, 3950] times in abstracts data.
['Steward Observatory', 'Observatory MMT', 'MMT Observatory', 'Observatory Mount', 'Mount Graham', 'Graham International', 'International Observatory', 'Observatory Mount', 'Mount Lemmon', 'Lemmon Observatory'] appears [22, 0, 7, 0, 7, 6, 3, 0, 2, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Stickney', 'Observatory[4]'] appears [0, 0] times in abstracts data.
['Stickney Observatory[4]'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Stjerneborg'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Stockholm', 'Observatory'] appears [3, 3950] times in abstracts data.
['Stockholm Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Stokesville', 'Observatory'] appears [0, 3950] times in abstracts data.
['Stokesville Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Stone', 'Observatory'] appears [157, 3950] times in abstracts data.
['Stone Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Stonyhurst', 'Observatory'] appears [0, 3950] times in abstracts data.
['Stonyhurst Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Strasbourg', 'Observatory'] appears [17, 3950] times in abstracts data.
['Strasbourg Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Stratospheric', 'Observatory', 'for', 'Infrared', 'Astronomy'] appears [55, 3950, 56668, 8134, 1242] times in abstracts data.
['Stratospheric Observatory', 'Observatory for', 'for Infrared', 'Infrared Astronomy'] appears [11, 78, 47, 42] times in abstracts data.
--------------------------------------------------------------------------------
['Stull', 'Observatory'] appears [0, 3950] times in abstracts data.

['Stull Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Stuttgart', 'Observatory'] appears [1, 3950] times in abstracts data.
['Stuttgart Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Submillimeter', 'Array'] appears [843, 2905] times in abstracts data.
['Submillimeter Array'] appears [152] times in abstracts data.
--------------------------------------------------------------------------------
['St.', 'Thomas', 'Observatory'] appears [3170, 54, 3950] times in abstracts data.
['St. Thomas', 'Thomas Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Sudbury', 'Neutrino', 'Observatory'] appears [15, 1141, 3950] times in abstracts data.
['Sudbury Neutrino', 'Neutrino Observatory'] appears [15, 33] times in abstracts data.
--------------------------------------------------------------------------------
['Sunriver', 'Observatory'] appears [0, 3950] times in abstracts data.
['Sunriver Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Swift', 'Gamma-Ray', 'Burst', 'Mission'] appears [678, 3389, 7926, 19382] times in abstracts data.
['Swift Gamma-Ray', 'Gamma-Ray Burst', 'Burst Mission'] appears [26, 2025, 1] times in abstracts data.
--------------------------------------------------------------------------------
['Swiss', 'Observatory', 'Polychron', 'and', 'Astronomy'] appears [15, 3950, 0, 62845, 1242] times in abstracts data.
['Swiss Observatory', 'Observatory Polychron', 'Polychron and', 'and Astronomy'] appears [0, 0, 0, 97] times in abstracts data.
--------------------------------------------------------------------------------
['Sydney', 'Observatory'] appears [37, 3950] times in abstracts data.
['Sydney Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Table', 'Mountain', 'Observatory'] appears [5897, 76, 3950] times in abstracts data.
['Table Mountain', 'Mountain Observatory'] appears [1, 24] times in abstracts data.
--------------------------------------------------------------------------------
['Tacubaya', 'Observatory'] appears [0, 3950] times in abstracts data.
['Tacubaya Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Taeduk', 'Radio', 'Astronomy', 'Observatory'] appears [0, 9524, 1242, 3950] times in abstracts data.
['Taeduk Radio', 'Radio Astronomy', 'Astronomy Observatory'] appears [0, 175, 92] times in abstracts data.
--------------------------------------------------------------------------------
['Tamke-Allan', 'Observatory'] appears [0, 3950] times in abstracts data.
['Tamke-Allan Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Tartu', 'Observatory'] appears [1, 3950] times in abstracts data.
['Tartu Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Teide', 'Observatory'] appears [45, 3950] times in abstracts data.
['Teide Observatory'] appears [9] times in abstracts data.
--------------------------------------------------------------------------------
['Ten', 'Acre', 'Observatory'] appears [33900, 7, 3950] times in abstracts data.
['Ten Acre', 'Acre Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Terskol', 'Peak', 'Observatory'] appears [4, 5495, 3950] times in abstracts data.
['Terskol Peak', 'Peak Observatory'] appears [0, 2] times in abstracts data.
--------------------------------------------------------------------------------
['Thai', 'National', 'Observatory'] appears [4, 808, 3950] times in abstracts data.
['Thai National', 'National Observatory'] appears [0, 71] times in abstracts data.
--------------------------------------------------------------------------------
['The', 'Dam', 'Observatory'] appears [63868, 3303, 3950] times in abstracts data.
['The Dam', 'Dam Observatory'] appears [179, 0] times in abstracts data.
--------------------------------------------------------------------------------
['The', 'Heights', 'Observatory'] appears [63868, 314, 3950] times in abstracts data.
['The Heights', 'Heights Observatory'] appears [5, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Texas', 'A&M', 'Astronomical', 'Observatory'] appears [40, 1, 1486, 3950] times in abstracts data.
['Texas A&M', 'A&M Astronomical', 'Astronomical Observatory'] appears [1, 0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Theodore', 'Jacobsen', 'Observatory'] appears [0, 1, 3950] times in abstracts data.
['Theodore Jacobsen', 'Jacobsen Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Thompson', 'Observatory'] appears [35, 3950] times in abstracts data.
['Thompson Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Tien', 'Shan', 'Astronomical', 'Observatory'] appears [49, 77, 1486, 3950] times in abstracts data.
['Tien Shan', 'Shan Astronomical', 'Astronomical Observatory'] appears [1, 1, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Tuorla', 'Observatory'] appears [7, 3950] times in abstracts data.
['Tuorla Observatory'] appears [5] times in abstracts data.
--------------------------------------------------------------------------------
['Trieste', 'Observatory'] appears [10, 3950] times in abstracts data.
['Trieste Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Troodos', 'Observatory'] appears [0, 3950] times in abstracts data.
['Troodos Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Turin', 'Observatory'] appears [175, 3950] times in abstracts data.
['Turin Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Udaipur', 'Solar', 'Observatory'] appears [6, 10845, 3950] times in abstracts data.
['Udaipur Solar', 'Solar Observatory'] appears [5, 141] times in abstracts data.
--------------------------------------------------------------------------------
['Ukrainian', 'T-shaped', 'Radio', 'telescope,', 'second', 'modification'] appears [5, 44, 9524, 1001, 7265, 426] times in abstracts data.
['Ukrainian T-shaped', 'T-shaped Radio', 'Radio telescope,', 'telescope, second', 'second modification'] appears [0, 0, 38, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Ulugh', 'Beg', 'Observatory'] appears [8, 1577, 3950] times in abstracts data.
['Ulugh Beg', 'Beg Observatory'] appears [8, 0] times in abstracts data.
--------------------------------------------------------------------------------
['University', 'of', 'Alabama', 'Observatory'] appears [617, 63810, 0, 3950] times in abstracts data.
['University of', 'of Alabama', 'Alabama Observatory'] appears [354, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['University', 'of', 'Alabama', 'Observatory', '(Old)'] appears [617, 63810, 0, 3950, 0] times in abstracts data.
['University of', 'of Alabama', 'Alabama Observatory', 'Observatory (Old)'] appears [354, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['University', 'of', 'North', 'Alabama', 'Observatory'] appears [617, 63810, 2127, 0, 3950] times in abstracts data.
['University of', 'of North', 'North Alabama', 'Alabama Observatory'] appears [354, 39, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------

['University', 'of', 'Illinois', 'Astronomical', 'Observatory'] appears [617, 63810, 60, 1486, 3950] times in abstracts data.
['University of', 'of Illinois', 'Illinois Astronomical', 'Astronomical Observatory'] appears [354, 4, 0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['University', 'of', 'London', 'Observatory'] appears [617, 63810, 26, 3950] times in abstracts data.
['University of', 'of London', 'London Observatory'] appears [354, 3, 0] times in abstracts data.
--------------------------------------------------------------------------------
['University', 'of', 'Maryland', 'Observatory'] appears [617, 63810, 82, 3950] times in abstracts data.
['University of', 'of Maryland', 'Maryland Observatory'] appears [354, 17, 0] times in abstracts data.
--------------------------------------------------------------------------------
['University', 'of', 'Michigan-Dearborn', 'Observatory'] appears [617, 63810, 0, 3950] times in abstracts data.
['University of', 'of Michigan-Dearborn', 'Michigan-Dearborn Observatory'] appears [354, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['University', 'of', 'New', 'Hampshire', 'Observatory'] appears [617, 63810, 14443, 3, 3950] times in abstracts data.
['University of', 'of New', 'New Hampshire', 'Hampshire Observatory'] appears [354, 783, 3, 0] times in abstracts data.
--------------------------------------------------------------------------------
['University', 'of', 'Oklahoma', 'Observatory'] appears [617, 63810, 2, 3950] times in abstracts data.
['University of', 'of Oklahoma', 'Oklahoma Observatory'] appears [354, 1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['University', 'of', 'Puerto', 'Rico', 'at', 'Humacao', 'Observatory[5]'] appears [617, 63810, 9, 39, 63868, 0, 0] times in abstracts data.
['University of', 'of Puerto', 'Puerto Rico', 'Rico at', 'at Humacao', 'Humacao Observatory[5]'] appears [354, 0, 9, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['University', 'of', 'Valencia', 'Astronomical', 'Observatory'] appears [617, 63810, 1, 1486, 3950] times in abstracts data.
['University of', 'of Valencia', 'Valencia Astronomical', 'Astronomical Observatory'] appears [354, 0, 0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Uppsala', 'Astronomical', 'Observatory'] appears [14, 1486, 3950] times in abstracts data.
['Uppsala Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Urania', '(Antwerp)'] appears [37, 0] times in abstracts data.
['Urania (Antwerp)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Urania', '(Berlin)'] appears [37, 0] times in abstracts data.
['Urania (Berlin)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Urania', '(Vienna)'] appears [37, 0] times in abstracts data.
['Urania (Vienna)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Urania', 'Observatory', '(Zürich)'] appears [37, 3950, 0] times in abstracts data.
['Urania Observatory', 'Observatory (Zürich)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Uraniborg'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Urumqi', 'Astronomical', 'Observatory'] appears [11, 1486, 3950] times in abstracts data.
['Urumqi Astronomical', 'Astronomical Observatory'] appears [4, 113] times in abstracts data.
--------------------------------------------------------------------------------
['U.S.', 'Naval', 'Observatory', '(USNO)[6]', 'Depot', 'of', 'Charts', 'and', 'Instruments', '(U.S.', 'Navy)', '(precursor,', 'renamed', 'to', 'USNO)', 'U.S.', 'Naval', 'Observatory', '(Flagstaff', 'Station)'] appears [37, 51, 3950, 0, 1, 63810, 85, 62845, 925, 1, 0, 0, 4, 62437, 8, 37, 51, 3950, 0, 2] times in abstracts data.
['U.S. Naval', 'Naval Observatory', 'Observatory (USNO)[6]', '(USNO)[6] Depot', 'Depot of', 'of Charts', 'Charts and', 'and Instruments', 'Instruments (U.S.', '(U.S. Navy)', 'Navy) (precursor,', '(precursor, renamed', 'renamed to', 'to USNO)', 'USNO) U.S.', 'U.S. Naval', 'Naval Observatory', 'Observatory (Flagstaff', '(Flagstaff Station)'] appears [4, 33, 0, 0, 0, 1, 9, 22, 0, 0, 0, 0, 0, 0, 0, 4, 33, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Valongo', 'Observatory'] appears [0, 3950] times in abstracts data.
['Valongo Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Vainu', 'Bappu', 'Observatory'] appears [2, 3, 3950] times in abstracts data.
['Vainu Bappu', 'Bappu Observatory'] appears [2, 2] times in abstracts data.
--------------------------------------------------------------------------------
['Astronomical', 'observatory', 'of', 'Aosta', 'Valley'] appears [1486, 3950, 63810, 0, 147] times in abstracts data.
['Astronomical observatory', 'observatory of', 'of Aosta', 'Aosta Valley'] appears [113, 127, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Van', 'Vleck', 'Observatory'] appears [4046, 1, 3950] times in abstracts data.
['Van Vleck', 'Vleck Observatory'] appears [1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Vanderbilt', 'University', 'Observatory'] appears [4, 617, 3950] times in abstracts data.
['Vanderbilt University', 'University Observatory'] appears [2, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Vartiovuori', 'Observatory', '(defunct)'] appears [0, 3950, 0] times in abstracts data.
['Vartiovuori Observatory', 'Observatory (defunct)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Vassar', 'College', 'Observatory', '(defunct)'] appears [1, 77, 3950, 0] times in abstracts data.
['Vassar College', 'College Observatory', 'Observatory (defunct)'] appears [0, 14, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Vatican', 'Observatory', 'Vatican', 'Advanced', 'Technology', 'Telescope'] appears [3, 3950, 3, 1005, 298, 10808] times in abstracts data.
['Vatican Observatory', 'Observatory Vatican', 'Vatican Advanced', 'Advanced Technology', 'Technology Telescope'] appears [0, 0, 3, 3, 41] times in abstracts data.
--------------------------------------------------------------------------------
['Veen', 'Observatory'] appears [8, 3950] times in abstracts data.
['Veen Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Vega–Bray', 'Observatory'] appears [0, 3950] times in abstracts data.
['Vega–Bray Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Ventspils', 'Starptautiskais', 'Radioastronomijas', 'Centrs'] appears [1, 0, 0, 0] times in abstracts data.
['Ventspils Starptautiskais', 'Starptautiskais Radioastronomijas', 'Radioastronomijas Centrs'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Vernonia', 'Peak', 'Observatory'] appears [0, 5495, 3950] times in abstracts data.
['Vernonia Peak', 'Peak Observatory'] appears [0, 2] times in abstracts data.
--------------------------------------------------------------------------------
['Very', 'Large', 'Array'] appears [15587, 23305, 2905] times in abstracts data.

['Very Large', 'Large Array'] appears [1584, 682] times in abstracts data.
--------------------------------------------------------------------------------
['Very', 'Long', 'Baseline', 'Array'] appears [15587, 13581, 972, 2905] times in abstracts data.
['Very Long', 'Long Baseline', 'Baseline Array'] appears [532, 471, 305] times in abstracts data.
--------------------------------------------------------------------------------
['Vienna', 'Observatory'] appears [3, 3950] times in abstracts data.
['Vienna Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Vilnius', 'University', 'Observatory'] appears [6, 617, 3950] times in abstracts data.
['Vilnius University', 'University Observatory'] appears [0, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Višnjan', 'Observatory'] appears [0, 3950] times in abstracts data.
['Višnjan Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Vsetín', 'Observatory'] appears [0, 3950] times in abstracts data.
['Vsetín Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Warkworth', 'Radio', 'Observatory'] appears [0, 9524, 3950] times in abstracts data.
['Warkworth Radio', 'Radio Observatory'] appears [0, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Warner', 'Observatory', '(defunct)'] appears [12, 3950, 0] times in abstracts data.
['Warner Observatory', 'Observatory (defunct)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Warner', 'and', 'Swasey', 'Observatory'] appears [12, 62845, 0, 3950] times in abstracts data.
['Warner and', 'and Swasey', 'Swasey Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Warren', 'Rupp', 'Observatory'] appears [7, 1, 3950] times in abstracts data.
['Warren Rupp', 'Rupp Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Warsaw', 'University', 'Observatory'] appears [13, 617, 3950] times in abstracts data.
['Warsaw University', 'University Observatory'] appears [1, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Washburn', 'Observatory'] appears [0, 3950] times in abstracts data.
['Washburn Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Wast', 'Hills', 'Observatory'] appears [18, 14, 3950] times in abstracts data.
['Wast Hills', 'Hills Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Weaver', 'Student', 'Observatory'] appears [26, 87, 3950] times in abstracts data.
['Weaver Student', 'Student Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Weitkamp', 'Observatory'] appears [0, 3950] times in abstracts data.
['Weitkamp Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['West', 'Mountain', 'Observatory'] appears [2135, 76, 3950] times in abstracts data.
['West Mountain', 'Mountain Observatory'] appears [0, 24] times in abstracts data.
--------------------------------------------------------------------------------
['Whakatane', 'Astronomical', 'Society'] appears [0, 1486, 232] times in abstracts data.
['Whakatane Astronomical', 'Astronomical Society'] appears [0, 186] times in abstracts data.
--------------------------------------------------------------------------------
['Whitin', 'Observatory'] appears [8, 3950] times in abstracts data.
['Whitin Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Widener', 'University', 'Observatory'] appears [0, 617, 3950] times in abstracts data.
['Widener University', 'University Observatory'] appears [0, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Wilder', 'Observatory'] appears [6, 3950] times in abstracts data.
['Wilder Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Willard', 'L.', 'Eccles', 'Observatory'] appears [2, 12082, 0, 3950] times in abstracts data.
['Willard L.', 'L. Eccles', 'Eccles Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['William', 'Brydone', 'Jack', 'Observatory'] appears [180, 0, 91, 3950] times in abstracts data.
['William Brydone', 'Brydone Jack', 'Jack Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Williams', 'Observatory'] appears [22, 3950] times in abstracts data.
['Williams Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Winer', 'Observatory'] appears [1, 3950] times in abstracts data.
['Winer Observatory'] appears [1] times in abstracts data.
--------------------------------------------------------------------------------
['Winfree', 'Observatory'] appears [0, 3950] times in abstracts data.
['Winfree Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Wise', 'Observatory'] appears [864, 3950] times in abstracts data.
['Wise Observatory'] appears [19] times in abstracts data.
--------------------------------------------------------------------------------
['Witte', 'Observatory'] appears [14, 3950] times in abstracts data.
['Witte Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['WIYN', 'Observatory'] appears [95, 3950] times in abstracts data.
['WIYN Observatory'] appears [2] times in abstracts data.
--------------------------------------------------------------------------------
['Wyoming', 'Infrared', 'Observatory'] appears [5, 8134, 3950] times in abstracts data.
['Wyoming Infrared', 'Infrared Observatory'] appears [2, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Xiangfen', 'Astronomical', 'Observatory'] appears [0, 1486, 3950] times in abstracts data.
['Xiangfen Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Xinglong', 'Station', '(NAOC)'] appears [3, 879, 2] times in abstracts data.
['Xinglong Station', 'Station (NAOC)'] appears [1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Xinjiang', 'Astronomical', 'Observatory'] appears [3, 1486, 3950] times in abstracts data.
['Xinjiang Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['XMM-Newton'] appears [885] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['XRISM'] appears [7] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Xujiahui', 'Astronomical', 'Observatory'] appears [0, 1486, 3950] times in abstracts data.
['Xujiahui Astronomical', 'Astronomical Observatory'] appears [0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Arctic', 'Space', 'Weather', 'Center'] appears [80, 10148, 288, 4689] times in abstracts data.

['Arctic Space', 'Space Weather', 'Weather Center'] appears [0, 160, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Yale', 'Student', 'Observatory'] appears [68, 87, 3950] times in abstracts data.
['Yale Student', 'Student Observatory'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Yangbajing', 'International', 'Cosmic-Ray', 'Observatory'] appears [4, 419, 773, 3950] times in abstracts data.
['Yangbajing International', 'International Cosmic-Ray', 'Cosmic-Ray Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Yantra', 'Mandir'] appears [0, 0] times in abstracts data.
['Yantra Mandir'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Yerevan', 'Cosmic-Ray', 'Station'] appears [3, 773, 879] times in abstracts data.
['Yerevan Cosmic-Ray', 'Cosmic-Ray Station'] appears [0, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Yerkes', 'Observatory'] appears [3, 3950] times in abstracts data.
['Yerkes Observatory'] appears [3] times in abstracts data.
--------------------------------------------------------------------------------
['York', 'University', 'Observatory'] appears [42, 617, 3950] times in abstracts data.
['York University', 'University Observatory'] appears [17, 28] times in abstracts data.
--------------------------------------------------------------------------------
['Yuba', 'City', 'Astronomical', 'Observatory'] appears [4, 15518, 1486, 3950] times in abstracts data.
['Yuba City', 'City Astronomical', 'Astronomical Observatory'] appears [0, 0, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Yunnan', 'Astronomical', 'Observatory'] appears [10, 1486, 3950] times in abstracts data.
['Yunnan Astronomical', 'Astronomical Observatory'] appears [3, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Zimmerwald', 'Observatory'] appears [0, 3950] times in abstracts data.
['Zimmerwald Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Zadko', 'Observatory'] appears [5, 3950] times in abstracts data.
['Zadko Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['AVN-Ghana'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['C-BASS', 'South'] appears [0, 2336] times in abstracts data.
['C-BASS South'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['HartRAO', '26m'] appears [2, 25] times in abstracts data.
['HartRAO 26m'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['HartRAO', 'XDM'] appears [2, 0] times in abstracts data.
['HartRAO XDM'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Hydrogen', 'Epoch', 'of', 'Reionization', 'Array', '(HERA)'] appears [3215, 2995, 63810, 786, 2905, 4] times in abstracts data.
['Hydrogen Epoch', 'Epoch of', 'of Reionization', 'Reionization Array', 'Array (HERA)'] appears [0, 717, 362, 0, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Hydrogen', 'Intensity', 'and', 'Real-time', 'Analysis', 'eXperiment', '(HIRAX)'] appears [3215, 2133, 62845, 80, 9550, 2619, 1] times in abstracts data.
['Hydrogen Intensity', 'Intensity and', 'and Real-time', 'Real-time Analysis', 'Analysis eXperiment', 'eXperiment (HIRAX)'] appears [6, 254, 4, 6, 1, 1] times in abstracts data.
--------------------------------------------------------------------------------
['Indlebe'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['KAT-7'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['MeerKAT'] appears [15] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Precision', 'Array', 'for', 'Probing', 'the', 'Epoch', 'of', 'Reionization', '(PAPER)'] appears [1701, 2905, 56668, 658, 63868, 2995, 63810, 786, 0] times in abstracts data.
['Precision Array', 'Array for', 'for Probing', 'Probing the', 'the Epoch', 'Epoch of', 'of Reionization', 'Reionization (PAPER)'] appears [0, 40, 109, 364, 557, 717, 362, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Degree', 'Angular', 'Scale', 'Interferometer', '(DASI)'] appears [2513, 4322, 13518, 877, 6] times in abstracts data.
['Degree Angular', 'Angular Scale', 'Scale Interferometer', 'Interferometer (DASI)'] appears [24, 301, 8, 6] times in abstracts data.
--------------------------------------------------------------------------------
['South', 'Pole', 'Telescope', '(SPT)'] appears [2336, 1675, 10808, 10] times in abstracts data.
['South Pole', 'Pole Telescope', 'Telescope (SPT)'] appears [96, 19, 9] times in abstracts data.
--------------------------------------------------------------------------------
['Delingha', '13.7', 'm'] appears [0, 100, 63987] times in abstracts data.
['Delingha 13.7', '13.7 m'] appears [0, 7] times in abstracts data.
--------------------------------------------------------------------------------
['Sheshan'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Nanshan', '25m'] appears [9, 60] times in abstracts data.
['Nanshan 25m'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Primeval', 'Structure', 'Telescope', '(PaST)'] appears [87, 11394, 10808, 0] times in abstracts data.
['Primeval Structure', 'Structure Telescope', 'Telescope (PaST)'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Chinese', 'Spectral', 'Radio', 'Heliograph', '(CSRH)'] appears [58, 9575, 9524, 96, 0] times in abstracts data.
['Chinese Spectral', 'Spectral Radio', 'Radio Heliograph', 'Heliograph (CSRH)'] appears [0, 7, 11, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Miyun', 'Synthesis', 'Radio', 'Telescope', '(MSRT)'] appears [0, 2245, 9524, 10808, 0] times in abstracts data.
['Miyun Synthesis', 'Synthesis Radio', 'Radio Telescope', 'Telescope (MSRT)'] appears [0, 62, 611, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Miyun', '50m', 'Radio', 'Telescope'] appears [0, 44, 9524, 10808] times in abstracts data.
['Miyun 50m', '50m Radio', 'Radio Telescope'] appears [0, 0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Kunming', '40m', 'Radio', 'Telescope'] appears [2, 41, 9524, 10808] times in abstracts data.
['Kunming 40m', '40m Radio', 'Radio Telescope'] appears [0, 0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Tian', 'Ma', '65m', 'Radio', 'Telescope'] appears [86, 61502, 8, 9524, 10808] times in abstracts data.
['Tian Ma', 'Ma 65m', '65m Radio', 'Radio Telescope'] appears [4, 0, 0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Giant', 'Metrewave', 'Radio', 'Telescope', '(GMRT)'] appears [6155, 103, 9524, 10808, 73] times in abstracts data.

['Giant Metrewave', 'Metrewave Radio', 'Radio Telescope', 'Telescope (GMRT)'] appears [103, 103, 611, 73] times in abstracts data.
--------------------------------------------------------------------------------
['Ooty', 'Radio', 'Telescope', '(ORT)'] appears [16, 9524, 10808, 0] times in abstracts data.
['Ooty Radio', 'Radio Telescope', 'Telescope (ORT)'] appears [8, 611, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Gauribidanur', 'Radio', 'Observatory'] appears [5, 9524, 3950] times in abstracts data.
['Gauribidanur Radio', 'Radio Observatory'] appears [4, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Nobeyama', 'radio', 'observatory'] appears [94, 9524, 3950] times in abstracts data.
['Nobeyama radio', 'radio observatory'] appears [41, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Siberian', 'Solar', 'Radio', 'Telescope', '(SSRT)'] appears [12, 10845, 9524, 10808, 1] times in abstracts data.
['Siberian Solar', 'Solar Radio', 'Radio Telescope', 'Telescope (SSRT)'] appears [3, 93, 611, 1] times in abstracts data.
--------------------------------------------------------------------------------
['Badary', 'Radio', 'Astronomical', 'Observatory'] appears [0, 9524, 1486, 3950] times in abstracts data.
['Badary Radio', 'Radio Astronomical', 'Astronomical Observatory'] appears [0, 24, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Galenki', 'RT-70', 'radio', 'telescope'] appears [0, 0, 9524, 10808] times in abstracts data.
['Galenki RT-70', 'RT-70 radio', 'radio telescope'] appears [0, 0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Suffa', 'RT-70', 'radio', 'telescope'] appears [1, 0, 9524, 10808] times in abstracts data.
['Suffa RT-70', 'RT-70 radio', 'radio telescope'] appears [0, 0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Five', 'hundred', 'meter', 'Aperture', 'Spherical', 'Telescope', '(FAST)'] appears [2689, 1467, 15729, 696, 2158, 10808, 5] times in abstracts data.
['Five hundred', 'hundred meter', 'meter Aperture', 'Aperture Spherical', 'Spherical Telescope', 'Telescope (FAST)'] appears [13, 8, 31, 9, 8, 2] times in abstracts data.
--------------------------------------------------------------------------------
['Qitai', 'Radio', 'Telescope'] appears [0, 9524, 10808] times in abstracts data.
['Qitai Radio', 'Radio Telescope'] appears [0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Thai', 'National', 'Radio', 'Telescope'] appears [4, 808, 9524, 10808] times in abstracts data.
['Thai National', 'National Radio', 'Radio Telescope'] appears [0, 46, 611] times in abstracts data.
--------------------------------------------------------------------------------
['VERA'] appears [14757] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Daocheng', 'Solar', 'Radio', 'Telescope'] appears [0, 10845, 9524, 10808] times in abstracts data.
['Daocheng Solar', 'Solar Radio', 'Radio Telescope'] appears [0, 93, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Mingantu', 'interplanetary', 'scintillation', 'telescope'] appears [1, 605, 229, 10808] times in abstracts data.
['Mingantu interplanetary', 'interplanetary scintillation', 'scintillation telescope'] appears [0, 19, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Taeduk', 'Radio', 'Astronomy', 'Observatory', '(TRAO)'] appears [0, 9524, 1242, 3950, 0] times in abstracts data.
['Taeduk Radio', 'Radio Astronomy', 'Astronomy Observatory', 'Observatory (TRAO)'] appears [0, 175, 92, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Korean', 'VLBI', 'Network', '(KVN)'] appears [9, 436, 817, 0] times in abstracts data.
['Korean VLBI', 'VLBI Network', 'Network (KVN)'] appears [0, 22, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Australian', 'Square', 'Kilometre', 'Array', 'Pathfinder', '(ASKAP)'] appears [208, 1022, 269, 2905, 77, 18] times in abstracts data.
['Australian Square', 'Square Kilometre', 'Kilometre Array', 'Array Pathfinder', 'Pathfinder (ASKAP)'] appears [21, 130, 130, 21, 18] times in abstracts data.
--------------------------------------------------------------------------------
['Australia', 'Telescope', 'Compact', 'Array', '(ATCA)'] appears [530, 10808, 4627, 2905, 64] times in abstracts data.
['Australia Telescope', 'Telescope Compact', 'Compact Array', 'Array (ATCA)'] appears [255, 217, 218, 64] times in abstracts data.
--------------------------------------------------------------------------------
['Canberra', 'Deep', 'Space', 'Communication', 'Complex', '(CDSCC)'] appears [3, 4638, 10148, 79, 2936, 0] times in abstracts data.
['Canberra Deep', 'Deep Space', 'Space Communication', 'Communication Complex', 'Complex (CDSCC)'] appears [0, 31, 1, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Ceduna', 'Radio', 'Observatory'] appears [0, 9524, 3950] times in abstracts data.
['Ceduna Radio', 'Radio Observatory'] appears [0, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Molonglo', 'Observatory', 'Synthesis', 'Telescope', '(MOST)'] appears [33, 3950, 2245, 10808, 23] times in abstracts data.
['Molonglo Observatory', 'Observatory Synthesis', 'Synthesis Telescope', 'Telescope (MOST)'] appears [14, 17, 24, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Mopra', 'Radio', 'Telescope'] appears [17, 9524, 10808] times in abstracts data.
['Mopra Radio', 'Radio Telescope'] appears [4, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Mount', 'Pleasant', 'Radio', 'Telescope'] appears [3139, 10, 9524, 10808] times in abstracts data.
['Mount Pleasant', 'Pleasant Radio', 'Radio Telescope'] appears [4, 4, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Murchison', 'Widefield', 'Array', '(MWA)'] appears [104, 74, 2905, 32] times in abstracts data.
['Murchison Widefield', 'Widefield Array', 'Array (MWA)'] appears [61, 68, 31] times in abstracts data.
--------------------------------------------------------------------------------
['Parkes', 'Radio', 'Telescope'] appears [317, 9524, 10808] times in abstracts data.
['Parkes Radio', 'Radio Telescope'] appears [73, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Effelsberg', '100-m', 'Radio', 'Telescope'] appears [40, 38, 9524, 10808] times in abstracts data.
['Effelsberg 100-m', '100-m Radio', 'Radio Telescope'] appears [5, 0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Ukrainian', 'T-shaped', 'Radio', 'telescope,', 'second', 'modification', '(UTR-2)'] appears [5, 44, 9524, 1001, 7265, 426, 0] times in abstracts data.
['Ukrainian T-shaped', 'T-shaped Radio', 'Radio telescope,', 'telescope, second', 'second modification', 'modification (UTR-2)'] appears [0, 0, 38, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Giant', 'Ukrainian', 'Radio', 'Telescope', '(GURT)'] appears [6155, 5, 9524, 10808, 4] times in abstracts data.
['Giant Ukrainian', 'Ukrainian Radio', 'Radio Telescope', 'Telescope (GURT)'] appears [4, 4, 611, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Lovell', 'Telescope'] appears [22, 10808] times in abstracts data.

['Lovell Telescope'] appears [6] times in abstracts data.
--------------------------------------------------------------------------------
['Yevpatoria', 'RT-70', 'radio', 'telescope'] appears [0, 0, 9524, 10808] times in abstracts data.
['Yevpatoria RT-70', 'RT-70 radio', 'radio telescope'] appears [0, 0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['RATAN-600'] appears [11] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['RT-64', '(TNA-1500)'] appears [0, 0] times in abstracts data.
['RT-64 (TNA-1500)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['RT-64', '(TNA-1500)'] appears [0, 0] times in abstracts data.
['RT-64 (TNA-1500)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['RT-22'] appears [1] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['DKR-1000'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['BSA'] appears [605] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Radioastronomical', 'Observatory', 'Zelenchukskaya'] appears [10, 3950, 0] times in abstracts data.
['Radioastronomical Observatory', 'Observatory Zelenchukskaya'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Svetloe', 'Radio', 'Astronomical', 'Observatory'] appears [0, 9524, 1486, 3950] times in abstracts data.
['Svetloe Radio', 'Radio Astronomical', 'Astronomical Observatory'] appears [0, 24, 113] times in abstracts data.
--------------------------------------------------------------------------------
['RT-7.5', "(Bauman's", 'radio', 'telescope)'] appears [1, 0, 9524, 77] times in abstracts data.
["RT-7.5 (Bauman's", "(Bauman's radio", 'radio telescope)'] appears [0, 0, 7] times in abstracts data.
--------------------------------------------------------------------------------
['Yebes', 'RT', '40', 'm'] appears [0, 48887, 7253, 63987] times in abstracts data.
['Yebes RT', 'RT 40', '40 m'] appears [0, 0, 397] times in abstracts data.
--------------------------------------------------------------------------------
['Toruń', 'RT4', '32', 'm'] appears [2, 0, 3070, 63987] times in abstracts data.
['Toruń RT4', 'RT4 32', '32 m'] appears [0, 0, 73] times in abstracts data.
--------------------------------------------------------------------------------
['RT-32'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Northern', 'Cross', 'Radio', 'Telescope'] appears [748, 4291, 9524, 10808] times in abstracts data.
['Northern Cross', 'Cross Radio', 'Radio Telescope'] appears [0, 1, 611] times in abstracts data.
--------------------------------------------------------------------------------
['32', 'm', 'VLBI', 'dish'] appears [3070, 63987, 436, 230] times in abstracts data.
['32 m', 'm VLBI', 'VLBI dish'] appears [73, 30, 0] times in abstracts data.
--------------------------------------------------------------------------------
['32', 'm', 'VLBI', 'dish'] appears [3070, 63987, 436, 230] times in abstracts data.
['32 m', 'm VLBI', 'VLBI dish'] appears [73, 30, 0] times in abstracts data.
--------------------------------------------------------------------------------
['MERLIN', '(Multi-Element', 'Radio', 'Linked', 'Interferometer', 'Network)'] appears [112, 0, 9524, 459, 877, 4] times in abstracts data.
['MERLIN (Multi-Element', '(Multi-Element Radio', 'Radio Linked', 'Linked Interferometer', 'Interferometer Network)'] appears [0, 0, 16, 30, 0] times in abstracts data.
--------------------------------------------------------------------------------
['EAARO', '–', 'East', 'Anglian', 'Astrophysiscal', 'Research', 'Organisation'] appears [0, 9599, 5561, 0, 0, 1054, 7] times in abstracts data.
['EAARO –', '– East', 'East Anglian', 'Anglian Astrophysiscal', 'Astrophysiscal Research', 'Research Organisation'] appears [0, 0, 0, 0, 0, 3] times in abstracts data.
--------------------------------------------------------------------------------
['TNA-400'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['IRAM', '–', '30m'] appears [188, 9599, 41] times in abstracts data.
['IRAM –', '– 30m'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Mark', 'II'] appears [2971, 13844] times in abstracts data.
['Mark II'] appears [31] times in abstracts data.
--------------------------------------------------------------------------------
['Stockert'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Toruń', 'RT3', '15', 'm'] appears [2, 0, 10671, 63987] times in abstracts data.
['Toruń RT3', 'RT3 15', '15 m'] appears [0, 0, 672] times in abstracts data.
--------------------------------------------------------------------------------
['Westerbork', 'Synthesis', 'Radio', 'Telescope', '(WSRT)'] appears [94, 2245, 9524, 10808, 18] times in abstracts data.
['Westerbork Synthesis', 'Synthesis Radio', 'Radio Telescope', 'Telescope (WSRT)'] appears [60, 62, 611, 18] times in abstracts data.
--------------------------------------------------------------------------------
['25', 'm', 'telescope'] appears [7536, 63987, 10808] times in abstracts data.
['25 m', 'm telescope'] appears [496, 992] times in abstracts data.
--------------------------------------------------------------------------------
['Dwingeloo', '(CAMRAS)'] appears [27, 0] times in abstracts data.
['Dwingeloo (CAMRAS)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['22', 'm', 'telescope'] appears [4949, 63987, 10808] times in abstracts data.
['22 m', 'm telescope'] appears [152, 992] times in abstracts data.
--------------------------------------------------------------------------------
['20', 'm', 'telescope'] appears [18257, 63987, 10808] times in abstracts data.
['20 m', 'm telescope'] appears [927, 992] times in abstracts data.
--------------------------------------------------------------------------------
['Pluton', '(complex)'] appears [11, 5] times in abstracts data.
['Pluton (complex)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['RT-16'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['KAIRA'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Metsähovi', 'Radio', 'Observatory'] appears [8, 9524, 3950] times in abstracts data.
['Metsähovi Radio', 'Radio Observatory'] appears [8, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Ryle', 'Telescope'] appears [19, 10808] times in abstracts data.
['Ryle Telescope'] appears [17] times in abstracts data.
--------------------------------------------------------------------------------
['Erciyes', 'University', 'Radio', 'Observatory'] appears [0, 617, 9524, 3950] times in abstracts data.
['Erciyes University', 'University Radio', 'Radio Observatory'] appears [0, 4, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Wurzburg', 'v2.0', 'LAB/OASU', '(Bordeaux', 'Observatory', 'radio', 'telescope)'] appears [0, 7, 0, 0, 3950, 9524, 77] times in abstracts data.

['Wurzburg v2.0', 'v2.0 LAB/OASU', 'LAB/OASU (Bordeaux', '(Bordeaux Observatory', 'Observatory radio', 'radio telescope)'] appears [0, 0, 0, 0, 6, 7] times in abstracts data.
--------------------------------------------------------------------------------
['European', 'VLBI', 'Network', '(EVN)'] appears [312, 436, 817, 6] times in abstracts data.
['European VLBI', 'VLBI Network', 'Network (EVN)'] appears [20, 22, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Plateau', 'de', 'Bure', 'Interferometer'] appears [386, 62741, 61, 877] times in abstracts data.
['Plateau de', 'de Bure', 'Bure Interferometer'] appears [57, 57, 42] times in abstracts data.
--------------------------------------------------------------------------------
['Northern', 'Extended', 'Millimeter', 'Array'] appears [748, 4272, 1367, 2905] times in abstracts data.
['Northern Extended', 'Extended Millimeter', 'Millimeter Array'] appears [0, 0, 265] times in abstracts data.
--------------------------------------------------------------------------------
['Nançay', 'Radio', 'Telescope', '(NRT)'] appears [12, 9524, 10808, 0] times in abstracts data.
['Nançay Radio', 'Radio Telescope', 'Telescope (NRT)'] appears [6, 611, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Nançay', 'Decameter', 'Array', '(DAM)'] appears [12, 17, 2905, 2] times in abstracts data.
['Nançay Decameter', 'Decameter Array', 'Array (DAM)'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Nançay', 'Radio', 'Heliographe', '(NRH)'] appears [12, 9524, 0, 0] times in abstracts data.
['Nançay Radio', 'Radio Heliographe', 'Heliographe (NRH)'] appears [6, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['ALLBIN', '(Amateur', 'Linked', 'Long', 'Baseline', 'Interferometer', 'Network)'] appears [0, 0, 459, 13581, 972, 877, 4] times in abstracts data.
['ALLBIN (Amateur', '(Amateur Linked', 'Linked Long', 'Long Baseline', 'Baseline Interferometer', 'Interferometer Network)'] appears [0, 0, 0, 471, 14, 0] times in abstracts data.
--------------------------------------------------------------------------------
['LOFAR', '(LOw', 'Frequency', 'ARray)'] appears [88, 128, 4205, 31] times in abstracts data.
['LOFAR (LOw', '(LOw Frequency', 'Frequency ARray)'] appears [2, 0, 2] times in abstracts data.
--------------------------------------------------------------------------------
['São', 'Gião', 'radio', 'telescope', '(SGRT)'] appears [6, 0, 9524, 10808, 0] times in abstracts data.
['São Gião', 'Gião radio', 'radio telescope', 'telescope (SGRT)'] appears [0, 0, 611, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Arcminute', 'Microkelvin', 'Imager'] appears [178, 9, 698] times in abstracts data.
['Arcminute Microkelvin', 'Microkelvin Imager'] appears [2, 2] times in abstracts data.
--------------------------------------------------------------------------------
['The', 'European', 'Radio', 'Astronomy', 'Club', 'Telescope', 'and', 'Development', 'Facility', '(ERAC', 'Telescope)'] appears [63868, 312, 9524, 1242, 7, 10808, 62845, 1133, 276, 1, 77] times in abstracts data.
['The European', 'European Radio', 'Radio Astronomy', 'Astronomy Club', 'Club Telescope', 'Telescope and', 'and Development', 'Development Facility', 'Facility (ERAC', '(ERAC Telescope)'] appears [186, 0, 175, 1, 0, 638, 52, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['ERAC', 'Phased', 'Array'] appears [6097, 62, 2905] times in abstracts data.
['ERAC Phased', 'Phased Array'] appears [0, 8] times in abstracts data.
--------------------------------------------------------------------------------
['ERAC', 'Phased', 'Array'] appears [6097, 62, 2905] times in abstracts data.
['ERAC Phased', 'Phased Array'] appears [0, 8] times in abstracts data.
--------------------------------------------------------------------------------
['64', 'm', 'Sardinia', 'Radio', 'Telescope'] appears [1840, 63987, 3, 9524, 10808] times in abstracts data.
['64 m', 'm Sardinia', 'Sardinia Radio', 'Radio Telescope'] appears [62, 0, 3, 611] times in abstracts data.
--------------------------------------------------------------------------------
['ROT-54/2.6'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Bayfordbury', 'Observatory'] appears [0, 3950] times in abstracts data.
['Bayfordbury Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Algonquin', 'Radio', 'Telescope'] appears [0, 9524, 10808] times in abstracts data.
['Algonquin Radio', 'Radio Telescope'] appears [0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Allen', 'Telescope', 'Array'] appears [1460, 10808, 2905] times in abstracts data.
['Allen Telescope', 'Telescope Array'] appears [17, 113] times in abstracts data.
--------------------------------------------------------------------------------
['ARO', '12m', 'Radio', 'Telescope'] appears [7778, 40, 9524, 10808] times in abstracts data.
['ARO 12m', '12m Radio', 'Radio Telescope'] appears [0, 0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['C-BASS', 'North'] appears [0, 2127] times in abstracts data.
['C-BASS North'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Canadian', 'Hydrogen', 'Intensity', 'Mapping', 'Experiment', '(CHIME)'] appears [65, 3215, 2133, 734, 2619, 3] times in abstracts data.
['Canadian Hydrogen', 'Hydrogen Intensity', 'Intensity Mapping', 'Mapping Experiment', 'Experiment (CHIME)'] appears [5, 6, 15, 7, 3] times in abstracts data.
--------------------------------------------------------------------------------
['CfA', '1.2', 'm', 'Millimeter-Wave', 'Telescope'] appears [86, 2172, 63987, 138, 10808] times in abstracts data.
['CfA 1.2', '1.2 m', 'm Millimeter-Wave', 'Millimeter-Wave Telescope'] appears [4, 196, 6, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Combined', 'Array', 'for', 'Research', 'in', 'Millimeter-wave', 'Astronomy', '(CARMA)'] appears [3324, 2905, 56668, 1054, 63942, 138, 1242, 9] times in abstracts data.
['Combined Array', 'Array for', 'for Research', 'Research in', 'in Millimeter-wave', 'Millimeter-wave Astronomy', 'Astronomy (CARMA)'] appears [10, 40, 54, 139, 6, 3, 7] times in abstracts data.
--------------------------------------------------------------------------------
['Distributed', 'Array', 'Radio', 'Telescope', '(DART)'] appears [1178, 2905, 9524, 10808, 6] times in abstracts data.
['Distributed Array', 'Array Radio', 'Radio Telescope', 'Telescope (DART)'] appears [0, 26, 611, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Dominion', 'Radio', 'Astrophysical', 'Observatory'] appears [20, 9524, 1907, 3950] times in abstracts data.
['Dominion Radio', 'Radio Astrophysical', 'Astrophysical Observatory'] appears [11, 11, 112] times in abstracts data.
--------------------------------------------------------------------------------
['Five', 'College', 'Radio', 'Astronomy', 'Observatory', '(FCRAO)'] appears [2689, 77, 9524, 1242, 3950, 0] times in abstracts data.
['Five College', 'College Radio', 'Radio Astronomy', 'Astronomy Observatory', 'Observatory (FCRAO)'] appears [20, 18, 175, 92, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Goldstone', 'Radio', 'Telescope'] appears [22, 9524, 10808] times in abstracts data.
['Goldstone Radio', 'Radio Telescope'] appears [0, 611] times in abstracts data.
--------------------------------------------------------------------------------

['Green', 'Bank', 'Interferometer', '(GBI)'] appears [522, 235, 877, 0] times in abstracts data.
['Green Bank', 'Bank Interferometer', 'Interferometer (GBI)'] appears [158, 5, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Green', 'Bank', 'Telescope', '(GBT)'] appears [522, 235, 10808, 24] times in abstracts data.
['Green Bank', 'Bank Telescope', 'Telescope (GBT)'] appears [158, 126, 24] times in abstracts data.
--------------------------------------------------------------------------------
['Green', 'Bank', '140', 'Foot', 'Telescope', '(140foot)'] appears [522, 235, 842, 370, 10808, 0] times in abstracts data.
['Green Bank', 'Bank 140', '140 Foot', 'Foot Telescope', 'Telescope (140foot)'] appears [158, 2, 9, 4, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Green', 'Bank', '20m', 'Telescope'] appears [522, 235, 50, 10808] times in abstracts data.
['Green Bank', 'Bank 20m', '20m Telescope'] appears [158, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Haystack', 'Observatory'] appears [26, 3950] times in abstracts data.
['Haystack Observatory'] appears [4] times in abstracts data.
--------------------------------------------------------------------------------
['Heinrich', 'Hertz', 'Submillimeter', 'Telescope', '(SMT)'] appears [9, 483, 843, 10808, 6] times in abstracts data.
['Heinrich Hertz', 'Hertz Submillimeter', 'Submillimeter Telescope', 'Telescope (SMT)'] appears [6, 3, 59, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Hydrogen', 'Epoch', 'of', 'Reionization', 'Array', '(HERA)'] appears [3215, 2995, 63810, 786, 2905, 4] times in abstracts data.
['Hydrogen Epoch', 'Epoch of', 'of Reionization', 'Reionization Array', 'Array (HERA)'] appears [0, 717, 362, 0, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Large', 'Millimeter', 'Telescope', '(LMT)'] appears [23305, 1367, 10808, 2] times in abstracts data.
['Large Millimeter', 'Millimeter Telescope', 'Telescope (LMT)'] appears [86, 64, 1] times in abstracts data.
--------------------------------------------------------------------------------
['Leuschner', 'Observatory'] appears [0, 3950] times in abstracts data.
['Leuschner Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Long', 'Wavelength', 'Array', '(LWA)'] appears [13581, 5906, 2905, 0] times in abstracts data.
['Long Wavelength', 'Wavelength Array', 'Array (LWA)'] appears [132, 6, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Morehead', 'State', 'University', '21m.'] appears [0, 5139, 617, 0] times in abstracts data.
['Morehead State', 'State University', 'University 21m.'] appears [0, 68, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Paul', 'Plishner', 'Radio', 'Astronomy', 'and', 'Space', 'Sciences', 'Center'] appears [27, 0, 9524, 1242, 62845, 10148, 163, 4689] times in abstracts data.
['Paul Plishner', 'Plishner Radio', 'Radio Astronomy', 'Astronomy and', 'and Space', 'Space Sciences', 'Sciences Center'] appears [0, 0, 175, 152, 386, 17, 0] times in abstracts data.
--------------------------------------------------------------------------------
['OVRO', '40', 'meter', 'Telescope'] appears [47, 7253, 15729, 10808] times in abstracts data.
['OVRO 40', '40 meter', 'meter Telescope'] appears [0, 0, 109] times in abstracts data.
--------------------------------------------------------------------------------
['Peach', 'Mountain', 'Observatory'] appears [0, 76, 3950] times in abstracts data.
['Peach Mountain', 'Mountain Observatory'] appears [0, 24] times in abstracts data.
--------------------------------------------------------------------------------
['Precision', 'Array', 'for', 'Probing', 'the', 'Epoch', 'of', 'Reionization', '(PAPER)'] appears [1701, 2905, 56668, 658, 63868, 2995, 63810, 786, 0] times in abstracts data.
['Precision Array', 'Array for', 'for Probing', 'Probing the', 'the Epoch', 'Epoch of', 'of Reionization', 'Reionization (PAPER)'] appears [0, 40, 109, 364, 557, 717, 362, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Solar', 'monitor,', 'two', '1.8', 'm', 'dishes'] appears [10845, 2, 18615, 1202, 63987, 6] times in abstracts data.
['Solar monitor,', 'monitor, two', 'two 1.8', '1.8 m', 'm dishes'] appears [0, 0, 0, 112, 2] times in abstracts data.
--------------------------------------------------------------------------------
['SRI', 'International', 'Antenna', 'Facility'] appears [26, 419, 396, 276] times in abstracts data.
['SRI International', 'International Antenna', 'Antenna Facility'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Synthesis', 'Telescope,', 'seven-element', 'interferometer'] appears [2245, 1001, 0, 877] times in abstracts data.
['Synthesis Telescope,', 'Telescope, seven-element', 'seven-element interferometer'] appears [5, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Very', 'Large', 'Array', '(VLA)'] appears [15587, 23305, 2905, 223] times in abstracts data.
['Very Large', 'Large Array', 'Array (VLA)'] appears [1584, 682, 216] times in abstracts data.
--------------------------------------------------------------------------------
['Very', 'Small', 'Array', '(VSA)'] appears [15587, 12157, 2905, 4] times in abstracts data.
['Very Small', 'Small Array', 'Array (VSA)'] appears [479, 7, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Very', 'Long', 'Baseline', 'Array', '(VLBA)'] appears [15587, 13581, 972, 2905, 129] times in abstracts data.
['Very Long', 'Long Baseline', 'Baseline Array', 'Array (VLBA)'] appears [532, 471, 305, 127] times in abstracts data.
--------------------------------------------------------------------------------
['Pisgah', 'Astronomical', 'Research', 'Institute', '(PARI)'] appears [0, 1486, 1054, 314, 0] times in abstracts data.
['Pisgah Astronomical', 'Astronomical Research', 'Research Institute', 'Institute (PARI)'] appears [0, 24, 26, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Atacama', 'B-Mode', 'Search', '(ABS)'] appears [132, 47, 5135, 14] times in abstracts data.
['Atacama B-Mode', 'B-Mode Search', 'Search (ABS)'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Atacama', 'Cosmology', 'Telescope', '(ACT)'] appears [132, 1783, 10808, 17] times in abstracts data.
['Atacama Cosmology', 'Cosmology Telescope', 'Telescope (ACT)'] appears [20, 20, 17] times in abstracts data.
--------------------------------------------------------------------------------
['Atacama', 'Large', 'Millimeter', 'Array', '(ALMA)'] appears [132, 23305, 1367, 2905, 52] times in abstracts data.
['Atacama Large', 'Large Millimeter', 'Millimeter Array', 'Array (ALMA)'] appears [96, 86, 265, 52] times in abstracts data.
--------------------------------------------------------------------------------
['Atacama', 'Pathfinder', 'Experiment', '(APEX)'] appears [132, 77, 2619, 2] times in abstracts data.
['Atacama Pathfinder', 'Pathfinder Experiment', 'Experiment (APEX)'] appears [3, 4, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Atacama', 'Submillimeter', 'Telescope', 'Experiment', '(ASTE)'] appears [132, 843, 10808, 2619, 5] times in abstracts data.
['Atacama Submillimeter', 'Submillimeter Telescope', 'Telescope Experiment', 'Experiment (ASTE)'] appears [7, 59, 9, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Baryon', 'Acoustic', 'Oscillations', 'in', 'Integrated', 'Neutral', 'Gas', 'Observations', '(BINGO)'] appears [1776, 466, 1351, 63942, 1717, 2008, 12090, 22174, 0] times in abstracts data.

['Baryon Acoustic', 'Acoustic Oscillations', 'Oscillations in', 'in Integrated', 'Integrated Neutral', 'Neutral Gas', 'Gas Observations', 'Observations (BINGO)'] appears [129, 141, 383, 16, 0, 345, 2, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Brazilian', 'Decimetric', 'Array', '(BDA)'] appears [1, 28, 2905, 0] times in abstracts data.
['Brazilian Decimetric', 'Decimetric Array', 'Array (BDA)'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Cosmic', 'Background', 'Imager', '(CBI)'] appears [5786, 4430, 698, 21] times in abstracts data.
['Cosmic Background', 'Background Imager', 'Imager (CBI)'] appears [182, 27, 21] times in abstracts data.
--------------------------------------------------------------------------------
['Itapetinga', 'Radio', 'Observatory'] appears [0, 9524, 3950] times in abstracts data.
['Itapetinga Radio', 'Radio Observatory'] appears [0, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Jicamarca', 'Radio', 'Observatory', '(ROJ)'] appears [3, 9524, 3950, 0] times in abstracts data.
['Jicamarca Radio', 'Radio Observatory', 'Observatory (ROJ)'] appears [1, 98, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Cosmology', 'Large', 'Angular', 'Scale', 'Surveyor', '(CLASS)'] appears [1783, 23305, 4322, 13518, 24, 20] times in abstracts data.
['Cosmology Large', 'Large Angular', 'Angular Scale', 'Scale Surveyor', 'Surveyor (CLASS)'] appears [1, 113, 301, 1, 1] times in abstracts data.
--------------------------------------------------------------------------------
['NANTEN2', 'Observatory', '(NANTEN2)'] appears [2, 3950, 0] times in abstracts data.
['NANTEN2 Observatory', 'Observatory (NANTEN2)'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Northeastern', 'Space', 'Radio', 'Observatory'] appears [44, 10148, 9524, 3950] times in abstracts data.
['Northeastern Space', 'Space Radio', 'Radio Observatory'] appears [0, 2, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Polarization', 'Emission', 'of', 'Millimeter', 'Activity', 'at', 'the', 'Sun'] appears [1514, 17713, 63810, 1367, 3841, 63868, 63868, 4417] times in abstracts data.
['Polarization Emission', 'Emission of', 'of Millimeter', 'Millimeter Activity', 'Activity at', 'at the', 'the Sun'] appears [0, 1254, 31, 2, 80, 36408, 2921] times in abstracts data.
--------------------------------------------------------------------------------
['Q/U', 'Imaging', 'Experiment', '(QUIET)'] appears [3, 5137, 2619, 1] times in abstracts data.
['Q/U Imaging', 'Imaging Experiment', 'Experiment (QUIET)'] appears [0, 1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Solar', 'Submillimeter', 'Telescope', '(SST)'] appears [10845, 843, 10808, 6] times in abstracts data.
['Solar Submillimeter', 'Submillimeter Telescope', 'Telescope (SST)'] appears [4, 59, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Swedish-ESO', 'Submillimetre', 'Telescope', '(SEST)'] appears [17, 410, 10808, 13] times in abstracts data.
['Swedish-ESO Submillimetre', 'Submillimetre Telescope', 'Telescope (SEST)'] appears [11, 18, 13] times in abstracts data.
--------------------------------------------------------------------------------
['Estación', 'de', 'Espacio', 'Lejano', '[es]'] appears [0, 62741, 0, 0, 0] times in abstracts data.
['Estación de', 'de Espacio', 'Espacio Lejano', 'Lejano [es]'] appears [0, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Malargüe', 'Station'] appears [0, 879] times in abstracts data.
['Malargüe Station'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Greenland', 'Telescope'] appears [7, 10808] times in abstracts data.
['Greenland Telescope'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Eiscat', 'Radio', 'Telescope'] appears [2, 9524, 10808] times in abstracts data.
['Eiscat Radio', 'Radio Telescope'] appears [0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Very', 'Small', 'Array', '(VSA)'] appears [15587, 12157, 2905, 4] times in abstracts data.
['Very Small', 'Small Array', 'Array (VSA)'] appears [479, 7, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Arecibo', 'Telescope'] appears [234, 10808] times in abstracts data.
['Arecibo Telescope'] appears [40] times in abstracts data.
--------------------------------------------------------------------------------
['Mauritius', 'Radio', 'Telescope'] appears [0, 9524, 10808] times in abstracts data.
['Mauritius Radio', 'Radio Telescope'] appears [0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Caltech', 'Submillimeter', 'Observatory'] appears [89, 843, 3950] times in abstracts data.
['Caltech Submillimeter', 'Submillimeter Observatory'] appears [44, 39] times in abstracts data.
--------------------------------------------------------------------------------
['James', 'Clerk', 'Maxwell', 'Telescope'] appears [318, 166, 310, 10808] times in abstracts data.
['James Clerk', 'Clerk Maxwell', 'Maxwell Telescope'] appears [164, 164, 161] times in abstracts data.
--------------------------------------------------------------------------------
['Submillimeter', 'Array', '(SMA)'] appears [843, 2905, 27] times in abstracts data.
['Submillimeter Array', 'Array (SMA)'] appears [152, 23] times in abstracts data.
--------------------------------------------------------------------------------
['Warkworth', 'Radio', 'Telescope'] appears [0, 9524, 10808] times in abstracts data.
['Warkworth Radio', 'Radio Telescope'] appears [0, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Warkworth', '2', 'dish'] appears [0, 45244, 230] times in abstracts data.
['Warkworth 2', '2 dish'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Transient', 'Array', 'Radio', 'Telescope'] appears [1829, 2905, 9524, 10808] times in abstracts data.
['Transient Array', 'Array Radio', 'Radio Telescope'] appears [0, 26, 611] times in abstracts data.
--------------------------------------------------------------------------------
['HALCA', '(Highly', 'Advanced', 'Laboratory', 'for', 'Communications', 'and', 'Astronomy)'] appears [3, 7, 1005, 840, 56668, 20, 62845, 7] times in abstracts data.
['HALCA (Highly', '(Highly Advanced', 'Advanced Laboratory', 'Laboratory for', 'for Communications', 'Communications and', 'and Astronomy)'] appears [0, 0, 0, 98, 2, 2, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Zond', '3'] appears [0, 39020] times in abstracts data.
['Zond 3'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Spektr-R', 'or', 'RadioAstron'] appears [3, 63332, 47] times in abstracts data.
['Spektr-R or', 'or RadioAstron'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
["Chang'e", '4'] appears [3, 34492] times in abstracts data.
["Chang'e 4"] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['EAARO', '-', 'East', 'Anglian', 'Astrophysical', 'Research', 'Organisation'] appears [0, 60691, 5561, 0, 1907, 1054, 7] times in abstracts data.
['EAARO -', '- East', 'East Anglian', 'Anglian Astrophysical', 'Astrophysical Research', 'Research Organisation'] appears [0, 0, 0, 0, 31, 3] times in abstracts data.
--------------------------------------------------------------------------------

['Large', 'Latin', 'American', 'Millimeter', 'Array', '(LLAMA)'] appears [23305, 1813, 262, 1367, 2905, 0] times in abstracts data.
['Large Latin', 'Latin American', 'American Millimeter', 'Millimeter Array', 'Array (LLAMA)'] appears [0, 0, 0, 265, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Qitai', '110m', 'Radio', 'Telescope', '(QTT)'] appears [0, 2, 9524, 10808, 0] times in abstracts data.
['Qitai 110m', '110m Radio', 'Radio Telescope', 'Telescope (QTT)'] appears [0, 0, 611, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Square', 'Kilometer', 'Array', '(SKA-Phase1)'] appears [1022, 307, 2905, 0] times in abstracts data.
['Square Kilometer', 'Kilometer Array', 'Array (SKA-Phase1)'] appears [64, 57, 0] times in abstracts data.
--------------------------------------------------------------------------------
['30m', 'Sub-Millimeter', 'Telescope', '(TSMT)'] appears [41, 31, 10808, 0] times in abstracts data.
['30m Sub-Millimeter', 'Sub-Millimeter Telescope', 'Telescope (TSMT)'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['LOFAR', 'Super', 'Station', '(LSS)'] appears [88, 12102, 879, 48] times in abstracts data.
['LOFAR Super', 'Super Station', 'Station (LSS)'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Lunar', 'Crater', 'Radio', 'Telescope', '(LCRT)'] appears [226, 109, 9524, 10808, 0] times in abstracts data.
['Lunar Crater', 'Crater Radio', 'Radio Telescope', 'Telescope (LCRT)'] appears [2, 0, 611, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Square', 'Kilometer', 'Array', '(SKA-Phase2)'] appears [1022, 307, 2905, 0] times in abstracts data.
['Square Kilometer', 'Kilometer Array', 'Array (SKA-Phase2)'] appears [64, 57, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Daniel', 'K.', 'Inouye', 'Solar', 'Telescope', '(DKIST)'] appears [26, 5220, 9, 10845, 10808, 6] times in abstracts data.
['Daniel K.', 'K. Inouye', 'Inouye Solar', 'Solar Telescope', 'Telescope (DKIST)'] appears [8, 9, 9, 89, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Chinese', 'Large', 'Solar', 'Telescope', '(CLST)'] appears [58, 23305, 10845, 10808, 0] times in abstracts data.
['Chinese Large', 'Large Solar', 'Solar Telescope', 'Telescope (CLST)'] appears [0, 54, 89, 0] times in abstracts data.
--------------------------------------------------------------------------------
['GREGOR,', 'Teide', 'Observatory'] appears [1, 45, 3950] times in abstracts data.
['GREGOR, Teide', 'Teide Observatory'] appears [0, 9] times in abstracts data.
--------------------------------------------------------------------------------
['Goode', 'Solar', 'Telescope', '(GST),', 'Big', 'Bear', 'Solar', 'Observatory'] appears [6, 10845, 10808, 0, 1987, 395, 10845, 3950] times in abstracts data.
['Goode Solar', 'Solar Telescope', 'Telescope (GST),', '(GST), Big', 'Big Bear', 'Bear Solar', 'Solar Observatory'] appears [3, 89, 0, 0, 41, 39, 141] times in abstracts data.
--------------------------------------------------------------------------------
['New', 'Vacuum', 'Solar', 'Telescope', '(NVST),', 'Yunnan', 'Astronomical', 'Observatory'] appears [14443, 311, 10845, 10808, 0, 10, 1486, 3950] times in abstracts data.
['New Vacuum', 'Vacuum Solar', 'Solar Telescope', 'Telescope (NVST),', '(NVST), Yunnan', 'Yunnan Astronomical', 'Astronomical Observatory'] appears [1, 14, 89, 0, 0, 3, 113] times in abstracts data.
--------------------------------------------------------------------------------
['Andrei', 'Severny', 'Tower', 'Solar', 'Telescope,', 'Crimean', 'Astrophysical', 'Observatory'] appears [1, 7, 52, 10845, 1001, 23, 1907, 3950] times in abstracts data.
['Andrei Severny', 'Severny Tower', 'Tower Solar', 'Solar Telescope,', 'Telescope, Crimean', 'Crimean Astrophysical', 'Astrophysical Observatory'] appears [0, 0, 4, 12, 0, 14, 112] times in abstracts data.
--------------------------------------------------------------------------------
['Multi-Purpose', 'Automated', 'Solar', 'Telescope,', 'Sayan', 'Solar', 'Observatory'] appears [0, 297, 10845, 1001, 8, 10845, 3950] times in abstracts data.
['Multi-Purpose Automated', 'Automated Solar', 'Solar Telescope,', 'Telescope, Sayan', 'Sayan Solar', 'Solar Observatory'] appears [0, 0, 12, 0, 5, 141] times in abstracts data.
--------------------------------------------------------------------------------
['Large', 'Solar', 'Vakuum', 'Telescope,', 'Baikal', 'Astrophysical', 'Observatory'] appears [23305, 10845, 0, 1001, 7, 1907, 3950] times in abstracts data.
['Large Solar', 'Solar Vakuum', 'Vakuum Telescope,', 'Telescope, Baikal', 'Baikal Astrophysical', 'Astrophysical Observatory'] appears [54, 0, 0, 0, 2, 112] times in abstracts data.
--------------------------------------------------------------------------------
['Optical', 'and', 'Near-Infrared', 'Solar', 'Eruption', 'Tracer', '(ONSET),', 'School', 'of', 'Astronomy', '&', 'Space', 'Science,', 'Nanjing', 'University'] appears [12092, 62845, 2771, 10845, 574, 905, 0, 114, 63810, 1242, 3299, 10148, 401, 11, 617] times in abstracts data.
['Optical and', 'and Near-Infrared', 'Near-Infrared Solar', 'Solar Eruption', 'Eruption Tracer', 'Tracer (ONSET),', '(ONSET), School', 'School of', 'of Astronomy', 'Astronomy &', '& Space', 'Space Science,', 'Science, Nanjing', 'Nanjing University'] appears [1711, 569, 2, 80, 2, 0, 0, 71, 188, 10, 0, 19, 2, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Bulgarian', '15-cm', 'Solar', 'Coronagraph,[10]', 'Rozhen', 'National', 'Astronomical', 'Observatory', 'Bulgaria'] appears [0, 2, 10845, 0, 7, 808, 1486, 3950, 6] times in abstracts data.
['Bulgarian 15-cm', '15-cm Solar', 'Solar Coronagraph,[10]', 'Coronagraph,[10] Rozhen', 'Rozhen National', 'National Astronomical', 'Astronomical Observatory', 'Observatory Bulgaria'] appears [0, 0, 0, 0, 0, 39, 113, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Swedish', 'Solar', 'Telescope', '(SST),', 'Roque', 'de', 'los', 'Muchachos', 'Observatory'] appears [47, 10845, 10808, 1, 28, 62741, 14156, 16, 3950] times in abstracts data.
['Swedish Solar', 'Solar Telescope', 'Telescope (SST),', '(SST), Roque', 'Roque de', 'de los', 'los Muchachos', 'Muchachos Observatory'] appears [1, 89, 1, 0, 16, 18, 16, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Prairie', 'View', 'Solar', 'Observatory', '(PVSO)[12]'] appears [2, 5358, 10845, 3950, 0] times in abstracts data.
['Prairie View', 'View Solar', 'Solar Observatory', 'Observatory (PVSO)[12]'] appears [0, 0, 141, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Upgraded', 'Coronal', 'Multi-Channel', 'Polarimeter', '(UCOMP)'] appears [59, 2101, 4, 227, 0] times in abstracts data.
['Upgraded Coronal', 'Coronal Multi-Channel', 'Multi-Channel Polarimeter', 'Polarimeter (UCOMP)'] appears [0, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['K-Coronagraph', '(K-COR)'] appears [1, 0] times in abstracts data.
['K-Coronagraph (K-COR)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Dutch', 'Open', 'Telescope', '(DOT),', 'Roque', 'de', 'los', 'Muchachos', 'Observatory'] appears [7, 2577, 10808, 2, 28, 62741, 14156, 16, 3950] times in abstracts data.
['Dutch Open', 'Open Telescope', 'Telescope (DOT),', '(DOT), Roque', 'Roque de', 'de los', 'los Muchachos', 'Muchachos Observatory'] appears [3, 3, 2, 0, 16, 18, 16, 6] times in abstracts data.
--------------------------------------------------------------------------------
['THÉMIS', 'Solar', 'Telescope,', 'Teide', 'Observatory'] appears [0, 10845, 1001, 45, 3950] times in abstracts data.

['THÉMIS Solar', 'Solar Telescope,', 'Telescope, Teide', 'Teide Observatory'] appears [0, 12, 0, 9] times in abstracts data.
--------------------------------------------------------------------------------
['Vacuum', 'Tower', 'Telescope', '(VTT),', 'Teide', 'Observatory'] appears [311, 52, 10808, 0, 45, 3950] times in abstracts data.
['Vacuum Tower', 'Tower Telescope', 'Telescope (VTT),', '(VTT), Teide', 'Teide Observatory'] appears [6, 11, 0, 0, 9] times in abstracts data.
--------------------------------------------------------------------------------
['Hida', 'Domeless', 'Solar', 'Telescope', '(ja)'] appears [23, 3, 10845, 10808, 0] times in abstracts data.
['Hida Domeless', 'Domeless Solar', 'Solar Telescope', 'Telescope (ja)'] appears [0, 3, 89, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Udaipur', 'Solar', 'ObservatoryMASTFull', 'Disk', 'H-alpha', 'TelescopeH-alpha', 'Spar', 'TelescopeCoudé', 'Telescope'] appears [6, 10845, 0, 8483, 191, 0, 674, 0, 10808] times in abstracts data.
['Udaipur Solar', 'Solar ObservatoryMASTFull', 'ObservatoryMASTFull Disk', 'Disk H-alpha', 'H-alpha TelescopeH-alpha', 'TelescopeH-alpha Spar', 'Spar TelescopeCoudé', 'TelescopeCoudé Telescope'] appears [5, 0, 0, 4, 0, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Richard', 'B.', 'Dunn', 'Solar', 'Telescope', '(DST),', 'Sacramento', 'Peak'] appears [52, 1407, 22, 10845, 10808, 0, 13, 5495] times in abstracts data.
['Richard B.', 'B. Dunn', 'Dunn Solar', 'Solar Telescope', 'Telescope (DST),', '(DST), Sacramento', 'Sacramento Peak'] appears [0, 0, 12, 89, 0, 0, 13] times in abstracts data.
--------------------------------------------------------------------------------
['Solar', 'Observatory', 'Tower', 'Meudon'] appears [10845, 3950, 52, 22] times in abstracts data.
['Solar Observatory', 'Observatory Tower', 'Tower Meudon'] appears [141, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['McMath–Pierce', 'solar', 'telescope,', 'KPO'] appears [0, 10845, 1001, 8] times in abstracts data.
['McMath–Pierce solar', 'solar telescope,', 'telescope, KPO'] appears [0, 12, 0] times in abstracts data.
--------------------------------------------------------------------------------
['ARIES', 'Observatory'] appears [4956, 3950] times in abstracts data.
['ARIES Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Solar', 'Tunnel', 'Telescope,', 'Kodaikanal', 'Solar', 'Observatory'] appears [10845, 45, 1001, 11, 10845, 3950] times in abstracts data.
['Solar Tunnel', 'Tunnel Telescope,', 'Telescope, Kodaikanal', 'Kodaikanal Solar', 'Solar Observatory'] appears [0, 0, 0, 3, 141] times in abstracts data.
--------------------------------------------------------------------------------
['45-cm-Turmteleskop'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Gregory', 'Coudé', 'Telescope'] appears [15, 2, 10808] times in abstracts data.
['Gregory Coudé', 'Coudé Telescope'] appears [0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Solar', 'Tower', 'Telescope', 'by', 'Zeiss'] appears [10845, 52, 10808, 45041, 12] times in abstracts data.
['Solar Tower', 'Tower Telescope', 'Telescope by', 'by Zeiss'] appears [20, 11, 13, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Einsteinturm'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['150-foot', 'tower,', 'Mount', 'Wilson', 'Observatory'] appears [2, 2, 3139, 196, 3950] times in abstracts data.
['150-foot tower,', 'tower, Mount', 'Mount Wilson', 'Wilson Observatory'] appears [0, 0, 78, 32] times in abstracts data.
--------------------------------------------------------------------------------
['Snow', 'Solar', 'Telescope,', 'Mount', 'Wilson', 'Observatory'] appears [73, 10845, 1001, 3139, 196, 3950] times in abstracts data.
['Snow Solar', 'Solar Telescope,', 'Telescope, Mount', 'Mount Wilson', 'Wilson Observatory'] appears [0, 12, 0, 78, 32] times in abstracts data.
--------------------------------------------------------------------------------
['Lerebour/Grubb-Parsons,', 'Kodaikanal', 'Solar', 'Observatory'] appears [0, 11, 10845, 3950] times in abstracts data.
['Lerebour/Grubb-Parsons, Kodaikanal', 'Kodaikanal Solar', 'Solar Observatory'] appears [0, 3, 141] times in abstracts data.
--------------------------------------------------------------------------------
['Solar-T', '[pt]'] appears [467, 0] times in abstracts data.
['Solar-T [pt]'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Swedish', 'Vacuum', 'Solar', 'Telescope,', 'Roque', 'de', 'los', 'Muchachos', 'Observatory'] appears [47, 311, 10845, 1001, 28, 62741, 14156, 16, 3950] times in abstracts data.
['Swedish Vacuum', 'Vacuum Solar', 'Solar Telescope,', 'Telescope, Roque', 'Roque de', 'de los', 'los Muchachos', 'Muchachos Observatory'] appears [13, 14, 12, 0, 16, 18, 16, 6] times in abstracts data.
--------------------------------------------------------------------------------
['Gregory', 'Coude', 'Telescope', '(GCT)'] appears [15, 39, 10808, 2] times in abstracts data.
['Gregory Coude', 'Coude Telescope', 'Telescope (GCT)'] appears [0, 1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Evans', 'Solar', 'Facility', '(ESF),', 'Sacramento', 'Peak'] appears [56, 10845, 276, 0, 13, 5495] times in abstracts data.
['Evans Solar', 'Solar Facility', 'Facility (ESF),', '(ESF), Sacramento', 'Sacramento Peak'] appears [0, 0, 0, 0, 13] times in abstracts data.
--------------------------------------------------------------------------------
['Göttinger', 'Sonnenturm', '(Solar', 'Tower', 'Telescope)'] appears [0, 0, 105, 52, 77] times in abstracts data.
['Göttinger Sonnenturm', 'Sonnenturm (Solar', '(Solar Tower', 'Tower Telescope)'] appears [0, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['McMath-Hulbert', 'Observatory'] appears [0, 3950] times in abstracts data.
['McMath-Hulbert Observatory'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['50-foot', 'tower,', 'McMath-Hulbert', 'Observatory'] appears [3, 2, 0, 3950] times in abstracts data.
['50-foot tower,', 'tower, McMath-Hulbert', 'McMath-Hulbert Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['10.5', 'inch,', 'McMath-Hulbert', 'Observatory'] appears [161, 2, 0, 3950] times in abstracts data.
['10.5 inch,', 'inch, McMath-Hulbert', 'McMath-Hulbert Observatory'] appears [0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Arcetri', 'Solar', 'Tower,', 'Arcetri', 'Observatory'] appears [5, 10845, 2, 5, 3950] times in abstracts data.
['Arcetri Solar', 'Solar Tower,', 'Tower, Arcetri', 'Arcetri Observatory'] appears [0, 1, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Chinese', 'Spectral', 'Radioheliograph', '(CSRH)'] appears [58, 9575, 34, 0] times in abstracts data.
['Chinese Spectral', 'Spectral Radioheliograph', 'Radioheliograph (CSRH)'] appears [0, 1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Nançay', 'Radioheliographe', '(NRH),', 'Nançay', 'Radio', 'Observatory'] appears [12, 0, 0, 12, 9524, 3950] times in abstracts data.
['Nançay Radioheliographe', 'Radioheliographe (NRH),', '(NRH), Nançay', 'Nançay Radio', 'Radio Observatory'] appears [0, 0, 0, 6, 98] times in abstracts data.
--------------------------------------------------------------------------------

['Expanded', 'Owens', 'Valley', 'Solar', 'Array', '(EOVSA)'] appears [199, 101, 147, 10845, 2905, 0] times in abstracts data.
['Expanded Owens', 'Owens Valley', 'Valley Solar', 'Solar Array', 'Array (EOVSA)'] appears [1, 97, 5, 10, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Nobeyama', 'Radioheliograph', '(NoRH),', 'Nobeyama', 'Radio', 'Observatory'] appears [94, 34, 2, 94, 9524, 3950] times in abstracts data.
['Nobeyama Radioheliograph', 'Radioheliograph (NoRH),', '(NoRH), Nobeyama', 'Nobeyama Radio', 'Radio Observatory'] appears [15, 2, 0, 41, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Nobeyama', 'Radio', 'Polarimeters,', 'Nobeyama', 'Radio', 'Observatory'] appears [94, 9524, 14, 94, 9524, 3950] times in abstracts data.
['Nobeyama Radio', 'Radio Polarimeters,', 'Polarimeters, Nobeyama', 'Nobeyama Radio', 'Radio Observatory'] appears [41, 0, 0, 41, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Siberian', 'Solar', 'Radio', 'Telescope', '(SSRT)'] appears [12, 10845, 9524, 10808, 1] times in abstracts data.
['Siberian Solar', 'Solar Radio', 'Radio Telescope', 'Telescope (SSRT)'] appears [3, 93, 611, 1] times in abstracts data.
--------------------------------------------------------------------------------
['Solar', 'Submillimeter', 'Telescope', '(SST),', 'Complejo', 'Astronomico', 'El', 'Leoncito'] appears [10845, 843, 10808, 1, 4, 27, 62019, 7] times in abstracts data.
['Solar Submillimeter', 'Submillimeter Telescope', 'Telescope (SST),', '(SST), Complejo', 'Complejo Astronomico', 'Astronomico El', 'El Leoncito'] appears [4, 59, 1, 0, 4, 4, 7] times in abstracts data.
--------------------------------------------------------------------------------
['Polarization', 'Emission', 'of', 'Millimeter', 'Activity', 'at', 'the', 'Sun', '(POEMAS),', 'Complejo', 'Astronomico', 'El', 'Leoncito'] appears [1514, 17713, 63810, 1367, 3841, 63868, 63868, 4417, 0, 4, 27, 62019, 7] times in abstracts data.
['Polarization Emission', 'Emission of', 'of Millimeter', 'Millimeter Activity', 'Activity at', 'at the', 'the Sun', 'Sun (POEMAS),', '(POEMAS), Complejo', 'Complejo Astronomico', 'Astronomico El', 'El Leoncito'] appears [0, 1254, 31, 2, 80, 36408, 2921, 0, 0, 4, 4, 7] times in abstracts data.
--------------------------------------------------------------------------------
['Bleien', 'Radio', 'Observatory'] appears [0, 9524, 3950] times in abstracts data.
['Bleien Radio', 'Radio Observatory'] appears [0, 98] times in abstracts data.
--------------------------------------------------------------------------------
['Radio', 'Solar', 'Telescope', 'Network', '(RSTN)'] appears [9524, 10845, 10808, 817, 4] times in abstracts data.
['Radio Solar', 'Solar Telescope', 'Telescope Network', 'Network (RSTN)'] appears [5, 89, 13, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Daocheng', 'Solar', 'Radio', 'Telescope'] appears [0, 10845, 9524, 10808] times in abstracts data.
['Daocheng Solar', 'Solar Radio', 'Radio Telescope'] appears [0, 93, 611] times in abstracts data.
--------------------------------------------------------------------------------
['Mingantu', 'interplanetary', 'scintillation', 'telescope'] appears [1, 605, 229, 10808] times in abstracts data.
['Mingantu interplanetary', 'interplanetary scintillation', 'scintillation telescope'] appears [0, 19, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Proton-1'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Proton-2'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Proton-4'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Small', 'Astronomy', 'Satellite', '2', '(SAS-B)'] appears [12157, 1242, 3148, 45244, 0] times in abstracts data.
['Small Astronomy', 'Astronomy Satellite', 'Satellite 2', '2 (SAS-B)'] appears [5, 47, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Cos-B'] appears [11] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['High', 'Energy', 'Astronomy', 'Observatory', '3', '(HEAO', '3)'] appears [28343, 11726, 1242, 3950, 39020, 11, 4412] times in abstracts data.
['High Energy', 'Energy Astronomy', 'Astronomy Observatory', 'Observatory 3', '3 (HEAO', '(HEAO 3)'] appears [825, 4, 92, 11, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Granat'] appears [16] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Gamma'] appears [4273] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Compton', 'Gamma', 'Ray', 'Observatory', '(CGRO)'] appears [1581, 4273, 18529, 3950, 52] times in abstracts data.
['Compton Gamma', 'Gamma Ray', 'Ray Observatory', 'Observatory (CGRO)'] appears [177, 911, 734, 52] times in abstracts data.
--------------------------------------------------------------------------------
['Low', 'Energy', 'Gamma', 'Ray', 'Imager', '(LEGRI)'] appears [35009, 11726, 4273, 18529, 698, 0] times in abstracts data.
['Low Energy', 'Energy Gamma', 'Gamma Ray', 'Ray Imager', 'Imager (LEGRI)'] appears [141, 285, 911, 18, 0] times in abstracts data.
--------------------------------------------------------------------------------
['High', 'Energy', 'Transient', 'Explorer', '2', '(HETE', '2)'] appears [28343, 11726, 1829, 1333, 45244, 12, 5994] times in abstracts data.
['High Energy', 'Energy Transient', 'Transient Explorer', 'Explorer 2', '2 (HETE', '(HETE 2)'] appears [825, 30, 11, 8, 6, 0] times in abstracts data.
--------------------------------------------------------------------------------
['International', 'Gamma', 'Ray', 'Astrophysics', 'Laboratory', '(INTEGRAL)'] appears [419, 4273, 18529, 1088, 840, 15] times in abstracts data.
['International Gamma', 'Gamma Ray', 'Ray Astrophysics', 'Astrophysics Laboratory', 'Laboratory (INTEGRAL)'] appears [31, 911, 47, 32, 11] times in abstracts data.
--------------------------------------------------------------------------------
['Swift', 'Gamma', 'Ray', 'Burst', 'Explorer'] appears [678, 4273, 18529, 7926, 1333] times in abstracts data.
['Swift Gamma', 'Gamma Ray', 'Ray Burst', 'Burst Explorer'] appears [30, 911, 2689, 7] times in abstracts data.
--------------------------------------------------------------------------------
['Astrorivelatore', 'Gamma', 'ad', 'Immagini', 'LEggero', '(AGILE)'] appears [0, 4273, 46377, 0, 0, 0] times in abstracts data.
['Astrorivelatore Gamma', 'Gamma ad', 'ad Immagini', 'Immagini LEggero', 'LEggero (AGILE)'] appears [0, 0, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Fermi', 'Gamma-ray', 'Space', 'Telescope'] appears [624, 3389, 10148, 10808] times in abstracts data.
['Fermi Gamma-ray', 'Gamma-ray Space', 'Space Telescope'] appears [62, 64, 4281] times in abstracts data.
--------------------------------------------------------------------------------
['Gamma-Ray', 'Burst', 'Polarimeter', '(GAP)'] appears [3389, 7926, 227, 5] times in abstracts data.
['Gamma-Ray Burst', 'Burst Polarimeter', 'Polarimeter (GAP)'] appears [2025, 2, 2] times in abstracts data.
--------------------------------------------------------------------------------
['Uhuru', '(Small', 'Astronomy', 'Satellite', '1,', 'SAS-A)'] appears [34, 34, 1242, 3148, 6924, 0] times in abstracts data.
['Uhuru (Small', '(Small Astronomy', 'Astronomy Satellite', 'Satellite 1,', '1, SAS-A)'] appears [0, 0, 47, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------

['Astronomical', 'Netherlands', 'Satellite', '(ANS)'] appears [1486, 33, 3148, 4] times in abstracts data.
['Astronomical Netherlands', 'Netherlands Satellite', 'Satellite (ANS)'] appears [4, 4, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Ariel', 'V'] appears [56, 63826] times in abstracts data.
['Ariel V'] appears [11] times in abstracts data.
--------------------------------------------------------------------------------
['Aryabhata'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Small', 'Astronomy', 'Satellite', '3', '(SAS-C)'] appears [12157, 1242, 3148, 39020, 0] times in abstracts data.
['Small Astronomy', 'Astronomy Satellite', 'Satellite 3', '3 (SAS-C)'] appears [5, 47, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Cos-B'] appears [11] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Cosmic', 'Radiation', 'Satellite', '(CORSA)'] appears [5786, 5845, 3148, 0] times in abstracts data.
['Cosmic Radiation', 'Radiation Satellite', 'Satellite (CORSA)'] appears [75, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['High', 'Energy', 'Astronomy', 'Observatory', '1', '(HEAO', '1)'] appears [28343, 11726, 1242, 3950, 51036, 11, 7232] times in abstracts data.
['High Energy', 'Energy Astronomy', 'Astronomy Observatory', 'Observatory 1', '1 (HEAO', '(HEAO 1)'] appears [825, 4, 92, 79, 2, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Einstein', 'Observatory', '(HEAO', '2)'] appears [826, 3950, 11, 5994] times in abstracts data.
['Einstein Observatory', 'Observatory (HEAO', '(HEAO 2)'] appears [121, 2, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Hakucho', '(CORSA-b)'] appears [2, 0] times in abstracts data.
['Hakucho (CORSA-b)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['High', 'Energy', 'Astronomy', 'Observatory', '3', '(HEAO', '3)'] appears [28343, 11726, 1242, 3950, 39020, 11, 4412] times in abstracts data.
['High Energy', 'Energy Astronomy', 'Astronomy Observatory', 'Observatory 3', '3 (HEAO', '(HEAO 3)'] appears [825, 4, 92, 11, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Tenma', '(Astro-B)'] appears [1, 0] times in abstracts data.
['Tenma (Astro-B)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Astron'] appears [3137] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['EXOSAT'] appears [34] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Ginga', '(Astro-C)'] appears [79, 0] times in abstracts data.
['Ginga (Astro-C)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Granat'] appears [16] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['ROSAT'] appears [853] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Broad', 'Band', 'X-ray', 'Telescope', '/', 'Astro', '1'] appears [5505, 9053, 11374, 10808, 20102, 6781, 51036] times in abstracts data.
['Broad Band', 'Band X-ray', 'X-ray Telescope', 'Telescope /', '/ Astro', 'Astro 1'] appears [67, 68, 261, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Advanced', 'Satellite', 'for', 'Cosmology', 'and', 'Astrophysics', '(ASCA,', 'Astro-D)'] appears [1005, 3148, 56668, 1783, 62845, 1088, 0, 2] times in abstracts data.
['Advanced Satellite', 'Satellite for', 'for Cosmology', 'Cosmology and', 'and Astrophysics', 'Astrophysics (ASCA,', '(ASCA, Astro-D)'] appears [36, 62, 98, 194, 141, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Array', 'of', 'Low', 'Energy', 'X-ray', 'Imaging', 'Sensors', '(Alexis)'] appears [2905, 63810, 35009, 11726, 11374, 5137, 47, 0] times in abstracts data.
['Array of', 'of Low', 'Low Energy', 'Energy X-ray', 'X-ray Imaging', 'Imaging Sensors', 'Sensors (Alexis)'] appears [195, 2464, 141, 70, 127, 1, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Rossi', 'X-ray', 'Timing', 'Explorer', '(RXTE)'] appears [1094, 11374, 1586, 1333, 200] times in abstracts data.
['Rossi X-ray', 'X-ray Timing', 'Timing Explorer', 'Explorer (RXTE)'] appears [498, 522, 489, 185] times in abstracts data.
--------------------------------------------------------------------------------
['BeppoSAX'] appears [238] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['A', 'Broadband', 'Imaging', 'X-ray', 'All-sky', 'Survey', '(ABRIXAS)'] appears [63999, 835, 5137, 11374, 805, 11372, 0] times in abstracts data.
['A Broadband', 'Broadband Imaging', 'Imaging X-ray', 'X-ray All-sky', 'All-sky Survey', 'Survey (ABRIXAS)'] appears [37, 18, 7, 10, 415, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Chandra', 'X-ray', 'Observatory'] appears [2630, 11374, 3950] times in abstracts data.
['Chandra X-ray', 'X-ray Observatory'] appears [716, 519] times in abstracts data.
--------------------------------------------------------------------------------
['XMM-Newton'] appears [885] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['High', 'Energy', 'Transient', 'Explorer', '2', '(HETE', '2)'] appears [28343, 11726, 1829, 1333, 45244, 12, 5994] times in abstracts data.
['High Energy', 'Energy Transient', 'Transient Explorer', 'Explorer 2', '2 (HETE', '(HETE 2)'] appears [825, 30, 11, 8, 6, 0] times in abstracts data.
--------------------------------------------------------------------------------
['International', 'Gamma', 'Ray', 'Astrophysics', 'Laboratory', '(INTEGRAL)'] appears [419, 4273, 18529, 1088, 840, 15] times in abstracts data.
['International Gamma', 'Gamma Ray', 'Ray Astrophysics', 'Astrophysics Laboratory', 'Laboratory (INTEGRAL)'] appears [31, 911, 47, 32, 11] times in abstracts data.
--------------------------------------------------------------------------------
['Swift', 'Gamma', 'Ray', 'Burst', 'Explorer'] appears [678, 4273, 18529, 7926, 1333] times in abstracts data.
['Swift Gamma', 'Gamma Ray', 'Ray Burst', 'Burst Explorer'] appears [30, 911, 2689, 7] times in abstracts data.
--------------------------------------------------------------------------------
['Suzaku', '(Astro-E2)'] appears [94, 0] times in abstracts data.
['Suzaku (Astro-E2)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['AGILE'] appears [80] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Nuclear', 'Spectroscopic', 'Telescope', 'Array', '(NuSTAR)'] appears [3580, 5026, 10808, 2905, 2] times in abstracts data.
['Nuclear Spectroscopic', 'Spectroscopic Telescope', 'Telescope Array', 'Array (NuSTAR)'] appears [7, 16, 113, 2] times in abstracts data.
--------------------------------------------------------------------------------
['Astrosat'] appears [43] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------

['Hitomi', '(Astro-H)'] appears [6, 0] times in abstracts data.
['Hitomi (Astro-H)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Mikhailo', 'Lomonosov'] appears [0, 10] times in abstracts data.
['Mikhailo Lomonosov'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Neutron', 'Star', 'Interior', 'Composition', 'Explorer', '(NICER)'] appears [3892, 31462, 1164, 2368, 1333, 3] times in abstracts data.
['Neutron Star', 'Star Interior', 'Interior Composition', 'Composition Explorer', 'Explorer (NICER)'] appears [3370, 38, 21, 39, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Hard', 'X-ray', 'Modulation', 'Telescope', '(HXMT)'] appears [3151, 11374, 985, 10808, 3] times in abstracts data.
['Hard X-ray', 'X-ray Modulation', 'Modulation Telescope', 'Telescope (HXMT)'] appears [1110, 30, 19, 3] times in abstracts data.
--------------------------------------------------------------------------------
['Spektr-RG'] appears [2] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['IXPE'] appears [3] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['XRISM'] appears [7] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['OAO-2', '(Stargazer)'] appears [10, 0] times in abstracts data.
['OAO-2 (Stargazer)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Orion', '1', 'and', 'Orion', '2', 'Space', 'Observatories'] appears [808, 51036, 62845, 808, 45244, 10148, 611] times in abstracts data.
['Orion 1', '1 and', 'and Orion', 'Orion 2', '2 Space', 'Space Observatories'] appears [4, 3407, 39, 0, 36, 33] times in abstracts data.
--------------------------------------------------------------------------------
['Far', 'Ultraviolet', 'Camera/Spectrograph', '(UVC)'] appears [5122, 3260, 0, 6] times in abstracts data.
['Far Ultraviolet', 'Ultraviolet Camera/Spectrograph', 'Camera/Spectrograph (UVC)'] appears [253, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['OAO-3', 'Copernicus'] appears [3, 103] times in abstracts data.
['OAO-3 Copernicus'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Astronomical', 'Netherlands', 'Satellite', '(ANS)'] appears [1486, 33, 3148, 4] times in abstracts data.
['Astronomical Netherlands', 'Netherlands Satellite', 'Satellite (ANS)'] appears [4, 4, 4] times in abstracts data.
--------------------------------------------------------------------------------
['International', 'Ultraviolet', 'Explorer', '(IUE)'] appears [419, 3260, 1333, 52] times in abstracts data.
['International Ultraviolet', 'Ultraviolet Explorer', 'Explorer (IUE)'] appears [108, 178, 46] times in abstracts data.
--------------------------------------------------------------------------------
['Astron'] appears [3137] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Hubble', 'Space', 'Telescope'] appears [4804, 10148, 10808] times in abstracts data.
['Hubble Space', 'Space Telescope'] appears [3165, 4281] times in abstracts data.
--------------------------------------------------------------------------------
['Broad', 'Band', 'X-ray', 'Telescope', '/', 'Astro', '1'] appears [5505, 9053, 11374, 10808, 20102, 6781, 51036] times in abstracts data.
['Broad Band', 'Band X-ray', 'X-ray Telescope', 'Telescope /', '/ Astro', 'Astro 1'] appears [67, 68, 261, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Extreme', 'Ultraviolet', 'Explorer', '(EUVE)'] appears [4300, 3260, 1333, 41] times in abstracts data.
['Extreme Ultraviolet', 'Ultraviolet Explorer', 'Explorer (EUVE)'] appears [233, 178, 39] times in abstracts data.
--------------------------------------------------------------------------------
['Astro', '2'] appears [6781, 45244] times in abstracts data.
['Astro 2'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Far', 'Ultraviolet', 'Spectroscopic', 'Explorer', '(FUSE)'] appears [5122, 3260, 5026, 1333, 131] times in abstracts data.
['Far Ultraviolet', 'Ultraviolet Spectroscopic', 'Spectroscopic Explorer', 'Explorer (FUSE)'] appears [253, 248, 239, 131] times in abstracts data.
--------------------------------------------------------------------------------
['Cosmic', 'Hot', 'Interstellar', 'Spectrometer', '(CHIPS)'] appears [5786, 18131, 4332, 1267, 2] times in abstracts data.
['Cosmic Hot', 'Hot Interstellar', 'Interstellar Spectrometer', 'Spectrometer (CHIPS)'] appears [2, 65, 0, 2] times in abstracts data.
--------------------------------------------------------------------------------
['Galaxy', 'Evolution', 'Explorer', '(GALEX)'] appears [17325, 14449, 1333, 112] times in abstracts data.
['Galaxy Evolution', 'Evolution Explorer', 'Explorer (GALEX)'] appears [756, 138, 94] times in abstracts data.
--------------------------------------------------------------------------------
['Korea', 'Advanced', 'Institute', 'of', 'Science', 'and', 'Technology', 'Satellite', '4', '(Kaistsat', '4)'] appears [16, 1005, 314, 63810, 1385, 62845, 298, 3148, 34492, 0, 2892] times in abstracts data.
['Korea Advanced', 'Advanced Institute', 'Institute of', 'of Science', 'Science and', 'and Technology', 'Technology Satellite', 'Satellite 4', '4 (Kaistsat', '(Kaistsat 4)'] appears [0, 1, 137, 161, 83, 59, 0, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Swift', 'Gamma', 'Ray', 'Burst', 'Explorer', '(Swift)'] appears [678, 4273, 18529, 7926, 1333, 0] times in abstracts data.
['Swift Gamma', 'Gamma Ray', 'Ray Burst', 'Burst Explorer', 'Explorer (Swift)'] appears [30, 911, 2689, 7, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Interface', 'Region', 'Imaging', 'Spectrograph', '(IRIS)'] appears [359, 15323, 5137, 1919, 20] times in abstracts data.
['Interface Region', 'Region Imaging', 'Imaging Spectrograph', 'Spectrograph (IRIS)'] appears [36, 24, 441, 16] times in abstracts data.
--------------------------------------------------------------------------------
['Hisaki', '(SPRINT-A)'] appears [0, 0] times in abstracts data.
['Hisaki (SPRINT-A)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Venus', 'Spectral', 'Rocket', 'Experiment'] appears [134, 9575, 113, 2619] times in abstracts data.
['Venus Spectral', 'Spectral Rocket', 'Rocket Experiment'] appears [0, 0, 5] times in abstracts data.
--------------------------------------------------------------------------------
['Lunar-based', 'ultraviolet', 'telescope', '(LUT)'] appears [2, 3260, 10808, 0] times in abstracts data.
['Lunar-based ultraviolet', 'ultraviolet telescope', 'telescope (LUT)'] appears [0, 51, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Astrosat'] appears [43] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Spatial', 'Heterodyne', 'Interferometric', 'Emission', 'Line', 'Dynamics', 'Spectrometer', '(SHIELDS)'] appears [4914, 36, 506, 17713, 20997, 3392, 1267, 0] times in abstracts data.
['Spatial Heterodyne', 'Heterodyne Interferometric', 'Interferometric Emission', 'Emission Line', 'Line Dynamics', 'Dynamics Spectrometer', 'Spectrometer (SHIELDS)'] appears [2, 0, 0, 3232, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------

['Hipparcos'] appears [465] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Hubble', 'Space', 'Telescope'] appears [4804, 10148, 10808] times in abstracts data.
['Hubble Space', 'Space Telescope'] appears [3165, 4281] times in abstracts data.
--------------------------------------------------------------------------------
['MOST'] appears [17492] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Swift', 'Gamma', 'Ray', 'Burst', 'Explorer'] appears [678, 4273, 18529, 7926, 1333] times in abstracts data.
['Swift Gamma', 'Gamma Ray', 'Ray Burst', 'Burst Explorer'] appears [30, 911, 2689, 7] times in abstracts data.
--------------------------------------------------------------------------------
['COROT'] appears [483] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Kepler'] appears [1154] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['BRITE', 'constellation'] appears [8, 135] times in abstracts data.
['BRITE constellation'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Near', 'Earth', 'Object', 'Surveillance', 'Satellite', '(NEOSSat)'] appears [19211, 2578, 11475, 5, 3148, 0] times in abstracts data.
['Near Earth', 'Earth Object', 'Object Surveillance', 'Surveillance Satellite', 'Satellite (NEOSSat)'] appears [47, 44, 1, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Gaia', '(astrometry)'] appears [300, 0] times in abstracts data.
['Gaia (astrometry)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Astrosat'] appears [43] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Transiting', 'Exoplanet', 'Survey', 'Satellite', '(TESS)'] appears [744, 1007, 11372, 3148, 18] times in abstracts data.
['Transiting Exoplanet', 'Exoplanet Survey', 'Survey Satellite', 'Satellite (TESS)'] appears [149, 32, 22, 16] times in abstracts data.
--------------------------------------------------------------------------------
['CHEOPS'] appears [11] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['IRAS'] appears [1113] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Infrared', 'Telescope', 'in', 'Space'] appears [8134, 10808, 63942, 10148] times in abstracts data.
['Infrared Telescope', 'Telescope in', 'in Space'] appears [210, 311, 289] times in abstracts data.
--------------------------------------------------------------------------------
['Infrared', 'Space', 'Observatory', '(ISO)'] appears [8134, 10148, 3950, 140] times in abstracts data.
['Infrared Space', 'Space Observatory', 'Observatory (ISO)'] appears [323, 409, 136] times in abstracts data.
--------------------------------------------------------------------------------
['Midcourse', 'Space', 'Experiment', '(MSX)'] appears [44, 10148, 2619, 36] times in abstracts data.
['Midcourse Space', 'Space Experiment', 'Experiment (MSX)'] appears [44, 60, 26] times in abstracts data.
--------------------------------------------------------------------------------
['Submillimeter', 'Wave', 'Astronomy', 'Satellite', '(SWAS)'] appears [843, 11432, 1242, 3148, 4] times in abstracts data.
['Submillimeter Wave', 'Wave Astronomy', 'Astronomy Satellite', 'Satellite (SWAS)'] appears [124, 89, 47, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Wide', 'Field', 'Infrared', 'Explorer', '(WIRE)'] appears [5974, 14352, 8134, 1333, 5] times in abstracts data.
['Wide Field', 'Field Infrared', 'Infrared Explorer', 'Explorer (WIRE)'] appears [621, 52, 5, 5] times in abstracts data.
--------------------------------------------------------------------------------
['Spitzer', 'Space', 'Telescope'] appears [1639, 10148, 10808] times in abstracts data.
['Spitzer Space', 'Space Telescope'] appears [664, 4281] times in abstracts data.
--------------------------------------------------------------------------------
['Akari', '(Astro-F)'] appears [33, 0] times in abstracts data.
['Akari (Astro-F)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Herschel', 'Space', 'Observatory'] appears [315, 10148, 3950] times in abstracts data.
['Herschel Space', 'Space Observatory'] appears [53, 409] times in abstracts data.
--------------------------------------------------------------------------------
['Wide-field', 'Infrared', 'Survey', 'Explorer', '(WISE)'] appears [615, 8134, 11372, 1333, 19] times in abstracts data.
['Wide-field Infrared', 'Infrared Survey', 'Survey Explorer', 'Explorer (WISE)'] appears [36, 227, 27, 19] times in abstracts data.
--------------------------------------------------------------------------------
['CHEOPS'] appears [11] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['James', 'Webb', 'Space', 'Telescope', '(JWST)'] appears [318, 136, 10148, 10808, 38] times in abstracts data.
['James Webb', 'Webb Space', 'Space Telescope', 'Telescope (JWST)'] appears [121, 122, 4281, 37] times in abstracts data.
--------------------------------------------------------------------------------
['Euclid'] appears [81] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Cosmic', 'Background', 'Explorer', '(COBE)'] appears [5786, 4430, 1333, 43] times in abstracts data.
['Cosmic Background', 'Background Explorer', 'Explorer (COBE)'] appears [182, 57, 43] times in abstracts data.
--------------------------------------------------------------------------------
['Odin'] appears [290] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['WMAP'] appears [380] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Planck'] appears [485] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Highly', 'Advanced', 'Laboratory', 'for', 'Communications', 'and', 'Astronomy', '(HALCA,', 'VSOP', 'or', 'MUSES-B)'] appears [3683, 1005, 840, 56668, 20, 62845, 1242, 0, 4, 63332, 0] times in abstracts data.
['Highly Advanced', 'Advanced Laboratory', 'Laboratory for', 'for Communications', 'Communications and', 'and Astronomy', 'Astronomy (HALCA,', '(HALCA, VSOP', 'VSOP or', 'or MUSES-B)'] appears [1, 0, 98, 2, 2, 97, 0, 0, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Spektr-R', '(RadioAstron)'] appears [3, 0] times in abstracts data.
['Spektr-R (RadioAstron)'] appears [0] times in abstracts data.
--------------------------------------------------------------------------------
['Proton-1'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Proton-2'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['High', 'Energy', 'Astrophysics', 'Observatory', '3', '(HEAO', '3)'] appears [28343, 11726, 1088, 3950, 39020, 11, 4412] times in abstracts data.
['High Energy', 'Energy Astrophysics', 'Astrophysics Observatory', 'Observatory 3', '3 (HEAO', '(HEAO 3)'] appears [825, 60, 0, 11, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------

['SAMPEX'] appears [4] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Alpha', 'Magnetic', 'Spectrometer', '01', '(AMS-01)'] appears [1500, 7933, 1267, 9024, 0] times in abstracts data.
['Alpha Magnetic', 'Magnetic Spectrometer', 'Spectrometer 01', '01 (AMS-01)'] appears [6, 12, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Payload', 'for', 'Antimatter', 'Matter', 'Exploration', 'and', 'Light-nuclei', 'Astrophysics', '(PAMELA)'] appears [74, 56668, 44, 7279, 295, 62845, 7, 1088, 0] times in abstracts data.
['Payload for', 'for Antimatter', 'Antimatter Matter', 'Matter Exploration', 'Exploration and', 'and Light-nuclei', 'Light-nuclei Astrophysics', 'Astrophysics (PAMELA)'] appears [9, 11, 7, 7, 21, 7, 7, 0] times in abstracts data.
--------------------------------------------------------------------------------
['IBEX'] appears [14] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Alpha', 'Magnetic', 'Spectrometer', '02', '(AMS-02)'] appears [1500, 7933, 1267, 5997, 1] times in abstracts data.
['Alpha Magnetic', 'Magnetic Spectrometer', 'Spectrometer 02', '02 (AMS-02)'] appears [6, 12, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['Dark', 'Matter', 'Particle', 'Explorer', '(DAMPE)'] appears [6494, 7279, 4528, 1333, 11] times in abstracts data.
['Dark Matter', 'Matter Particle', 'Particle Explorer', 'Explorer (DAMPE)'] appears [4476, 228, 15, 11] times in abstracts data.
--------------------------------------------------------------------------------
['Lunar', 'Surface', 'Gravimeter'] appears [226, 7405, 1] times in abstracts data.
['Lunar Surface', 'Surface Gravimeter'] appears [27, 0] times in abstracts data.
--------------------------------------------------------------------------------
['X-ray', 'Polarimeter', 'Satellite', '(XPoSat)'] appears [11374, 227, 3148, 0] times in abstracts data.
['X-ray Polarimeter', 'Polarimeter Satellite', 'Satellite (XPoSat)'] appears [17, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['International', 'Lunar', 'Observatory', 'Precursor', '(ILO-X)'] appears [419, 226, 3950, 460, 0] times in abstracts data.
['International Lunar', 'Lunar Observatory', 'Observatory Precursor', 'Precursor (ILO-X)'] appears [2, 5, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['TOLIMAN'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Xuntian'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['SPHEREx'] appears [2] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Astrosat-2'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['PLATO'] appears [12] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['ULTRASAT'] appears [0] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Nancy', 'Grace', 'Roman', 'Space', 'Telescope', '(Wide', 'Field', 'Infrared', 'Survey', 'Telescope;', 'WFIRST)'] appears [1, 5, 35, 10148, 10808, 2, 14352, 8134, 11372, 25, 11] times in abstracts data.
['Nancy Grace', 'Grace Roman', 'Roman Space', 'Space Telescope', 'Telescope (Wide', '(Wide Field', 'Field Infrared', 'Infrared Survey', 'Survey Telescope;', 'Telescope; WFIRST)'] appears [0, 0, 0, 4281, 0, 0, 52, 227, 0, 0] times in abstracts data.
--------------------------------------------------------------------------------
['ARIEL'] appears [56] times in abstracts data.
[] appears [] times in abstracts data.
--------------------------------------------------------------------------------
['Advanced', 'Telescope', 'for', 'High', 'Energy', 'Astrophysics', '(Athena)'] appears [1005, 10808, 56668, 28343, 11726, 1088, 4] times in abstracts data.
['Advanced Telescope', 'Telescope for', 'for High', 'High Energy', 'Energy Astrophysics', 'Astrophysics (Athena)'] appears [5, 106, 805, 825, 60, 4] times in abstracts data.
--------------------------------------------------------------------------------
['Laser', 'Interferometer', 'Space', 'Antenna', '(LISA)'] appears [384, 877, 10148, 396, 77] times in abstracts data.
['Laser Interferometer', 'Interferometer Space', 'Space Antenna', 'Antenna (LISA)'] appears [209, 113, 117, 73] times in abstracts data.
--------------------------------------------------------------------------------

In [7]:
def generate_bigrams(label):
    """Generate bigrams from a given label."""
    tokens = label.split()
    return [" ".join(tokens[i:i+2]) for i in range(len(tokens)-1)]

def get_indices(abstract_df, pattern):
    """Return indices of rows in abstract_df containing the pattern."""
    return set(abstract_df[abstract_df.str.contains(re.escape(pattern), case=False, na=False)].index.tolist())

# Collect indices of all rows that contain any bigram
all_bigram_indices = set()

for label in Labels['Labels']:
    bigrams = generate_bigrams(label)
    for bigram in bigrams:
        all_bigram_indices.update(get_indices(abstract_df, bigram))

# Determine indices of rows that don't contain any bigram
no_bigram_indices = set(abstract_df.index) - all_bigram_indices

# Display results
print(f"Number of rows that don't contain any bigram: {len(no_bigram_indices)}")
print(f"Indices of rows without any bigrams: {sorted(list(no_bigram_indices))}")

Number of rows that don't contain any bigram: 1507
Indices of rows without any bigrams: [39, 64, 65, 83, 101, 225, 235, 236, 266, 324, 342, 399, 453, 462, 470, 634, 642, 643, 698, 699, 735, 786, 789, 830, 1041, 1104, 1117, 1135, 1151, 1187, 1208, 1261, 1276, 1335, 1402, 1414, 1425, 1476, 1477, 1484, 1510, 1563, 1576, 1603, 1699, 1784, 1793, 1812, 1884, 1934, 1956, 1959, 2246, 2338, 2351, 2398, 2428, 2488, 2489, 2494, 2531, 2555, 2658, 2679, 2690, 2701, 2762, 2763, 3026, 3051, 3059, 3060, 3098, 3109, 3123, 3127, 3158, 3220, 3221, 3235, 3263, 3285, 3365, 3368, 3388, 3534, 3636, 3735, 3770, 3796, 3828, 3905, 3908, 3926, 3934, 3955, 3957, 3968, 4071, 4072, 4088, 4234, 4258, 4354, 4381, 4454, 4467, 4586, 4617, 4622, 4658, 4732, 4825, 4841, 4842, 4843, 4863, 4870, 4898, 4935, 5114, 5129, 5130, 5197, 5198, 5210, 5293, 5378, 5391, 5401, 5414, 5416, 5457, 5471, 5542, 5567, 5614, 5694, 5736, 5769, 5892, 6008, 6075, 6103, 6124, 6184, 6201, 6228, 6249, 6276, 6324, 6354, 6392, 6400, 6430, 6471, 6513, 6514, 6623, 6648, 6677, 6680, 6736, 6751, 6901, 6985, 7091, 7104, 7180, 7250, 7305, 7335, 7392, 7395, 7417, 7548, 7549, 7579, 7580, 7606, 7663, 7748, 7749, 7803, 7876, 7911, 7913, 8000, 8123, 8165, 8249, 8263, 8272, 8273, 8299, 8317, 8359, 8366, 8380, 8405, 8471, 8669, 8680, 8695, 8741, 8819, 8833, 8834, 8851, 8873, 8915, 8933, 9000, 9133, 9134, 9199, 9208, 9231, 9324, 9329, 9466, 9477, 9547, 9555, 9564, 9593, 9616, 9632, 9633, 9665, 9721, 9722, 9762, 9766, 9799, 9816, 9834, 9839, 9874, 9900, 9944, 9979, 10041, 10190, 10195, 10206, 10223, 10239, 10285, 10307, 10449, 10543, 10554, 10605, 10621, 10661, 10679, 10680, 10684, 10690, 10758, 10794, 10795, 10823, 10933, 10955, 11000, 11102, 11109, 11122, 11201, 11207, 11245, 11251, 11259, 11388, 11397, 11399, 11422, 11423, 11455, 11479, 11502, 11522, 11561, 11564, 11614, 11650, 11653, 12133, 12134, 12179, 12186, 12189, 12261, 12358, 12372, 12409, 12435, 12442, 12450, 12519, 12520, 12584, 12719, 12729, 12730, 12733, 12760, 12806, 12831, 12850, 12918, 12995, 13055, 13085, 13089, 13140, 13176, 13185, 13198, 13230, 13250, 13256, 13267, 13306, 13376, 13444, 13477, 13483, 13592, 13605, 13631, 13642, 13698, 13738, 13825, 13840, 13841, 13843, 13895, 13971, 14011, 14095, 14105, 14341, 14352, 14416, 14422, 14523, 14599, 14632, 14649, 14701, 14728, 14745, 14815, 14861, 14862, 14941, 14954, 14966, 15016, 15161, 15178, 15215, 15286, 15346, 15347, 15376, 15392, 15405, 15430, 15451, 15482, 15492, 15505, 15506, 15534, 15687, 15707, 15708, 15789, 15896, 15982, 16023, 16051, 16062, 16117, 16147, 16181, 16187, 16249, 16264, 16265, 16433, 16525, 16562, 16564, 16568, 16641, 16690, 16714, 16734, 16813, 16956, 16976, 17069, 17084, 17146, 17352, 17414, 17415, 17522, 17560, 17561, 17583, 17663, 17702, 17826, 17868, 17920, 17973, 18011, 18089, 18122, 18212, 18235, 18255, 18276, 18313, 18454, 18486, 18501, 18649, 18695, 18715, 18755, 18763, 18840, 18857, 18876, 18880, 18887, 18895, 18946, 18994, 19023, 19061, 19111, 19112, 19187, 19191, 19244, 19325, 19400, 19406, 19409, 19428, 19444, 19495, 19500, 19514, 19593, 19603, 19613, 19614, 19685, 19710, 19844, 19845, 19875, 19975, 20074, 20075, 20079, 20097, 20143, 20157, 20159, 20186, 20244, 20245, 20306, 20318, 20364, 20388, 20421, 20455, 20520, 20524, 20563, 20576, 20666, 20671, 20672, 20673, 20674, 20717, 20718, 20839, 20865, 20866, 20868, 20894, 21054, 21074, 21213, 21258, 21289, 21325, 21369, 21385, 21399, 21409, 21430, 21445, 21590, 21621, 21747, 21759, 21940, 21941, 22001, 22055, 22146, 22147, 22149, 22154, 22173, 22221, 22265, 22414, 22485, 22585, 22588, 22598, 22663, 22664, 22672, 22704, 22810, 22814, 22848, 22945, 23131, 23147, 23196, 23395, 23453, 23454, 23479, 23608, 23610, 23652, 23685, 23733, 23869, 23870, 23889, 24000, 24041, 24057, 24072, 24111, 24153, 24208, 24294, 24383, 24421, 24464, 24475, 24491, 24527, 24605, 24616, 24626, 24671, 24802, 24814, 24817, 24822, 24907, 24927, 24969, 24983, 24984, 25047, 25195, 25198, 25328, 25367, 25487, 25493, 25520, 25537, 25605, 25614, 25691, 25693, 25706, 25710, 25728, 25749, 25858, 25873, 25894, 25960, 25983, 26061, 26080, 26081, 26131, 26153, 26201, 26233, 26234, 26248, 26251, 26258, 26285, 26350, 26397, 26451, 26465, 26469, 26499, 26550, 26687, 26688, 26704, 26825, 26833, 26963, 27070, 27103, 27106, 27143, 27155, 27162, 27218, 27275, 27293, 27315, 27391, 27408, 27421, 27492, 27541, 27579, 27662, 27667, 27747, 27748, 27756, 27887, 27893, 28006, 28031, 28049, 28070, 28156, 28259, 28301, 28309, 28379, 28382, 28384, 28391, 28409, 28412, 28450, 28535, 28628, 28633, 28643, 28668, 28690, 28756, 28876, 28877, 28945, 28969, 29023, 29251, 29265, 29276, 29363, 29538, 29558, 29565, 29576, 29611, 29626, 29692, 29789, 29814, 29816, 29837, 29851, 29852, 29855, 29908, 29938, 29950, 29953, 30011, 30049, 30074, 30076, 30096, 30106, 30137, 30160, 30234, 30239, 30274, 30343, 30377, 30402, 30431, 30433, 30444, 30474, 30525, 30535, 30539, 30598, 30606, 30611, 30626, 30627, 30750, 30787, 30804, 30807, 30891, 31011, 31040, 31142, 31190, 31196, 31232, 31345, 31351, 31396, 31404, 31437, 31469, 31539, 31670, 31700, 31751, 31847, 31884, 31890, 31928, 31995, 32005, 32017, 32027, 32034, 32068, 32132, 32174, 32194, 32200, 32215, 32245, 32387, 32419, 32449, 32454, 32467, 32622, 32714, 32841, 32871, 32880, 32889, 33022, 33055, 33106, 33220, 33286, 33354, 33361, 33420, 33434, 33467, 33476, 33488, 33532, 33593, 33594, 33715, 33794, 33801, 33840, 33893, 33895, 33929, 34028, 34075, 34229, 34241, 34274, 34358, 34386, 34387, 34425, 34460, 34483, 34507, 34540, 34573, 34574, 34646, 34679, 34703, 34708, 34741, 34838, 34839, 34849, 34852, 34891, 34921, 34949, 35001, 35025, 35219, 35224, 35248, 35256, 35287, 35316, 35469, 35600, 35656, 35665, 35801, 35812, 35852, 35864, 36047, 36195, 36197, 36216, 36255, 36405, 36472, 36477, 36494, 36565, 36597, 36601, 36605, 36628, 36652, 36679, 36701, 36714, 36745, 36815, 36818, 36860, 36893, 36970, 36971, 37061, 37100, 37114, 37125, 37149, 37150, 37171, 37258, 37282, 37283, 37416, 37549, 37600, 37625, 37634, 37662, 37695, 37853, 37887, 37943, 38050, 38108, 38119, 38135, 38138, 38166, 38202, 38203, 38289, 38309, 38322, 38538, 38573, 38579, 38598, 38623, 38715, 38749, 38767, 38784, 38794, 38908, 38929, 38942, 38953, 39020, 39047, 39192, 39217, 39347, 39353, 39375, 39497, 39575, 39613, 39651, 39728, 39782, 39893, 39903, 39915, 39932, 39956, 39973, 39976, 39977, 40005, 40103, 40218, 40247, 40346, 40355, 40356, 40389, 40427, 40457, 40469, 40547, 40632, 40670, 40713, 40721, 40722, 40850, 40927, 40952, 40953, 40959, 40966, 41088, 41126, 41209, 41252, 41263, 41269, 41348, 41359, 41428, 41467, 41557, 41648, 41803, 41813, 41856, 41903, 41904, 41909, 41997, 42000, 42048, 42072, 42108, 42131, 42135, 42269, 42291, 42350, 42351, 42358, 42376, 42380, 42453, 42454, 42465, 42490, 42583, 42667, 42691, 42789, 42800, 42814, 42845, 42870, 42992, 42993, 43001, 43007, 43082, 43161, 43162, 43228, 43262, 43270, 43291, 43368, 43372, 43394, 43490, 43514, 43534, 43649, 43657, 43724, 43754, 43837, 43859, 43932, 43936, 43992, 44021, 44095, 44166, 44197, 44284, 44304, 44406, 44422, 44526, 44599, 44644, 44664, 44705, 44798, 44829, 44887, 44914, 44969, 45041, 45101, 45130, 45142, 45166, 45208, 45246, 45329, 45351, 45352, 45353, 45376, 45410, 45431, 45435, 45477, 45518, 45519, 45600, 45605, 45627, 45636, 45762, 45849, 45897, 45902, 45930, 45992, 46180, 46207, 46240, 46284, 46285, 46296, 46339, 46431, 46443, 46448, 46451, 46570, 46703, 46704, 46744, 46750, 46808, 46820, 46904, 46914, 46938, 46971, 47100, 47295, 47296, 47377, 47384, 47385, 47448, 47555, 47613, 47616, 47664, 47673, 47784, 47788, 47796, 47830, 47852, 48037, 48049, 48062, 48083, 48088, 48095, 48101, 48180, 48329, 48330, 48370, 48431, 48441, 48476, 48520, 48546, 48589, 48612, 48646, 48649, 48650, 48682, 48692, 48716, 48777, 48801, 48815, 48828, 48868, 48913, 49014, 49054, 49057, 49072, 49247, 49283, 49312, 49408, 49413, 49422, 49452, 49467, 49469, 49629, 49649, 49891, 49906, 50008, 50060, 50078, 50136, 50239, 50301, 50315, 50374, 50382, 50386, 50413, 50607, 50712, 50859, 50935, 50956, 50984, 51003, 51024, 51027, 51102, 51227, 51280, 51282, 51300, 51490, 51500, 51513, 51536, 51603, 51609, 51619, 51630, 51641, 51646, 51673, 51735, 51804, 51851, 51878, 51879, 51900, 51909, 51939, 51954, 52089, 52115, 52129, 52145, 52166, 52269, 52377, 52411, 52418, 52423, 52470, 52492, 52567, 52569, 52611, 52615, 52619, 52631, 52688, 52690, 52697, 52744, 52745, 52767, 52779, 52785, 52832, 52866, 53008, 53033, 53049, 53072, 53095, 53109, 53122, 53133, 53212, 53324, 53325, 53326, 53400, 53406, 53427, 53505, 53509, 53530, 53580, 53623, 53659, 53699, 53709, 53751, 53892, 53895, 53999, 54014, 54094, 54105, 54113, 54146, 54148, 54182, 54212, 54242, 54274, 54300, 54301, 54305, 54314, 54327, 54450, 54515, 54620, 54732, 54743, 54811, 54821, 54895, 54896, 55021, 55069, 55186, 55204, 55396, 55420, 55481, 55514, 55552, 55553, 55595, 55629, 55630, 55631, 55664, 55687, 55702, 55715, 55767, 55780, 55811, 55839, 55840, 55849, 55921, 55922, 55940, 55982, 56051, 56177, 56221, 56237, 56335, 56348, 56460, 56463, 56572, 56573, 56578, 56613, 56658, 56808, 56843, 56888, 56889, 56978, 57027, 57044, 57121, 57133, 57215, 57226, 57431, 57436, 57471, 57499, 57533, 57561, 57610, 57662, 57722, 57737, 57804, 57809, 57810, 57819, 57832, 57842, 57941, 58015, 58086, 58096, 58196, 58199, 58220, 58239, 58245, 58251, 58267, 58296, 58327, 58349, 58387, 58413, 58559, 58633, 58702, 58707, 58759, 58845, 58928, 58952, 59019, 59041, 59053, 59102, 59183, 59287, 59345, 59368, 59435, 59461, 59498, 59530, 59654, 59657, 59691, 59763, 59792, 59826, 59876, 59912, 59921, 59945, 59955, 59985, 59990, 60059, 60159, 60205, 60224, 60228, 60271, 60278, 60368, 60401, 60427, 60443, 60459, 60463, 60576, 60578, 60579, 60590, 60641, 60649, 60687, 60761, 60787, 60836, 60851, 60868, 60911, 60929, 60930, 60946, 60965, 60975, 60997, 61080, 61172, 61211, 61287, 61315, 61332, 61357, 61358, 61396, 61401, 61424, 61432, 61435, 61484, 61559, 61563, 61610, 61651, 61745, 61772, 61871, 61964, 61982, 62038, 62043, 62046, 62096, 62100, 62215, 62229, 62234, 62248, 62279, 62282, 62317, 62341, 62446, 62482, 62563, 62566, 62584, 62666, 62675, 62698, 62766, 62788, 62875, 62876, 62916, 62952, 62957, 63098, 63129, 63190, 63207, 63234, 63243, 63303, 63343, 63383, 63396, 63430, 63511, 63664, 63735, 63737, 63752, 63807, 63816, 63818, 63867, 63912, 63962]

# Full Text Data

In [8]:
# Count the occurrences of each label
label_counts = {}
for label in Labels['Labels']:
    escaped_label = re.escape(label)
    label_counts[label] = full_text.str.contains(escaped_label, case=False, na=False).sum()

# Results
for label, count in label_counts.items():
    print(f"'{label}' appears {count} times.")

'Abastumani Astrophysical Observatory' appears 3 times.
'Abu Reyhan-e Birooni Observatory' appears 0 times.
'Adirondack Public Observatory' appears 0 times.
'Adolphson Observatory' appears 0 times.
'Airdrie Public Observatory' appears 0 times.
'Aker Observatory' appears 0 times.
'Aldershot Observatory' appears 0 times.
'Algonquin Radio Observatory' appears 0 times.
'Allegheny Observatory' appears 75 times.
'Ametlla de Mar Observatory' appears 0 times.
'AMiBA' appears 2 times.
'Anderson Mesa Station' appears 1 times.
'Angell Hall Observatory' appears 0 times.
'Ankara University Observatory' appears 0 times.
'Antarctic Muon and Neutrino Detector Array' appears 0 times.
'Antarctic Submillimeter Telescope and Remote Observatory' appears 0 times.
'ANTARES' appears 73 times.
'Apache-Sitgreaves Observatory' appears 0 times.
'Apache Point Observatory' appears 2 times.
'Apatity Cosmic-Ray Station' appears 0 times.
'Apollo Observatory' appears 0 times.
'Arcetri Observatory' appears 0 times.
'Arecibo Observatory' appears 21 times.
'Argentine Institute of Radio Astronomy' appears 0 times.
'Armagh Observatory' appears 3 times.
'Aryabhatta Research Institute of Observational Sciences' appears 4 times.
'Ashton Observatory' appears 0 times.
'Asiago Astrophysical Observatory' appears 0 times.
'Assheton Observatory' appears 0 times.
'Astron (defunct)' appears 0 times.
'Astronomical Observatory Aurora' appears 0 times.
'Astronomical Observatory of Lisbon' appears 0 times.
'Astronomy Centre' appears 4 times.
'Astronomy Tower of the Sorbonne' appears 0 times.
'Astrophysical Institute Potsdam' appears 2 times.
'Atacama Pathfinder Experiment (APEX)' appears 0 times.
'Australia Telescope Compact Array' appears 0 times.
'Australian Astronomical Observatory' appears 0 times.
'Badlands Observatory' appears 0 times.
'Baikal Deep Underwater Neutrino Telescope' appears 0 times.
'Bangladesh Astronomical Observatory' appears 0 times.
'Baker Observatory' appears 0 times.
'Baksan Neutrino Observatory' appears 0 times.
'Ball State University Observatory' appears 0 times.
'Barnard Observatory (defunct)' appears 0 times.
'Bareket Observatory' appears 0 times.
'Barnett Observatory' appears 0 times.
'Bayfordbury Observatory' appears 2 times.
'Behlen Observatory' appears 0 times.
'Beijing Astronomical Observatory' appears 0 times.
'Beijing Ancient Observatory' appears 0 times.
'Belgrade Observatory' appears 0 times.
'Belogradchik Observatory' appears 0 times.
'Benmore Peak Observatory' appears 0 times.
'BeppoSAX (defunct)' appears 0 times.
'Bergisch Gladbach Observatory' appears 0 times.
'Berlin Observatory' appears 29 times.
'Besançon Observatory' appears 0 times.
'BESS' appears 974 times.
'Bidston Observatory' appears 1 times.
'Big Bear Lake Solar Observatory' appears 0 times.
'Bisdee Tier Optical Astronomy Observatory' appears 0 times.
'Black Moshannon Observatory (defunct)' appears 0 times.
'Blackett Observatory' appears 0 times.
'Blue Mesa Observatory (defunct)' appears 0 times.
'Boambee Observatory' appears 0 times.
'Bohyunsan Optical Astronomy Observatory (BOAO)' appears 0 times.
'BOOTES' appears 11 times.
'Bordeaux Observatory' appears 1 times.
'Bosscha Observatory' appears 0 times.
'Boswell Observatory (defunct)' appears 0 times.
'Bowman Observatory' appears 0 times.
'Boyden Observatory' appears 0 times.
'Bradstreet Observatory' appears 0 times.
'Bradley Observatory' appears 0 times.
'Braeside Observatory (defunct)' appears 0 times.
'Brera Observatory' appears 0 times.
'Bridgewater State University Observatory' appears 0 times.
'Brooks Observatory' appears 0 times.
'Brooks Astronomical Observatory' appears 0 times.
'Brorfelde Observatory' appears 0 times.
'Bucharest Observatory' appears 0 times.
'Bucknell Observatory' appears 0 times.
'Burrell Memorial Observatory' appears 0 times.
'Byurakan Observatory' appears 0 times.
'Cagigal Observatory' appears 0 times.
'Cagliari Observatory' appears 1 times.
'Calais Observatory (defunct)' appears 0 times.
'Calar Alto Observatory' appears 2 times.
'Caltech Submillimeter Observatory (defunct)' appears 0 times.
'Cambridge Observatory' appears 12 times.
'Camille Flammarion Observatory' appears 0 times.
'Campbelltown Rotary Observatory' appears 0 times.
'Campo Imperatore Near-Earth Object Survey' appears 0 times.
'Canopus Hill Observatory' appears 0 times.
'Capilla Peak Observatory' appears 0 times.
'Capodimonte Observatory' appears 0 times.
'Carter Observatory' appears 0 times.
'Catania Astrophysical Observatory' appears 1 times.
'Cawthron Atkinson Observatory' appears 0 times.
'Celestial Observatory' appears 0 times.
'Centennial Observatory' appears 0 times.
'Center for Astrophysics | Harvard & Smithsonian' appears 0 times.
'Cerro Armazones Observatory' appears 0 times.
'Cerro Tololo Inter-American Observatory' appears 1 times.
'Cerro Pachón Observatory' appears 0 times.
'Chabot Space & Science Center' appears 0 times.
'Chamberlin Observatory' appears 21 times.
'Changchun Astronomical Observatory' appears 0 times.
'Chandra X-ray Observatory' appears 4 times.
'Chianti Polifunctional Observatory' appears 0 times.
'Chico Community Observatory' appears 0 times.
'Chilbolton Observatory' appears 4 times.
'Cima Ekar Observing Station' appears 0 times.
'Cincinnati Observatory' appears 17 times.
'City Observatory, Edinburgh' appears 0 times.
'Clarke Observatory' appears 0 times.
'Class of 1951 Observatory' appears 0 times.
'Cloudcroft Observatory (defunct)' appears 0 times.
'Coats Observatory' appears 0 times.
'Coit Observatory' appears 0 times.
'Collins Observatory' appears 0 times.
'Collm Observatory' appears 3 times.
'Colombo University Observatory' appears 0 times.
'Compton Gamma-Ray Observatory (defunct)' appears 0 times.
'ÇOMÜ Ulupınar Observatory' appears 0 times.
'Concordia College Observatory' appears 0 times.
'Consell Observatory' appears 0 times.
'Copenhagen University Observatory' appears 0 times.
'Cordell–Lorenz Observatory' appears 0 times.
'COROT' appears 135 times.
'Cosmic Background Imager (CBI) (defunct)' appears 0 times.
'Côte d'Azur Observatory' appears 0 times.
'Crane Observatory' appears 0 times.
'Crawford Observatory' appears 0 times.
'Creighton University Observatory (defunct)' appears 0 times.
'Crimean Astrophysical Observatory' appears 2 times.
'Črni Vrh Observatory' appears 0 times.
'Cupillari Observatory' appears 0 times.
'Custer Observatory' appears 0 times.
'The Cyprus Planetarium & Observatory' appears 0 times.
'Daniel S. Schanck Observatory (defunct)' appears 0 times.
'Daniel Scholl Observatory (defunct)' appears 0 times.
'Daocheng Solar Radio Telescope' appears 0 times.
'Dark Sky Observatory' appears 0 times.
'Dark Matter Particle Explorer (DAMPE)' appears 0 times.
'Darling's Observatory (defunct)' appears 0 times.
'Dearborn Observatory' appears 19 times.
'Detroit Observatory' appears 15 times.
'David Dunlap Observatory' appears 0 times.
'Dome C' appears 294 times.
'Dominion Observatory' appears 23 times.
'Dominion Astrophysical Observatory' appears 28 times.
'Dominion Radio Astrophysical Observatory' appears 4 times.
'Dunsink Observatory' appears 3 times.
'Durham University Observatory' appears 1 times.
'Dyer Observatory' appears 0 times.
'Effelsberg 100-m Radio Telescope' appears 0 times.
'Ege University Observatory' appears 1 times.
'Einstein Observatory (defunct)' appears 0 times.
'Elginfield Observatory' appears 0 times.
'Ellis Observatory' appears 0 times.
'Embry-Riddle Observatory' appears 0 times.
'Eskdalemuir Observatory' appears 1 times.
'European Gravitational Observatory' appears 0 times.
'Euclid Telescope' appears 1 times.
'European Southern Observatory La Silla Observatory New Technology Telescope Llano de Chajnantor Observatory Very Large Telescope Paranal Observatory European Extremely Large Telescope' appears 0 times.
'Fabra Observatory' appears 5 times.
'Fan Mountain Observatory' appears 0 times.
'Five-hundred-meter Aperture Spherical Radio Telescope' appears 0 times.
'Félix Aguilar Observatory' appears 0 times.
'Fernbank Observatory' appears 0 times.
'Fermi Gamma-ray Space Telescope' appears 4 times.
'Fick Observatory' appears 0 times.
'Five College Radio Astronomy Observatory (defunct)' appears 0 times.
'Flarestar Observatory' appears 0 times.
'Foggy Bottom Observatory' appears 0 times.
'Foothill Observatory' appears 0 times.
'Ford Observatory' appears 3 times.
'Fox Observatory' appears 0 times.
'Fox Park Public Observatory' appears 0 times.
'Francis Marion University Observatory' appears 0 times.
'Fred Lawrence Whipple Observatory' appears 1 times.
'Fremont Peak Observatory' appears 0 times.
'Frosty Drew Observatory' appears 0 times.
'Fuertes Observatory' appears 0 times.
'Galaxy Evolution Explorer (GALEX)' appears 0 times.
'Gaocheng Astronomical Observatory' appears 0 times.
'Gauribidanur Radio Observatory' appears 0 times.
'Gemini Observatory' appears 3 times.
'Giant Meterwave Radio Telescope (GMRT)' appears 0 times.
'Gifford Observatory' appears 0 times.
'Girawali Observatory' appears 0 times.
'Glen D. Riley Observatory' appears 0 times.
'Godlee Observatory' appears 0 times.
'Goodsell Observatory' appears 15 times.
'Goethe Link Observatory' appears 0 times.
'Goldendale Observatory' appears 0 times.
'Gornergrat (HFSJG) (defunct)' appears 0 times.
'Granat (defunct)' appears 0 times.
'Gran Telescopio Canarias' appears 1 times.
'Grant O. Gale Observatory' appears 0 times.
'Green Bank Telescope,' appears 2 times.
'Green Point Observatory,' appears 0 times.
'Grenfell Observatory' appears 0 times.
'Griffith Observatory' appears 0 times.
'Guillermo Haro Observatory' appears 0 times.
'HALCA (defunct)' appears 0 times.
'Haleakala Observatory' appears 1 times.
'Halley Observatory' appears 0 times.
'Hamburg Observatory' appears 4 times.
'Hat Creek Radio Observatory' appears 0 times.
'Hard Labor Creek Observatory' appears 0 times.
'Space Hard X-Ray Modulation Telescope (HXMT)' appears 0 times.
'Hartung–Boothroyd Observatory' appears 0 times.
'Hartebeesthoek Radio Astronomy Observatory' appears 1 times.
'Hartwell House' appears 0 times.
'Harvard College Observatory' appears 196 times.
'Haute-Provence Observatory' appears 7 times.
'Haystack Observatory' appears 6 times.
'Hector J Robinson Observatory' appears 0 times.
'Helium and Lead Observatory' appears 0 times.
'Helmos Observatory' appears 0 times.
'Helsinki University Observatory' appears 0 times.
'Herrett Observatory' appears 0 times.
'Herschel Space Observatory' appears 3 times.
'Hidden Valley Observatory' appears 0 times.
'Hida Observatory, Kyoto University' appears 0 times.
'Heyden Observatory, Georgetown University' appears 0 times.
'High Altitude Water Cherenkov Observatory' appears 1 times.
'High Energy Stereoscopic System' appears 2 times.
'Highland Road Park Observatory' appears 0 times.
'Hinode' appears 44 times.
'Hirsch Observatory' appears 0 times.
'Hobbs Observatory' appears 0 times.
'Hoher List Observatory' appears 0 times.
'Holcomb Observatory and Planetarium' appears 0 times.
'Hong Kong Observatory' appears 17 times.
'Hoober Observatory' appears 0 times.
'Hopkins Observatory' appears 0 times.
'Howell Observatory' appears 0 times.
'Hradec Králové Observatory' appears 1 times.
'Huairou Solar Observing Station' appears 0 times.
'Hubble Space Telescope' appears 52 times.
'Huggins Observatory defunct' appears 0 times.
'Hume Cronyn Memorial Observatory' appears 0 times.
'Hyde Memorial Observatory' appears 0 times.
'IceCube Neutrino Observatory' appears 5 times.
'Indian Astronomical Observatory' appears 1 times.
'Instituto de Astrofísica de Canarias' appears 4 times.
'INTEGRAL' appears 2709 times.
'Infrared Astronomical Satellite (IRAS) (defunct)' appears 0 times.
'Infrared Space Observatory (ISO) (defunct)' appears 0 times.
'Innsbruck Observatory' appears 0 times.
'IRAM 30m telescope' appears 1 times.
'IRAM Plateau de Bure Interferometer' appears 0 times.
'Iranian National Observatory' appears 0 times.
'Isaac Newton Group of Telescopes' appears 1 times.
'Isasc Roberts' Observatory (defunct)' appears 0 times.
'Iso-Heikkilä Observatory (defunct)' appears 0 times.
'Constantinople Observatory of Taqi ad-Din' appears 0 times.
'Istanbul University Observatory' appears 0 times.
'Istituto Ricerche Solari Locarno, IRSOL' appears 0 times.
'IXPE' appears 5 times.
'Jack C. Davis Observatory' appears 0 times.
'Astronomical Observatory of the Jagiellonian University' appears 0 times.
'James Clerk Maxwell Telescope' appears 1 times.
'James Gregory Telescope' appears 0 times.
'James Webb Space Telescope' appears 6 times.
'James Wylie Shepherd Observatory' appears 0 times.
'Jakarta Observatory' appears 0 times.
'Jantar Mantar' appears 0 times.
'Jena Observatory' appears 0 times.
'Jewett Observatory' appears 0 times.
'Jodrell Bank Observatory' appears 0 times.
'JAC Johor Astronomy' appears 0 times.
'Jones Observatory' appears 0 times.
'Judson B. Coit Observatory' appears 0 times.
'KAIRA' appears 4 times.
'Khajeh Nasiredin Observatory' appears 0 times.
'Kamioka Observatory' appears 0 times.
'Kanzelhoehe Solar Observatory' appears 0 times.
'Karl Schwarzschild Observatory' appears 0 times.
'Keck Observatory' appears 3 times.
'Keeble Observatory' appears 0 times.
'Keele Observatory' appears 0 times.
'Kennon Observatory' appears 0 times.
'Kepler Space Observatory' appears 0 times.
'Kevola Observatory' appears 0 times.
'Kielder Observatory' appears 0 times.
'King's Observatory (defunct)' appears 0 times.
'Kirkwood Observatory' appears 4 times.
'Kitami Observatory' appears 0 times.
'Kitt Peak National Observatory' appears 4 times.
'Kleť Observatory' appears 0 times.
'Kodaikanal Solar Observatory' appears 0 times.
'Konkoly Observatory' appears 7 times.
'Kopernik Observatory & Science Center' appears 0 times.
'KOSMA observatory' appears 0 times.
'Kottamia Astronomical Observatory' appears 0 times.
'Kuffner observatory' appears 0 times.
'Kuiper Airborne Observatory (retired)' appears 0 times.
'Kwasan Observatory, Kyoto University' appears 0 times.
'Kvistaberg Observatory' appears 0 times.
'Kyung Hee Observatory' appears 0 times.
'Laboratoire d'Astrophysique de Grenoble' appears 0 times.
'Observatorio de La Cañada (La Cañada Observatory)' appears 0 times.
'Ladd Observatory' appears 5 times.
'Lake Afton Public Observatory' appears 0 times.
'Lamont–Hussey Observatory (defunct)' appears 0 times.
'Landessternwarte Heidelberg-Königstuhl' appears 0 times.
'Landolt Astronomical Observatory' appears 0 times.
'La Plata Astronomical Observatory' appears 0 times.
'La Silla Observatory' appears 1 times.
'Large High Altitude Air Shower Observatory (LHAASO)' appears 1 times.
'Large Sky Area Multi-Object Fibre Spectroscopic Telescope (LAMOST)' appears 0 times.
'Large Millimeter Telescope' appears 1 times.
'Las Brisas Observatory' appears 0 times.
'Las Campanas Observatory' appears 5 times.
'Las Cumbres Observatory Global Telescope' appears 1 times.
'Laws Observatory' appears 16 times.
'Leander McCormick Observatory' appears 26 times.
'Lee Observatory' appears 0 times.
'Leiden Observatory' appears 10 times.
'Leipzig Observatory' appears 0 times.
'Leoncito Astronomical Complex' appears 0 times.
'Levenhagen Observatory' appears 0 times.
'Lick Observatory' appears 528 times.
'LightBuckets (commercial observatory)' appears 0 times.
'LIGO' appears 599 times.
'Lindheimer Astrophysical Research Center (defunct)' appears 0 times.
'Llano de Chajnantor Observatory' appears 0 times.
'Llano del Hato National Astronomical Observatory' appears 0 times.
'Lockyer Technology Centre' appears 0 times.
'Long Wavelength Array' appears 0 times.
'Longa Vista Observatory' appears 0 times.
'Lowell Observatory Anderson Mesa Station' appears 0 times.
'Lucknow (King of Oudh's) Observatory' appears 0 times.
'Lulin Observatory' appears 0 times.
'Lund Observatory' appears 4 times.
'Luoxue Mountain Cosmic Rays Research Center' appears 0 times.
'Lyon Observatory' appears 0 times.
'Macalester College Observatory' appears 0 times.
'Macfarlane Observatory defunct' appears 0 times.
'Magdalena Ridge Observatory (under construction)' appears 0 times.
'Majorca Observatory' appears 0 times.
'Malakoff Tower' appears 0 times.
'Manastash Ridge Observatory' appears 0 times.
'Manuel Foster Observatory (defunct)' appears 0 times.
'Maragheh Observatory' appears 0 times.
'Margaret M. Jacoby Observatory' appears 0 times.
'Maria Mitchell Observatory' appears 4 times.
'Marina Towers Observatory (Not In Use)' appears 0 times.
'Markree Observatory (defunct)' appears 0 times.
'Marseille Observatory' appears 0 times.
'Martz Observatory' appears 0 times.
'Mauna Kea Observatory' appears 1 times.
'Mauna Loa Solar Observatory' appears 1 times.
'Maynard F. Jordan Observatory' appears 0 times.
'McDonald Observatory' appears 5 times.
'McKim Observatory' appears 0 times.
'McMath–Hulbert Solar Observatory' appears 0 times.
'MDM Observatory' appears 0 times.
'Mead Observatory' appears 0 times.
'Medicina Radio Observatory' appears 0 times.
'Mees Observatory' appears 0 times.
'Mehalso Observatory' appears 0 times.
'Melbourne Observatory' appears 7 times.
'Melton Memorial Observatory' appears 0 times.
'Mendenhall Observatory' appears 0 times.
'Menke Observatory' appears 0 times.
'Metsähovi Observatory' appears 0 times.
'Meudon Observatory' appears 7 times.
'Meyer–Womble Observatory' appears 0 times.
'Michigan State University Observatory' appears 0 times.
'Observatoire Midi-Pyrénées Pic du Midi Observatory Toulouse Observatory' appears 0 times.
'Milagro' appears 272 times.
'Miller Observatory' appears 0 times.
'Mills Observatory' appears 12 times.
'Mind's Eye Observatory IAU W42' appears 0 times.
'MMT Observatory' appears 0 times.
'Modine-Benstead Observatory' appears 0 times.
'Modra Observatory' appears 0 times.
'Mohr Observatory (demolished)' appears 0 times.
'Moletai Astronomical Observatory' appears 0 times.
'Molonglo Observatory Synthesis Telescope (MOST)' appears 0 times.
'Mont Mégantic Observatory' appears 0 times.
'Monterey Institute for Research in Astronomy(Oliver Observing Station)' appears 0 times.
'Montevideo National Observatory' appears 0 times.
'Moore Observatory' appears 0 times.
'Morgan–Monroe Observatory' appears 0 times.
'Morris Observatory' appears 0 times.
'Morrison Observatory' appears 0 times.
'Moscow Cosmic-Ray Station' appears 0 times.
'Mount Stony Brook Observatory' appears 0 times.
'Mounds Observatory' appears 0 times.
'Mount Abu InfraRed Observatory' appears 0 times.
'Mount Burnett Observatory' appears 0 times.
'Mount Cuba Astronomical Observatory' appears 0 times.
'Mount Graham International Observatory' appears 0 times.
'Mount John University Observatory' appears 0 times.
'Mount Laguna Observatory' appears 0 times.
'Mount Lemmon Observatory' appears 0 times.
'Mount Pleasant Radio Observatory' appears 0 times.
'Mount Stromlo Observatory' appears 0 times.
'Mount Suhora Observatory' appears 0 times.
'Mount Wilson Observatory' appears 129 times.
'Mountain Skies Observatory' appears 0 times.
'Mullard Radio Astronomy Observatory' appears 0 times.
'Murchison Radio-astronomy Observatory' appears 0 times.
'Nachi-Katsuura Observatory' appears 0 times.
'Nançay Radio Telescope' appears 0 times.
'Nanjing Astronomical Instruments Research Centre' appears 0 times.
'National Astronomical Observatory (Colombia)' appears 0 times.
'National Astronomical Observatory of Japan' appears 9 times.
'National Astronomical Observatory (Mexico)' appears 0 times.
'National Observatory (Brazil)' appears 0 times.
'National Observatory of Athens' appears 85 times.
'National Optical Astronomy Observatory Cerro Tololo Inter-American Observatory Gemini Observatory Kitt Peak National Observatory National Solar Observatory' appears 0 times.
'National Optical Observatory' appears 0 times.
'National Radio Astronomy Observatory Atacama Large Millimeter Array Green Bank Telescope Very Large Array Very Long Baseline Array' appears 0 times.
'National Research Institute of Astronomy and Geophysics (NRIAG)' appears 0 times.

In [ ]:
# Process each label and count occurrences of its tokens and bigrams
for idx, label in enumerate(Labels['Labels']):
    # Token counts
    tokens = label.split()  # Split the label into tokens
    token_counts = [full_text.str.contains(re.escape(token), case=False, na=False).sum() for token in tokens]
    print(f"{tokens} appears {token_counts} times in full text data.")
    
    # Bigram counts
    bigrams = generate_bigrams(label)
    bigram_counts = [full_text.str.contains(re.escape(bigram), case=False, na=False).sum() for bigram in bigrams]
    print(f"{bigrams} appears {bigram_counts} times in full text data.")
    print('-' * 80)

['Abastumani', 'Astrophysical', 'Observatory'] appears [9, 901, 3881] times in full text data.
['Abastumani Astrophysical', 'Astrophysical Observatory'] appears [3, 179] times in full text data.
--------------------------------------------------------------------------------
['Abu', 'Reyhan-e', 'Birooni', 'Observatory'] appears [6795, 0, 0, 3881] times in full text data.
['Abu Reyhan-e', 'Reyhan-e Birooni', 'Birooni Observatory'] appears [0, 0, 0] times in full text data.
--------------------------------------------------------------------------------
['Adirondack', 'Public', 'Observatory'] appears [97, 15272, 3881] times in full text data.
['Adirondack Public', 'Public Observatory'] appears [0, 2] times in full text data.
--------------------------------------------------------------------------------
['Adolphson', 'Observatory'] appears [0, 3881] times in full text data.
['Adolphson Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Airdrie', 'Public', 'Observatory'] appears [8, 15272, 3881] times in full text data.
['Airdrie Public', 'Public Observatory'] appears [0, 2] times in full text data.
--------------------------------------------------------------------------------
['Aker', 'Observatory'] appears [6790, 3881] times in full text data.
['Aker Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Aldershot', 'Observatory'] appears [7, 3881] times in full text data.
['Aldershot Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Algonquin', 'Radio', 'Observatory'] appears [29, 6733, 3881] times in full text data.
['Algonquin Radio', 'Radio Observatory'] appears [0, 32] times in full text data.
--------------------------------------------------------------------------------
['Allegheny', 'Observatory'] appears [183, 3881] times in full text data.
['Allegheny Observatory'] appears [75] times in full text data.
--------------------------------------------------------------------------------
['Ametlla', 'de', 'Mar', 'Observatory'] appears [1, 24877, 23522, 3881] times in full text data.
['Ametlla de', 'de Mar', 'Mar Observatory'] appears [1, 431, 16] times in full text data.
--------------------------------------------------------------------------------
['AMiBA'] appears [2] times in full text data.
[] appears [] times in full text data.
--------------------------------------------------------------------------------
['Anderson', 'Mesa', 'Station'] appears [3934, 387, 11781] times in full text data.
['Anderson Mesa', 'Mesa Station'] appears [2, 2] times in full text data.
--------------------------------------------------------------------------------
['Angell', 'Hall', 'Observatory'] appears [164, 13726, 3881] times in full text data.
['Angell Hall', 'Hall Observatory'] appears [0, 0] times in full text data.
--------------------------------------------------------------------------------
['Ankara', 'University', 'Observatory'] appears [626, 18790, 3881] times in full text data.
['Ankara University', 'University Observatory'] appears [5, 65] times in full text data.
--------------------------------------------------------------------------------
['Antarctic', 'Muon', 'and', 'Neutrino', 'Detector', 'Array'] appears [3103, 353, 24855, 284, 3156, 2538] times in full text data.
['Antarctic Muon', 'Muon and', 'and Neutrino', 'Neutrino Detector', 'Detector Array'] appears [1, 43, 80, 35, 78] times in full text data.
--------------------------------------------------------------------------------
['Antarctic', 'Submillimeter', 'Telescope', 'and', 'Remote', 'Observatory'] appears [3103, 116, 1771, 24855, 8343, 3881] times in full text data.
['Antarctic Submillimeter', 'Submillimeter Telescope', 'Telescope and', 'and Remote', 'Remote Observatory'] appears [0, 1, 261, 2405, 0] times in full text data.
--------------------------------------------------------------------------------
['ANTARES'] appears [73] times in full text data.
[] appears [] times in full text data.
--------------------------------------------------------------------------------
['Apache-Sitgreaves', 'Observatory'] appears [0, 3881] times in full text data.
['Apache-Sitgreaves Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Apache', 'Point', 'Observatory'] appears [99, 20384, 3881] times in full text data.
['Apache Point', 'Point Observatory'] appears [2, 4] times in full text data.
--------------------------------------------------------------------------------
['Apatity', 'Cosmic-Ray', 'Station'] appears [44, 168, 11781] times in full text data.
['Apatity Cosmic-Ray', 'Cosmic-Ray Station'] appears [0, 2] times in full text data.
--------------------------------------------------------------------------------
['Apollo', 'Observatory'] appears [259, 3881] times in full text data.
['Apollo Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Arcetri', 'Observatory'] appears [16, 3881] times in full text data.
['Arcetri Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Arecibo', 'Observatory'] appears [96, 3881] times in full text data.
['Arecibo Observatory'] appears [21] times in full text data.
--------------------------------------------------------------------------------
['Argentine', 'Institute', 'of', 'Radio', 'Astronomy'] appears [268, 12296, 24853, 6733, 2145] times in full text data.
['Argentine Institute', 'Institute of', 'of Radio', 'Radio Astronomy'] appears [0, 7409, 1248, 43] times in full text data.
--------------------------------------------------------------------------------
['Armagh', 'Observatory'] appears [13, 3881] times in full text data.
['Armagh Observatory'] appears [3] times in full text data.
--------------------------------------------------------------------------------
['Aryabhatta', 'Research', 'Institute', 'of', 'Observational', 'Sciences'] appears [4, 18817, 12296, 24853, 4433, 16402] times in full text data.
['Aryabhatta Research', 'Research Institute', 'Institute of', 'of Observational', 'Observational Sciences'] appears [4, 1654, 7409, 629, 7] times in full text data.
--------------------------------------------------------------------------------
['Ashton', 'Observatory'] appears [65, 3881] times in full text data.
['Ashton Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Asiago', 'Astrophysical', 'Observatory'] appears [2, 901, 3881] times in full text data.
['Asiago Astrophysical', 'Astrophysical Observatory'] appears [0, 179] times in full text data.
--------------------------------------------------------------------------------
['Assheton', 'Observatory'] appears [2, 3881] times in full text data.
['Assheton Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Astron', '(defunct)'] appears [4550, 0] times in full text data.
['Astron (defunct)'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Astronomical', 'Observatory', 'Aurora'] appears [2206, 3881, 924] times in full text data.
['Astronomical Observatory', 'Observatory Aurora'] appears [139, 0] times in full text data.
--------------------------------------------------------------------------------
['Astronomical', 'Observatory', 'of', 'Lisbon'] appears [2206, 3881, 24853, 238] times in full text data.
['Astronomical Observatory', 'Observatory of', 'of Lisbon'] appears [139, 582, 43] times in full text data.
--------------------------------------------------------------------------------
['Astronomy', 'Centre'] appears [2145, 7555] times in full text data.
['Astronomy Centre'] appears [4] times in full text data.
--------------------------------------------------------------------------------

['Astronomy', 'Tower', 'of', 'the', 'Sorbonne'] appears [2145, 1862, 24853, 24856, 208] times in full text data.
['Astronomy Tower', 'Tower of', 'of the', 'the Sorbonne'] appears [0, 158, 24800, 47] times in full text data.
--------------------------------------------------------------------------------
['Astrophysical', 'Institute', 'Potsdam'] appears [901, 12296, 628] times in full text data.
['Astrophysical Institute', 'Institute Potsdam'] appears [6, 3] times in full text data.
--------------------------------------------------------------------------------
['Atacama', 'Pathfinder', 'Experiment', '(APEX)'] appears [75, 391, 15373, 16] times in full text data.
['Atacama Pathfinder', 'Pathfinder Experiment', 'Experiment (APEX)'] appears [0, 0, 9] times in full text data.
--------------------------------------------------------------------------------
['Australia', 'Telescope', 'Compact', 'Array'] appears [3321, 1771, 2321, 2538] times in full text data.
['Australia Telescope', 'Telescope Compact', 'Compact Array'] appears [1, 0, 3] times in full text data.
--------------------------------------------------------------------------------
['Australian', 'Astronomical', 'Observatory'] appears [1257, 2206, 3881] times in full text data.
['Australian Astronomical', 'Astronomical Observatory'] appears [0, 139] times in full text data.
--------------------------------------------------------------------------------
['Badlands', 'Observatory'] appears [30, 3881] times in full text data.
['Badlands Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Baikal', 'Deep', 'Underwater', 'Neutrino', 'Telescope'] appears [104, 8419, 315, 284, 1771] times in full text data.
['Baikal Deep', 'Deep Underwater', 'Underwater Neutrino', 'Neutrino Telescope'] appears [0, 6, 3, 38] times in full text data.
--------------------------------------------------------------------------------
['Bangladesh', 'Astronomical', 'Observatory'] appears [145, 2206, 3881] times in full text data.
['Bangladesh Astronomical', 'Astronomical Observatory'] appears [0, 139] times in full text data.
--------------------------------------------------------------------------------
['Baker', 'Observatory'] appears [2109, 3881] times in full text data.
['Baker Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Baksan', 'Neutrino', 'Observatory'] appears [9, 284, 3881] times in full text data.
['Baksan Neutrino', 'Neutrino Observatory'] appears [0, 20] times in full text data.
--------------------------------------------------------------------------------
['Ball', 'State', 'University', 'Observatory'] appears [5928, 18939, 18790, 3881] times in full text data.
['Ball State', 'State University', 'University Observatory'] appears [4, 1771, 65] times in full text data.
--------------------------------------------------------------------------------
['Barnard', 'Observatory', '(defunct)'] appears [521, 3881, 0] times in full text data.
['Barnard Observatory', 'Observatory (defunct)'] appears [0, 0] times in full text data.
--------------------------------------------------------------------------------
['Bareket', 'Observatory'] appears [0, 3881] times in full text data.
['Bareket Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Barnett', 'Observatory'] appears [416, 3881] times in full text data.
['Barnett Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Bayfordbury', 'Observatory'] appears [3, 3881] times in full text data.
['Bayfordbury Observatory'] appears [2] times in full text data.
--------------------------------------------------------------------------------
['Behlen', 'Observatory'] appears [1, 3881] times in full text data.
['Behlen Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Beijing', 'Astronomical', 'Observatory'] appears [2418, 2206, 3881] times in full text data.
['Beijing Astronomical', 'Astronomical Observatory'] appears [0, 139] times in full text data.
--------------------------------------------------------------------------------
['Beijing', 'Ancient', 'Observatory'] appears [2418, 1877, 3881] times in full text data.
['Beijing Ancient', 'Ancient Observatory'] appears [0, 0] times in full text data.
--------------------------------------------------------------------------------
['Belgrade', 'Observatory'] appears [83, 3881] times in full text data.
['Belgrade Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Belogradchik', 'Observatory'] appears [0, 3881] times in full text data.
['Belogradchik Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Benmore', 'Peak', 'Observatory'] appears [4, 11241, 3881] times in full text data.
['Benmore Peak', 'Peak Observatory'] appears [0, 10] times in full text data.
--------------------------------------------------------------------------------
['BeppoSAX', '(defunct)'] appears [9, 0] times in full text data.
['BeppoSAX (defunct)'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Bergisch', 'Gladbach', 'Observatory'] appears [34, 5, 3881] times in full text data.
['Bergisch Gladbach', 'Gladbach Observatory'] appears [1, 0] times in full text data.
--------------------------------------------------------------------------------
['Berlin', 'Observatory'] appears [3664, 3881] times in full text data.
['Berlin Observatory'] appears [29] times in full text data.
--------------------------------------------------------------------------------
['Besançon', 'Observatory'] appears [8, 3881] times in full text data.
['Besançon Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['BESS'] appears [974] times in full text data.
[] appears [] times in full text data.
--------------------------------------------------------------------------------
['Bidston', 'Observatory'] appears [3, 3881] times in full text data.
['Bidston Observatory'] appears [1] times in full text data.
--------------------------------------------------------------------------------
['Big', 'Bear', 'Lake', 'Solar', 'Observatory'] appears [6753, 4153, 5251, 7758, 3881] times in full text data.
['Big Bear', 'Bear Lake', 'Lake Solar', 'Solar Observatory'] appears [16, 22, 0, 245] times in full text data.
--------------------------------------------------------------------------------
['Bisdee', 'Tier', 'Optical', 'Astronomy', 'Observatory'] appears [0, 3930, 7021, 2145, 3881] times in full text data.
['Bisdee Tier', 'Tier Optical', 'Optical Astronomy', 'Astronomy Observatory'] appears [0, 0, 11, 15] times in full text data.
--------------------------------------------------------------------------------
['Black', 'Moshannon', 'Observatory', '(defunct)'] appears [10856, 1, 3881, 0] times in full text data.
['Black Moshannon', 'Moshannon Observatory', 'Observatory (defunct)'] appears [0, 0, 0] times in full text data.
--------------------------------------------------------------------------------
['Blackett', 'Observatory'] appears [54, 3881] times in full text data.
['Blackett Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Blue', 'Mesa', 'Observatory', '(defunct)'] appears [9405, 387, 3881, 0] times in full text data.
['Blue Mesa', 'Mesa Observatory', 'Observatory (defunct)'] appears [0, 0, 0] times in full text data.
--------------------------------------------------------------------------------
['Boambee', 'Observatory'] appears [0, 3881] times in full text data.
['Boambee Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------

['Bohyunsan', 'Optical', 'Astronomy', 'Observatory', '(BOAO)'] appears [0, 7021, 2145, 3881, 0] times in full text data.
['Bohyunsan Optical', 'Optical Astronomy', 'Astronomy Observatory', 'Observatory (BOAO)'] appears [0, 11, 15, 0] times in full text data.
--------------------------------------------------------------------------------
['BOOTES'] appears [11] times in full text data.
[] appears [] times in full text data.
--------------------------------------------------------------------------------
['Bordeaux', 'Observatory'] appears [182, 3881] times in full text data.
['Bordeaux Observatory'] appears [1] times in full text data.
--------------------------------------------------------------------------------
['Bosscha', 'Observatory'] appears [2, 3881] times in full text data.
['Bosscha Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Boswell', 'Observatory', '(defunct)'] appears [34, 3881, 0] times in full text data.
['Boswell Observatory', 'Observatory (defunct)'] appears [0, 0] times in full text data.
--------------------------------------------------------------------------------
['Bowman', 'Observatory'] appears [860, 3881] times in full text data.
['Bowman Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Boyden', 'Observatory'] appears [30, 3881] times in full text data.
['Boyden Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Bradstreet', 'Observatory'] appears [11, 3881] times in full text data.
['Bradstreet Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Bradley', 'Observatory'] appears [605, 3881] times in full text data.
['Bradley Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Braeside', 'Observatory', '(defunct)'] appears [0, 3881, 0] times in full text data.
['Braeside Observatory', 'Observatory (defunct)'] appears [0, 0] times in full text data.
--------------------------------------------------------------------------------
['Brera', 'Observatory'] appears [185, 3881] times in full text data.
['Brera Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Bridgewater', 'State', 'University', 'Observatory'] appears [10, 18939, 18790, 3881] times in full text data.
['Bridgewater State', 'State University', 'University Observatory'] appears [0, 1771, 65] times in full text data.
--------------------------------------------------------------------------------
['Brooks', 'Observatory'] appears [1146, 3881] times in full text data.
['Brooks Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Brooks', 'Astronomical', 'Observatory'] appears [1146, 2206, 3881] times in full text data.
['Brooks Astronomical', 'Astronomical Observatory'] appears [0, 139] times in full text data.
--------------------------------------------------------------------------------
['Brorfelde', 'Observatory'] appears [1, 3881] times in full text data.
['Brorfelde Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Bucharest', 'Observatory'] appears [146, 3881] times in full text data.
['Bucharest Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Bucknell', 'Observatory'] appears [5, 3881] times in full text data.
['Bucknell Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Burrell', 'Memorial', 'Observatory'] appears [24, 855, 3881] times in full text data.
['Burrell Memorial', 'Memorial Observatory'] appears [0, 5] times in full text data.
--------------------------------------------------------------------------------
['Byurakan', 'Observatory'] appears [2, 3881] times in full text data.
['Byurakan Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Cagigal', 'Observatory'] appears [1, 3881] times in full text data.
['Cagigal Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Cagliari', 'Observatory'] appears [54, 3881] times in full text data.
['Cagliari Observatory'] appears [1] times in full text data.
--------------------------------------------------------------------------------
['Calais', 'Observatory', '(defunct)'] appears [69, 3881, 0] times in full text data.
['Calais Observatory', 'Observatory (defunct)'] appears [0, 0] times in full text data.
--------------------------------------------------------------------------------
['Calar', 'Alto', 'Observatory'] appears [1495, 2916, 3881] times in full text data.
['Calar Alto', 'Alto Observatory'] appears [3, 4] times in full text data.
--------------------------------------------------------------------------------
['Caltech', 'Submillimeter', 'Observatory', '(defunct)'] appears [189, 116, 3881, 0] times in full text data.
['Caltech Submillimeter', 'Submillimeter Observatory', 'Observatory (defunct)'] appears [1, 1, 0] times in full text data.
--------------------------------------------------------------------------------
['Cambridge', 'Observatory'] appears [5588, 3881] times in full text data.
['Cambridge Observatory'] appears [12] times in full text data.
--------------------------------------------------------------------------------
['Camille', 'Flammarion', 'Observatory'] appears [76, 35, 3881] times in full text data.
['Camille Flammarion', 'Flammarion Observatory'] appears [7, 0] times in full text data.
--------------------------------------------------------------------------------
['Campbelltown', 'Rotary', 'Observatory'] appears [3, 290, 3881] times in full text data.
['Campbelltown Rotary', 'Rotary Observatory'] appears [0, 0] times in full text data.
--------------------------------------------------------------------------------
['Campo', 'Imperatore', 'Near-Earth', 'Object', 'Survey'] appears [929, 8, 213, 9996, 7134] times in full text data.
['Campo Imperatore', 'Imperatore Near-Earth', 'Near-Earth Object', 'Object Survey'] appears [1, 0, 8, 3] times in full text data.
--------------------------------------------------------------------------------
['Canopus', 'Hill', 'Observatory'] appears [50, 7665, 3881] times in full text data.
['Canopus Hill', 'Hill Observatory'] appears [0, 68] times in full text data.
--------------------------------------------------------------------------------
['Capilla', 'Peak', 'Observatory'] appears [501, 11241, 3881] times in full text data.
['Capilla Peak', 'Peak Observatory'] appears [0, 10] times in full text data.
--------------------------------------------------------------------------------
['Capodimonte', 'Observatory'] appears [5, 3881] times in full text data.
['Capodimonte Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Carter', 'Observatory'] appears [757, 3881] times in full text data.
['Carter Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Catania', 'Astrophysical', 'Observatory'] appears [244, 901, 3881] times in full text data.
['Catania Astrophysical', 'Astrophysical Observatory'] appears [1, 179] times in full text data.
--------------------------------------------------------------------------------
['Cawthron', 'Atkinson', 'Observatory'] appears [2, 680, 3881] times in full text data.
['Cawthron Atkinson', 'Atkinson Observatory'] appears [0, 0] times in full text data.
--------------------------------------------------------------------------------
['Celestial', 'Observatory'] appears [556, 3881] times in full text data.

['Celestial Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Centennial', 'Observatory'] appears [577, 3881] times in full text data.
['Centennial Observatory'] appears [0] times in full text data.
--------------------------------------------------------------------------------
['Center', 'for', 'Astrophysics', '|', 'Harvard', '&', 'Smithsonian'] appears [12720, 24844, 863, 6340, 1823, 10103, 675] times in full text data.
['Center for', 'for Astrophysics', 'Astrophysics |', '| Harvard', 'Harvard &', '& Smithsonian'] appears [3210, 114, 1, 1, 0, 0] times in full text data.
--------------------------------------------------------------------------------
['Cerro', 'Armazones', 'Observatory'] appears [157, 3, 3881] times in full text data.
['Cerro Armazones', 'Armazones Observatory'] appears [2, 0] times in full text data.
--------------------------------------------------------------------------------
['Cerro', 'Tololo', 'Inter-American', 'Observatory'] appears [157, 11, 11, 3881] times in full text data.
['Cerro Tololo', 'Tololo Inter-American', 'Inter-American Observatory'] appears [7, 1, 1] times in full text data.
--------------------------------------------------------------------------------
['Cerro', 'Pachón', 'Observatory'] appears [157, 1, 3881] times in full text data.
['Cerro Pachón', 'Pachón Observatory'] appears [0, 0] times in full text data.
--------------------------------------------------------------------------------
['Chabot', 'Space', '&', 'Science', 'Center'] appears [47, 14059, 10103, 21180, 12720] times in full text data.
['Chabot Space', 'Space &', '& Science', 'Science Center'] appears [0, 15, 31, 202] times in full text data.
--------------------------------------------------------------------------------
['Chamberlin', 'Observatory'] appears [245, 3881] times in full text data.
['Chamberlin Observatory'] appears [21] times in full text data.
--------------------------------------------------------------------------------
['Changchun', 'Astronomical', 'Observatory'] appears [98, 2206, 3881] times in full text data.
['Changchun Astronomical', 'Astronomical Observatory'] appears [0, 139] times in full text data.
--------------------------------------------------------------------------------
['Chandra', 'X-ray', 'Observatory'] appears [866, 1225, 3881] times in full text data.
['Chandra X-ray', 'X-ray Observatory'] appears [6, 8] times in full text data.
--------------------------------------------------------------------------------
['Chianti', 'Polifunctional', 'Observatory'] appears [20, 0, 3881] times in full text data.

In [ ]:
def get_indices(full_text, pattern):
    """Return indices of rows in full_text containing the pattern."""
    return set(full_text[full_text.str.contains(re.escape(pattern), case=False, na=False)].index.tolist())

# Collect indices of all rows that contain any bigram
all_bigram_indices = set()

for label in Labels['Labels']:
    bigrams = generate_bigrams(label)
    for bigram in bigrams:
        all_bigram_indices.update(get_indices(full_text, bigram))

# Determine indices of rows that don't contain any bigram
no_bigram_indices = set(full_text.index) - all_bigram_indices

# Display results
print(f"Number of rows that don't contain any bigram: {len(no_bigram_indices)}")
print(f"Indices of rows without any bigrams: {sorted(list(no_bigram_indices))}")

# Labeling Task