In [1]:
import pandas as pd

url1 = 'https://en.wikipedia.org/wiki/List_of_astronomical_observatories'
tables = pd.read_html(url1)
tables

[                              0
 0                        Legend
 1             Space observatory
 2   Gravitational-wave detector
 3        Antimatter observatory
 4          Airborne observatory
 5             Radio observatory
 6         Microwave observatory
 7      Ground-based observatory
 8             Solar observatory
 9             Neutrino detector
 10       Cosmic-ray observatory,
                                      Name Established  \
 0    Abastumani Astrophysical Observatory        1932
 1        Abu Reyhan-e Birooni Observatory        1976
 2           Adirondack Public Observatory         NaN
 3                   Adolphson Observatory        2013
 4              Airdrie Public Observatory        1896
 ..                                    ...         ...
 680           York University Observatory         NaN
 681    Yuba City Astronomical Observatory        2010
 682       Yunnan Astronomical Observatory        1957
 683                Zimmerwald Observatory        1956
 684                     Zadko Observatory        2009

                             Location
 0                Abastumani, Georgia
 1    Shiraz University, Shiraz, Iran
 2          Tupper Lake, New York, US
 3             Monmouth, Illinois, US
 4                  Airdrie, Scotland
 ..                               ...
 680         Toronto, Ontario, Canada
 681        Yuba City, California, US
 682           Kunming, Yunnan, China
 683          Zimmerwald, Switzerland
 684                Gingin, Australia

 [685 rows x 3 columns]]

In [36]:
# Save the first table to CSV
tables[0].to_csv('table_1.csv', index=False)

In [37]:
tables[1].to_csv('Astronomical Observatories.csv', index=False)

In [2]:
url2 = 'https://en.wikipedia.org/wiki/List_of_radio_telescopes'
tables_2 = pd.read_html(url2)
tables_2

[    0                                                  1
 0 NaN  This list is incomplete; you can help by addin...,
                                                 Name  \
 0                                          AVN-Ghana
 1                                       C-BASS South
 2                                        HartRAO 26m
 3                                        HartRAO XDM
 4        Hydrogen Epoch of Reionization Array (HERA)
 5  Hydrogen Intensity and Real-time Analysis eXpe...
 6                                            Indlebe
 7                                              KAT-7
 8                                            MeerKAT
 9  Precision Array for Probing the Epoch of Reion...

                                             Location      Frequency Range  \
 0                                    Kuntunse, Ghana  3.8–6.4, 5, 6.7 GHz
 1                Meerkat National Park, South Africa          4.5–5.5 GHz
 2  Hartebeesthoek Radio Astronomy Observatory, Jo...          1.66–23 GHz
 3  Hartebeesthoek Radio Astronomy Observatory, Jo...         2.3–8.65 GHz
 4                Meerkat National Park, South Africa           50–200 MHz
 5                Meerkat National Park, South Africa          400–800 MHz
 6  Durban University of Technology, Durban, South...             1420 MHz
 7                Meerkat National Park, South Africa        1200–1950 MHz
 8                Meerkat National Park, South Africa        0.58–14.5 GHz
 9                Meerkat National Park, South Africa          100–200 MHz

                                              Remarks
 0  32-metre (104 foot) single dish, first of Afri...
 1  7.6-metre (24.9 foot) dish with polarimeter ba...
 2                                      26 m dish.[3]
 3  15 m Experimental Demonstrator Model originall...
 4  In progress – currently nineteen 14 m reflecto...
 5  In progress – currently eight 6 m dishes with ...
 6           5 meter (16 foot) parabolic reflector[5]
 7                  Seven, 12 meter (39 foot) dishes.
 8  Sixty four, 13.5 m dishes. A pathfinder for th...
 9  Now disassembled, PAPER at its maximum had 128...  ,
                                          Name  \
 0  Degree Angular Scale Interferometer (DASI)
 1                  South Pole Telescope (SPT)

                             Location Frequency Range  \
 0  Amundsen–Scott South Pole Station       26–36 GHz
 1  Amundsen–Scott South Pole Station      95–350 GHz

                                              Remarks
 0  13-element interferometer measuring anisotropi...
 1  10-m microwave telescope making observations o...  ,
                                                  Name  \
 0                                     Delingha 13.7 m
 1                                             Sheshan
 2                                         Nanshan 25m
 3                 Primeval Structure Telescope (PaST)
 4            Chinese Spectral Radio Heliograph (CSRH)
 5              Miyun Synthesis Radio Telescope (MSRT)
 6                           Miyun 50m Radio Telescope
 7                         Kunming 40m Radio Telescope
 8                         Tian Ma 65m Radio Telescope
 9              Giant Metrewave Radio Telescope (GMRT)
 10                         Ooty Radio Telescope (ORT)
 11                     Gauribidanur Radio Observatory
 12                         Nobeyama radio observatory
 13              Siberian Solar Radio Telescope (SSRT)
 14              Badary Radio Astronomical Observatory
 15                      Galenki RT-70 radio telescope
 16                        Suffa RT-70 radio telescope
 17  Five hundred meter Aperture Spherical Telescop...
 18                              Qitai Radio Telescope
 19                      Thai National Radio Telescope
 20                                               VERA
 21                     Daocheng Solar Radio Telescope
 22    Mingantu interplanetary scintillation telescope
 23          Taeduk Radio Astronomy Observatory (TRAO)
 24                          Korean VLBI Network (KVN)

                          Location          Frequency Range  \
 0        Delingha, Qinghai, China               85–115 GHz
 1                 Shanghai, China                 1660 MHz
 2                   Ürümqi, China               1.4–18 GHz
 3                 Xinjiang, China               50–200 MHz
 4           Inner Mongolia, China               0.4–15 GHz
 5                    Miyun, China                  232 MHz
 6                    Miyun, China                 2–12 GHz
 7                  Kunming, China                 2–12 GHz
 8                 Shanghai, China                 1–50 GHz
 9                     Pune, India              50–1420 MHz
 10                    Ooty, India                326.5 MHz
 11            Gauribidanur, India               40–150 MHz
 12       Nagano Prefecture, Japan               17–115 GHz
 13       Badary, Buryatia, Russia                  5.7 GHz
 14       Badary, Buryatia, Russia               1.4–22 GHz
 15    Galenki (Ussuriysk), Russia                5–300 GHz
 16      Suffa plateau, Uzbekistan                5–300 GHz
 17                 Guizhou, China              70–3000 MHz
 18  Qitai County, Xinjiang, China          300 MHz–117 GHz
 19           Chiang Mai, Thailand          300 MHz–115 GHz
 20                          Japan           6.7 GHz–43 GHz
 21        Sichuan province, China          150 MHz–450 MHz
 22          Inner Mongolia, China  327 MHz and 654 MHz[22]
 23     Daejeon, Republic of Korea               86–115 GHz
 24              Republic of Korea         22/43/86/129 GHz

                                               Remarks
 0   Dish diameter: 13.7 m. Site altitude: 3200 m. ...
 1   25 m. Operated by SHAO (Shanghai Astronomical ...
 2   L/C/S/X band receivers. 70 km south to Ürümqi....
 3   PaST is planned to be an array of some ten-tho...
 4   CSRH is an interferometer under construction i...
 5                         Array of 28 9-meter dishes.
 6                                      Built in 2005.
 7                                      Built in 2006.
 8   Built in 2012.[12] Operated by SHAO (Shanghai ...
 9   Thirty 45 m wire dishes;[13] largest telescope...
 10            approximately 530 m long and 30 m wide.
 11  Operated by (Indian Institute of Astrophysics)...
 12  A 45 m single-dish short-millimetre telescope,...
 13  The SSRT is a crossed interferometer, consisti...
 14  32 m RT-32 radio telescope, operating range 1....
 15   RT-70, 70 m telescope, operating range 5–300 GHz
 16  RT-70, the construction started in 1981 but wa...
 17  500m radio telescope, the world's largest fill...
 18  Construction work started in 2012. Will be ope...
 19  Construction work started in 2017. A 40m singl...
 20  A VLBI system with four 20-m telescopes in Jap...
 21  313 parabolic antennas for detection of corona...
 22  interplanetary scintillation telescope, consis...
 23  TRAO was established in October 1986 with the ...
 24  KVN consists of four 21-m radio telescopes loc...  ,
                                                 Name  \
 0  Australian Square Kilometre Array Pathfinder (...
 1           Australia Telescope Compact Array (ATCA)
 2  Canberra Deep Space Communication Complex (CDSCC)
 3                           Ceduna Radio Observatory
 4    Molonglo Observatory Synthesis Telescope (MOST)
 5                              Mopra Radio Telescope
 6                     Mount Pleasant Radio Telescope
 7                    Murchison Widefield Array (MWA)
 8                             Parkes Radio Telescope

                                             Location Frequency Range  \
 0  Murchison Radio-astronomy Observatory, Western...    700–1800 MHz
 1   Paul Wild Observatory, Narrabri, New South Wales     0.3–110 GHz
 2          Tidbinbilla, Australian Capital Territory             NaN
 3                            Ceduna, South Australia      1.2–23 GHz
 4  Molonglo (near Canberra, Australian Capital Te...    600–1200 MHz
 5  Mopra Observatory, near Coonabarabran, New Sou...     0.3–100 GHz
 6                                   Hobart, Tasmania      1.2–23 GHz
 7  Murchison Radio-astronomy Observatory, Western...      70–300 MHz
 8                Parkes Observatory, New South Wales             NaN

                                              Remarks
 0  ASKAP, the Australian Square Kilometre Array P...
 1  6x22m dish aperture synthesis array, operated ...
 2  1x70 m dish, 3x34 m dishes, operated by CSIRO ...
 3  30 m telescope, operated by the University of ...
 4  Operated by the School of Physics at the Unive...
 5  22 m dish, operated by CSIRO as part of the AT...
 6  26 m telescope, operated by the University of ...
 7  Fixed 256 array of 16-element dual-polarisatio...
 8  64 m telescope (2nd largest movable dish in th...  ,
                                                  Name  \
 0                    Effelsberg 100-m Radio Telescope
 1   Ukrainian T-shaped Radio telescope, second mod...
 2              Giant Ukrainian Radio Telescope (GURT)
 3                                    Lovell Telescope
 4                    Yevpatoria RT-70 radio telescope
 5                                           RATAN-600
 6                                    RT-64 (TNA-1500)
 7                                    RT-64 (TNA-1500)
 8                                               RT-22
 9                                            DKR-1000
 10                                                BSA
 11       Radioastronomical Observatory Zelenchukskaya
 12             Svetloe Radio Astronomical Observatory
 13                  RT-7.5 (Bauman's radio telescope)
 14                                      Yebes RT 40 m
 15                                     Toruń RT4 32 m
 16                                              RT-32
 17                     Northern Cross Radio Telescope
 18                                     32 m VLBI dish
 19                                     32 m VLBI dish
 20  MERLIN (Multi-Element Radio Linked Interferome...
 21  EAARO – East Anglian Astrophysiscal Research O...
 22                                            TNA-400
 23                                         IRAM – 30m
 24                                            Mark II
 25                                           Stockert
 26                                     Toruń RT3 15 m
 27        Westerbork Synthesis Radio Telescope (WSRT)
 28                                     25 m telescope
 29                                 Dwingeloo (CAMRAS)
 30                                     22 m telescope
 31                                     20 m telescope
 32                                   Pluton (complex)
 33                                              RT-16
 34                                              KAIRA
 35                        Metsähovi Radio Observatory
 36                                     Ryle Telescope
 37               Erciyes University Radio Observatory
 38  Wurzburg v2.0 LAB/OASU (Bordeaux Observatory r...
 39                        European VLBI Network (EVN)
 40                     Plateau de Bure Interferometer
 41                 Northern Extended Millimeter Array
 42                       Nançay Radio Telescope (NRT)
 43                       Nançay Decameter Array (DAM)
 44                     Nançay Radio Heliographe (NRH)
 45  ALLBIN (Amateur Linked Long Baseline Interfero...
 46                        LOFAR (LOw Frequency ARray)
 47                    São Gião radio telescope (SGRT)
 48                       Arcminute Microkelvin Imager
 49  The European Radio Astronomy Club Telescope an...
 50                                  ERAC Phased Array
 51                                  ERAC Phased Array
 52                      64 m Sardinia Radio Telescope
 53                                         ROT-54/2.6
 54                            Bayfordbury Observatory

                                              Location   Frequency Range  \
 0      Bad Münstereifel-Effelsberg near Bonn, Germany  395 MHz – 95 GHz
 1                      Volokhiv Yar, Kharkiv, Ukraine          8–33 MHz
 2                      Volokhiv Yar, Kharkiv, Ukraine          8–80 MHz
 3         Jodrell Bank Observatory, Cheshire, England           0–2 GHz
 4   former soviet Center for deep space communicat...         5–300 GHz
 5                              Zelenchukskaya, Russia       0.61–30 GHz
 6                                Kalyazin, Russia[32]          5.86 GHz
 7            Medvezhji Ozera (Bear Lakes), Russia[32]          5.86 GHz
 8                                   Pushchino, Russia               NaN
 9                                   Pushchino, Russia               NaN
 10                                  Pushchino, Russia               NaN
 11                     Karachaevo-Cherkessiya, Russia        1.4–22 GHz
 12                           Svetloe, Karelia, Russia        1.4–22 GHz
 13                              Moscow Oblast, Russia               NaN
 14  Spanish National Observatory, Yebes, Guadalaja...               NaN
 15          Toruń Centre for Astronomy, Toruń, Poland               NaN
 16  Ventspils International Radio Astronomy Center...               NaN
 17  Medicina Radio Observatory, Medicina, Bologna,...           408 MHz
 18  Medicina Radio Observatory, Medicina, Bologna,...        1.4–43 GHz
 19           Noto Radio Observatory, Noto, Italy,[38]        0.3–86 GHz
 20                                     United Kingdom  151 MHz – 24 GHz
 21                        Cambridgeshire, England[39]          0–11 GHz
 22  Center for deep space communications, Simferop...               NaN
 23                     Pico Veleta, in Granada, Spain               NaN
 24        Jodrell Bank Observatory, Cheshire, England          0–24 GHz
 25     Bad Münstereifel-Eschweiler near Bonn, Germany               NaN
 26          Toruń Centre for Astronomy, Toruń, Poland               NaN
 27                            Westerbork, Netherlands               NaN
 28           Onsala Space Observatory, Onsala, Sweden               NaN
 29                             Dwingeloo, Netherlands               NaN
 30                 Simeiz Observatory, Simeiz, Crimea               NaN
 31           Onsala Space Observatory, Onsala, Sweden               NaN
 32  Center for deep space communications, Yevpator...               NaN
 33  Ventspils International Radio Astronomy Center...               NaN
 34                    Kilpisjärvi, Enontekiö, Finland               NaN
 35                      Kylmälä, Kirkkonummi, Finland         2–150 GHz
 36  Mullard Radio Astronomy Observatory, Cambridge...               NaN
 37                                    Kayseri, Turkey               NaN
 38                           Floirac, Gironde, France       1.4–1.7 GHz
 39  Distributed across Europe with members in Chin...               NaN
 40                  Plateau de Bure, Grenoble, France               NaN
 41                                             France               NaN
 42                                     Nançay, France               NaN
 43                                     Nançay, France        10–100 MHz
 44                                     Nançay, France       150–450 MHz
 45                                            Germany               NaN
 46  Netherlands, Germany, Great Britain, France, S...        10–240 MHz
 47                                 São Gião, Portugal        0.4–22 GHz
 48  Mullard Radio Astronomy Observatory, Cambridge...               NaN
 49                                  Mannheim, Germany               NaN
 50  The European Radio Astronomy Club, Elsass, France               NaN
 51  The European Radio Astronomy Club, East Lothia...               NaN
 52                       San Basilio, Sardinia, Italy               NaN
 53               Mount Aragats, Armenia, near Yerevan       1.5–300 GHz
 54                                  Hertfordshire, UK           1.4 GHz

                                               Remarks
 0   100 m fully steerable dish operated by Max Pla...
 1   World's largest radio telescope at decametre w...
 2   Low-frequency radio telescope of new generatio...
 3                                           76 m dish
 4    RT-70, 70 m telescope, operating range 5–300 GHz
 5   600 m dish, operates at 610 MHz to 30 GHz, wor...
 6           64 m fully steerable dish, up to 5.86 GHz
 7           64 m fully steerable dish, up to 5.86 GHz
 8   Four 22 m fully steerable radio telescopes. At...
 9   DKR-1000 is the world largest telescope operat...
 10  BSA is a Large Phased Array comprising over 16...
 11  32m RT-32 radio telescope, operating range 1.4...
 12  32m RT-32 radio telescope, operating range 1.4...
 13  Two 7.75-meter diameter antennas (only one is ...
 14  40 m parabolic steerable telescope for mm and ...
 15                       RT4 (32 m) parabolic antenna
 16  32-meter fully steerable parabolic, centimetre...
 17  32000 m² interferometer, cylindrical-paraboloi...
 18      32 m, fully steerable dish, 1400 MHz...43 GHz
 19  32 m, fully steerable dish, 300 MHz – 86 GHz. ...
 20  Consists of the Cambridge 32 m at Mullard Radi...
 21  A scientific and educational charitable compan...
 22                       TNA-400 [ru], 32 m telescope
 23  30m dish operated by the Institute for Millime...
 24                                          25 m dish
 25  25 m dish operated by University of Bonn and M...
 26                                RT3 (15 m) antenna.
 27  2.8 km array of 14 25-meter dishes operated by...
 28                                     25 m telescope
 29  25 m steerable dish, formerly operated by ASTR...
 30  22-m radio telescope for mm and cm radio waves...
 31                                     20 m telescope
 32  8 mirrors with diameter of 16 meters. Square i...
 33                16-meter diameter antenna RT-16[37]
 34  30 m × 50 m, 768-element phased array and a 34...
 35  13.7 m dish, operates at 2 to 150 GHz, surface...
 36  Eight 13 m dishes, and is currently used as on...
 37                                        12.8 m dish
 38  7.5 meter diameter antenna. Observable frequen...
 39  VLBI array operated by the European Consortium...
 40  Originally an array of 3 antennas, since 2005 ...
 41  12 antennas, operating at millimeter wavelengt...
 42                                   NRT website (fr)
 43                                   DAM website (fr)
 44                                   NRH website (fr)
 45  A Small Network of Radio Telescopes and Radio ...
 46  Low frequency array of dipole antennas at 1.25...
 47    9.3 m solid surface dish, operated by PARAC[45]
 48  Small Array consists of 10 3.7-m parabolic ant...
 49                   From 14 kHz VLF up to 40 GHz[46]
 50  Phased array and Digital back end based on the...
 51  Phased array and Digital back end based on the...
 52               Sardinia Radio Telescope. 64 m dish.
 53  Radio optical Telescope with 54 m Spherical Re...
 54  4.5 m single dish, and 115 m baseline 3 dish i...  ,
                                                  Name  \
 0                           Algonquin Radio Telescope
 1                               Allen Telescope Array
 2                             ARO 12m Radio Telescope
 3                                        C-BASS North
 4   Canadian Hydrogen Intensity Mapping Experiment...
 5                 CfA 1.2 m Millimeter-Wave Telescope
 6   Combined Array for Research in Millimeter-wave...
 7            Distributed Array Radio Telescope (DART)
 8            Dominion Radio Astrophysical Observatory
 9    Five College Radio Astronomy Observatory (FCRAO)
 10                          Goldstone Radio Telescope
 11                    Green Bank Interferometer (GBI)
 12                         Green Bank Telescope (GBT)
 13            Green Bank 140 Foot Telescope (140foot)
 14                           Green Bank 20m Telescope

In [39]:
# Save the first table to CSV
tables_2[1].to_csv('List of radio telescopes in Africa.csv', index=False)

In [40]:
combined_table_2 = pd.concat(tables_2[1:15])  # This includes tables at indices 1 through 14
combined_table_2.to_csv('List of radio telescopes.csv', index=False)

In [41]:
url3 = 'https://en.wikipedia.org/wiki/List_of_solar_telescopes'
tables_3 = pd.read_html(url3)
tables_3

[                                     Name/Observatory  Image  \
 0            Daniel K. Inouye Solar Telescope (DKIST)    NaN
 1                Chinese Large Solar Telescope (CLST)    NaN
 2                           GREGOR, Teide Observatory    NaN
 3   Goode Solar Telescope (GST), Big Bear Solar Ob...    NaN
 4   New Vacuum Solar Telescope (NVST), Yunnan Astr...    NaN
 5   Andrei Severny Tower Solar Telescope, Crimean ...    NaN
 6   Multi-Purpose Automated Solar Telescope, Sayan...    NaN
 7   Large Solar Vakuum Telescope, Baikal Astrophys...    NaN
 8   Optical and Near-Infrared Solar Eruption Trace...    NaN
 9   Bulgarian 15-cm Solar Coronagraph,[10] Rozhen ...    NaN
 10  Swedish Solar Telescope (SST), Roque de los Mu...    NaN
 11          Prairie View Solar Observatory (PVSO)[12]    NaN
 12  Upgraded Coronal Multi-Channel Polarimeter (UC...    NaN
 13                              K-Coronagraph (K-COR)    NaN
 14  Dutch Open Telescope (DOT), Roque de los Mucha...    NaN
 15          THÉMIS Solar Telescope, Teide Observatory    NaN
 16    Vacuum Tower Telescope (VTT), Teide Observatory    NaN
 17                 Hida Domeless Solar Telescope (ja)    NaN
 18  Udaipur Solar ObservatoryMASTFull Disk H-alpha...    NaN
 19  Richard B. Dunn Solar Telescope (DST), Sacrame...    NaN
 20                     Solar Observatory Tower Meudon    NaN
 21                 McMath–Pierce solar telescope, KPO    NaN
 22                                  ARIES Observatory    NaN
 23  Solar Tunnel Telescope, Kodaikanal Solar Obser...    NaN
 24                                 45-cm-Turmteleskop    NaN
 25                            Gregory Coudé Telescope    NaN
 26                     Solar Tower Telescope by Zeiss    NaN
 27                                       Einsteinturm    NaN
 28           150-foot tower, Mount Wilson Observatory    NaN
 29     Snow Solar Telescope, Mount Wilson Observatory    NaN
 30  Lerebour/Grubb-Parsons, Kodaikanal Solar Obser...    NaN
 31                                       Solar-T [pt]    NaN
 32  Swedish Vacuum Solar Telescope, Roque de los M...    NaN
 33                      Gregory Coude Telescope (GCT)    NaN
 34        Evans Solar Facility (ESF), Sacramento Peak    NaN
 35       Göttinger Sonnenturm (Solar Tower Telescope)    NaN
 36                         McMath-Hulbert Observatory    NaN
 37          50-foot tower, McMath-Hulbert Observatory    NaN
 38              10.5 inch, McMath-Hulbert Observatory    NaN
 39           Arcetri Solar Tower, Arcetri Observatory    NaN

                 Aperture    Year(s)  \
 0                 400 cm      2019–
 1                 180 cm      2019–
 2                 150 cm      2012–
 3                 160 cm      2008–
 4                 100 cm      2010–
 5                  90 cm      1954–
 6                  80 cm        NaN
 7                  76 cm      1980–
 8              3x27,5 cm      2010–
 9                 100 cm      2005–
 10                100 cm      2002–
 11                 35 cm      1999–
 12                 20 cm      2021–
 13                 20 cm      2013–
 14                 45 cm      1997–
 15                 90 cm      1996–
 16                 70 cm      1989–
 17                 60 cm      1979–
 18  50 cm15 cm25 cm15 cm      1976–
 19                 76 cm      1969–
 20                 60 cm      1968–
 21                161 cm      1961–
 22                 15 cm      1961–
 23         61 cm (24 in)      1958–
 24                 45 cm      1943–
 25                 45 cm      1959-
 26                 45 cm      1930–
 27                 60 cm      1924–
 28           35 cm (24")      1912–
 29           61 cm (24")      1904–
 30                 20 cm      1901–
 31              2x7.6 cm       2016
 32               47.5 cm  1985–2000
 33              45 cm[1]  1984–2002
 34                 40 cm  1953–2014
 35          2x15 cm11 cm  1942–2004
 36           61 cm (24")  1941–1979
 37                 40 cm  1936–1979
 38       26.7 cm (10.5")  1930–1941
 39                 37 cm  1925-2006

                                              Location  \
 0              Haleakalā, Maui, Hawaii, United States
 1                             Chengdu, Sichuan, China
 2                                     Tenerife, Spain
 3                           California, United States
 4                                       Yunnan, China
 5                                              Crimea
 6                 Mondy, Republic of Buryatia, Russia
 7                              Irkutsk Oblast, Russia
 8                                      Nanjing, China
 9                                    Rozhen, Bulgaria
 10                                    La Palma, Spain
 11                               Texas, United States
 12                   Mauna Loa, Hawaii, United States
 13                   Mauna Loa, Hawaii, United States
 14                                    La Palma, Spain
 15                                    Tenerife, Spain
 16                                    Tenerife, Spain
 17                              Takayama, Gifu, Japan
 18                                     Udaipur, India
 19  Sunspot Solar Observatory, Sunspot, New Mexico...
 20                                     Meudon, France
 21                             Arizona, United States
 22                                    Nainital, India
 23                                  Kodaikanal, India
 24                              Schauinsland, Germany
 25                               Locarno, Switzerland
 26                                       Tokyo, Japan
 27                                   Potsdam, Germany
 28                          California, United States
 29                          California, United States
 30                                  Kodaikanal, India
 31                                         Antarctica
 32                                    La Palma, Spain
 33                        Tenerife, Spain (1984–2002)
 34  Sunspot Solar Observatory, Sunspot, New Mexico...
 35                                 Göttingen, Germany
 36                            Michigan, United States
 37                            Michigan, United States
 38                            Michigan, United States
 39                                     Arcetri, Italy

                                    Country(s)  \
 0                               United States
 1                                       China
 2                                     Germany
 3                               United States
 4                                       China
 5                                         NaN
 6                                      Russia
 7                                      Russia
 8                                       China
 9                                    Bulgaria
 10                                     Sweden
 11                              United States
 12                              United States
 13                              United States
 14                                Netherlands
 15                           Italy and France
 16                                    Germany
 17                                      Japan
 18                                      India
 19                              United States
 20                                     France
 21                              United States
 22                                      India
 23                                      India
 24                                    Germany
 25                                Switzerland
 26                                      Japan
 27                                    Germany
 28                              United States
 29                              United States
 30  India (1947- ) United Kingdom (1901–1950)
 31                                     Brazil
 32                                     Sweden
 33                                    Germany
 34                              United States
 35                                    Germany
 36                              United States
 37                              United States
 38                              United States
 39                                      Italy

                                               Note(s)
 0                                        [1][2][3][4]
 1                     First light 10 December 2019[5]
 2                                                 [6]
 3                                                 NaN
 4                    100 cm vacuum solar telescope[7]
 5                                                 NaN
 6      Located in the mountains at 2000m altitude.[8]
 7             Located on the Coast of Lake Baikal.[8]
 8   The ONSET consists of four tubes: (1) a near-i...
 9                                                 NaN
 10                                               [11]
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                               [13]
 17                                               [14]
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21  Largest aperture optical and infrared solar te...
 22                                                NaN
 23                                               [15]
 24                                                NaN
 25  Operated by the Universitäts-Sternwarte Göttin...
 26                                               [16]
 27                                                NaN
 28                                                [1]
 29                          First solar telescope[17]
 30                                                NaN
 31                                               [18]
 32                                Replaced by the SST
 33                          Replaced by GREGOR[19][1]
 34                                               [20]
 35  65 cm-Coelostat by Zeiss, feeding light into s...
 36                        Replaced the 10.5in in 1941
 37                                                NaN
 38                   Replaced by the 24 inch\tin 1941
 39                                                NaN  ,
                               Name/Observatory  Image Aperture d.  \
 0  Coronal Solar Magnetism Observatory (COSMO)    NaN      150 cm
 1        National Large Solar Telescope (NLST)    NaN      200 cm
 2         Chinese Giant Solar Telescope (CGST)    NaN  500–800 cm
 3               European Solar Telescope (EST)    NaN     400+ cm

          Status                      Location                 Country(s)  Note
 0      proposed                           NaN              United States  [21]
 1  proposed[22]  Merak Village, Ladakh, India                      India   NaN
 2       planned         Western part of China                      China  [23]
 3       planned                Canary Islands  15 European countries[24]  [25]  ,
                                      Name/Observatory  Image  \
 0             Chinese Spectral Radioheliograph (CSRH)    NaN
 1   Nançay Radioheliographe (NRH), Nançay Radio Ob...    NaN
 2           Expanded Owens Valley Solar Array (EOVSA)    NaN
 3   Nobeyama Radioheliograph (NoRH), Nobeyama Radi...    NaN
 4   Nobeyama Radio Polarimeters, Nobeyama Radio Ob...    NaN
 5               Siberian Solar Radio Telescope (SSRT)    NaN
 6   Solar Submillimeter Telescope (SST), Complejo ...    NaN
 7   Polarization Emission of Millimeter Activity a...    NaN
 8                            Bleien Radio Observatory    NaN
 9                Radio Solar Telescope Network (RSTN)    NaN
 10                     Daocheng Solar Radio Telescope    NaN
 11    Mingantu interplanetary scintillation telescope    NaN

                                       Frequency range Year(s)  \
 0                           0.4 - 2.0 Ghz2.0 - 15 GHz  2013 -
 1                                         150–450 MHz     NaN
 2                                            1–18 GHz     NaN
 3                                       17 and 34 GHz     NaN
 4                 1, 2, 3.75, 9.4, 17, 35, and 80 GHz     NaN
 5                                                 NaN   1983–
 6                                     212 and 405 GHz   1999–
 7                                       45 and 90 GHz   2011–
 8                                        10 MHz–5 GHz   1979–
 9   245, 410, 610, 1415, 2695, 4975, 8800 and 1540...     NaN
 10                                        150-450 MHz   2023-
 11                                327 MHz and 654 MHz   2023-

                                              Location  \
 0                               Inner Mongolia, China
 1                Sologne, Centre-Val de Loire, France
 2                Sologne, Centre-Val de Loire, France
 3                Minamimaki, Nagano Prefecture, Japan
 4                Minamimaki, Nagano Prefecture, Japan
 5                        Republic of Buryatia, Russia
 6                        San Juan Province, Argentina
 7                        San Juan Province, Argentina
 8                              Gränichen, Switzerland
 9   Australia; Italy; Massachusetts and Hawaii, Un...
 10                                   Sichuan province
 11                                     Inner Mongolia

                              Country(s)  \
 0                                 China
 1                                France
 2                                France
 3                                 Japan
 4                                 Japan
 5                                Russia
 6                             Argentina
 7                             Argentina
 8                           Switzerland
 9   Australia, Italy, and United States
 10                                China
 11                                China

                                               Note(s)
 0   40x 4.5m dishes - low freq band 60x 2m dishes ...
 1                                                [27]
 2   Previously known as the Owens Valley Solar Arr...
 3                                                [29]
 4                                                [30]
 5                                                [31]
 6   SST is the only solar submillimeter telescope ...
 7                                                 NaN
 8                                                [33]
 9   A series of four radio telescopes located at v...
 10  313 parabolic antennas for detection of corona...
 11  interplanetary scintillation telescope, consis...  ,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteSolar space missions  \
 0  List of heliophysics missions - List of solar ...
 1                                            Current
 2                                               Past
 3                                            Planned
 4                                           Proposed
 5                                          Cancelled
 6                                               Lost
 7                                          Sun-Earth
 8                                  Category  Commons

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteSolar space missions.1  \
 0  List of heliophysics missions - List of solar ...
 1  ACE (since 1997) Aditya-L1 (since 2023) ASO-S ...
 2  Apollo Telescope Mount Coronas F (Koronas F) E...
 3  Electrojet Zeeman Imaging Explorer (2024) PROB...
 4                ADAHELI Solar-C_EUVST SETH Sundiver
 5         AOSO Pioneer H OSO J OSO K Solar Sentinels
 6                                    Pioneer E OSO C
 7                                 SORCE SXI ACRIMSAT
 8                                  Category  Commons

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteSolar space missions.2
 0  List of heliophysics missions - List of solar ...
 1                                                NaN
 2                                                NaN
 3                                                NaN
 4                                                NaN
 5                                                NaN
 6                                                NaN
 7                                                NaN
 8                                  Category  Commons                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ]

In [42]:
tables_3[0].to_csv('List of Solar Telescope Optical.csv', index=False)

In [43]:
tables_3[2].to_csv('List of Solar Telescope Radio.csv', index=False)

In [44]:
url4 = 'https://en.wikipedia.org/wiki/List_of_space_telescopes'
tables_4 = pd.read_html(url4)
tables_4

[                                              Legend
 0  .mw-parser-output .legend{page-break-inside:av...
 1                                 Defunct telescopes,
     Photo                                               Name     Space agency  \
 0     NaN                                           Proton-1             USSR
 1     NaN                                           Proton-2             USSR
 2     NaN                                           Proton-4             USSR
 3     NaN                Small Astronomy Satellite 2 (SAS-B)             NASA
 4     NaN                                              Cos-B              ESA
 5     NaN       High Energy Astronomy Observatory 3 (HEAO 3)             NASA
 6     NaN                                             Granat       CNRS & IKI
 7     NaN                                              Gamma  USSR, CNES, RSA
 8     NaN               Compton Gamma Ray Observatory (CGRO)             NASA
 9     NaN                Low Energy Gamma Ray Imager (LEGRI)             INTA
 10    NaN          High Energy Transient Explorer 2 (HETE 2)             NASA
 11    NaN  International Gamma Ray Astrophysics Laborator...              ESA
 12    NaN                     Swift Gamma Ray Burst Explorer             NASA
 13    NaN  Astrorivelatore Gamma ad Immagini LEggero (AGILE)              ISA
 14    NaN                    Fermi Gamma-ray Space Telescope             NASA
 15    NaN                  Gamma-Ray Burst Polarimeter (GAP)             JAXA

     Launch date   Terminated                        Location        Ref(s)
 0   16 Jul 1965  11 Oct 1965        Earth orbit (183-589 km)           [2]
 1    2 Nov 1965   6 Feb 1966        Earth orbit (191-637 km)           [2]
 2   16 Nov 1968  24 Jul 1969        Earth orbit (248-477 km)           [3]
 3   15 Nov 1972   8 Jun 1973        Earth orbit (443–632 km)        [4][5]
 4    9 Aug 1975  25 Apr 1982   Earth orbit (339.6–99,876 km)     [6][7][8]
 5   20 Sep 1979  29 May 1981    Earth orbit (486.4–504.9 km)   [9][10][11]
 6    1 Dec 1989  25 May 1999  Earth orbit (2,000–200,000 km)  [12][13][14]
 7   11 Jul 1990         1992            Earth orbit (375 km)          [15]
 8    5 Apr 1991   4 Jun 2000        Earth orbit (362–457 km)  [16][17][18]
 9   19 May 1997     Feb 2002            Earth orbit (600 km)      [19][20]
 10   9 Oct 2000     Mar 2008        Earth orbit (590–650 km)  [21][22][23]
 11  17 Oct 2002            —    Earth orbit (639–153,000 km)      [24][25]
 12  20 Nov 2004            —        Earth orbit (585–604 km)      [26][27]
 13  23 Apr 2007            —        Earth orbit (524–553 km)      [28][29]
 14  11 Jun 2008            —            Earth orbit (555 km)          [30]
 15  21 May 2010            —              Heliocentric orbit          [31]  ,
     Photo                                               Name  \
 0     NaN         Uhuru (Small Astronomy Satellite 1, SAS-A)
 1     NaN           Astronomical Netherlands Satellite (ANS)
 2     NaN                                            Ariel V
 3     NaN                                          Aryabhata
 4     NaN                Small Astronomy Satellite 3 (SAS-C)
 5     NaN                                              Cos-B
 6     NaN                 Cosmic Radiation Satellite (CORSA)
 7     NaN       High Energy Astronomy Observatory 1 (HEAO 1)
 8     NaN                      Einstein Observatory (HEAO 2)
 9     NaN                                  Hakucho (CORSA-b)
 10    NaN       High Energy Astronomy Observatory 3 (HEAO 3)
 11    NaN                                    Tenma (Astro-B)
 12    NaN                                             Astron
 13    NaN                                             EXOSAT
 14    NaN                                    Ginga (Astro-C)
 15    NaN                                             Granat
 16    NaN                                              ROSAT
 17    NaN               Broad Band X-ray Telescope / Astro 1
 18    NaN  Advanced Satellite for Cosmology and Astrophys...
 19    NaN  Array of Low Energy X-ray Imaging Sensors (Ale...
 20    NaN                 Rossi X-ray Timing Explorer (RXTE)
 21    NaN                                           BeppoSAX
 22    NaN  A Broadband Imaging X-ray All-sky Survey (ABRI...
 23    NaN                          Chandra X-ray Observatory
 24    NaN                                         XMM-Newton
 25    NaN          High Energy Transient Explorer 2 (HETE 2)
 26    NaN  International Gamma Ray Astrophysics Laborator...
 27    NaN                     Swift Gamma Ray Burst Explorer
 28    NaN                                  Suzaku (Astro-E2)
 29    NaN                                              AGILE
 30    NaN     Nuclear Spectroscopic Telescope Array (NuSTAR)
 31    NaN                                           Astrosat
 32    NaN                                   Hitomi (Astro-H)
 33    NaN                                 Mikhailo Lomonosov
 34    NaN  Neutron Star Interior Composition Explorer (NI...
 35    NaN             Hard X-ray Modulation Telescope (HXMT)
 36    NaN                                          Spektr-RG
 37    NaN                                               IXPE
 38    NaN                                              XRISM

                Space agency   Launch date   Terminated  \
 0                      NASA   12 Dec 1970     Mar 1973
 1                      SRON   30 Aug 1974     Jun 1976
 2                SRC & NASA   15 Oct 1974  14 Mar 1980
 3                      ISRO   19 Apr 1975  23 Apr 1975
 4                      NASA    7 May 1975     Apr 1979
 5                       ESA    9 Aug 1975  25 Apr 1982
 6                      ISAS    4 Feb 1976   4 Feb 1976
 7                      NASA   12 Aug 1977   9 Jan 1979
 8                      NASA   13 Nov 1978  26 Apr 1981
 9                      ISAS   21 Feb 1979  16 Apr 1985
 10                     NASA   20 Sep 1979  29 May 1981
 11                     ISAS   20 Feb 1983  19 Jan 1989
 12                      IKI   23 Mar 1983     Jun 1989
 13                      ESA   26 May 1983   8 Apr 1986
 14                     ISAS    5 Feb 1987   1 Nov 1991
 15               CNRS & IKI    1 Dec 1989  25 May 1999
 16               NASA & DLR    1 Jun 1990  12 Feb 1999
 17                     NASA    2 Dec 1990  11 Dec 1990
 18              ISAS & NASA   20 Feb 1993   2 Mar 2001
 19                     LANL   25 Apr 1993         2005
 20                     NASA   30 Dec 1995   3 Jan 2012
 21                      ASI   30 Apr 1996  30 Apr 2002
 22                      DLR   28 Apr 1999   1 Jul 1999
 23                     NASA   23 Jul 1999            —
 24                      ESA   10 Dec 1999            —
 25                     NASA    9 Oct 2000     Mar 2008
 26                      ESA   17 Oct 2002            —
 27                     NASA   20 Nov 2004            —
 28              JAXA & NASA   10 Jul 2005   2 Sep 2015
 29                      ISA   23 Apr 2007            —
 30                     NASA   13 Jun 2012            —
 31                     ISRO   28 Sep 2015            —
 32                     JAXA   17 Feb 2016  28 Apr 2016
 33  Moscow State University   28 Apr 2016  30 Jun 2018
 34                     NASA    7 Jun 2017            —
 35               CNSA & CAS   14 Jun 2017            —
 36               RSRI & MPE  Jul 13, 2019            —
 37                     NASA    9 Dec 2021            —
 38              JAXA & NASA    7 Sep 2023            —

                                              Location        Ref(s)
 0                            Earth orbit (531–572 km)  [32][33][34]
 1                           Earth orbit (266–1176 km)      [35][36]
 2                                Earth orbit (520 km)      [37][38]
 3                            Earth orbit (563–619 km)          [39]
 4                            Earth orbit (509–516 km)  [40][41][42]
 5                       Earth orbit (339.6–99,876 km)     [6][7][8]
 6                                       Failed launch      [43][44]
 7                                Earth orbit (445 km)  [45][46][47]
 8                            Earth orbit (465–476 km)      [48][49]
 9                            Earth orbit (421–433 km)  [50][51][52]
 10                       Earth orbit (486.4–504.9 km)   [9][10][11]
 11                           Earth orbit (489–503 km)  [53][54][55]
 12                     Earth orbit (2,000–200,000 km)  [56][57][58]
 13                       Earth orbit (347–191,709 km)  [59][60][61]
 14                           Earth orbit (517–708 km)  [62][63][64]
 15                     Earth orbit (2,000–200,000 km)  [12][13][14]
 16  Re-entry 23 October 2011.[65] Formerly Earth o...  [66][67][68]
 17                               Earth orbit (500 km)      [69][70]
 18                       Earth orbit (523.6–615.3 km)      [71][72]
 19                           Earth orbit (749–844 km)  [73][74][75]
 20                               Earth orbit (409 km)  [76][77][78]
 21                           Earth orbit (575–594 km)  [79][80][81]
 22                           Earth orbit (549–598 km)  [82][83][84]
 23                     Earth orbit (9,942–140,000 km)      [85][86]
 24                     Earth orbit (7,365–114,000 km)      [87][88]
 25                           Earth orbit (590–650 km)  [21][22][89]
 26                       Earth orbit (639–153,000 km)      [24][25]
 27                           Earth orbit (585–604 km)      [26][27]
 28                               Earth orbit (550 km)      [90][91]
 29                           Earth orbit (524–553 km)      [28][29]
 30                             Earth orbit (603.5 km)      [92][93]
 31                           Earth orbit (600–650 km)  [94][95][96]
 32                               Earth orbit (575 km)  [97][98][99]
 33                           Earth orbit (478–493 km)    [100][101]
 34                        International Space Station         [102]
 35                     Low Earth orbit (545–554.1 km)         [103]
 36                                       Sun-Earth L2         [104]
 37                                    Low Earth orbit    [105][106]
 38                                    Low Earth orbit    [107][108]  ,
     Photo                                               Name  \
 0     NaN                                  OAO-2 (Stargazer)
 1     NaN            Orion 1 and Orion 2 Space Observatories
 2     NaN          Far Ultraviolet Camera/Spectrograph (UVC)
 3     NaN                                   OAO-3 Copernicus
 4     NaN           Astronomical Netherlands Satellite (ANS)
 5     NaN           International Ultraviolet Explorer (IUE)
 6     NaN                                             Astron
 7     NaN                             Hubble Space Telescope
 8     NaN               Broad Band X-ray Telescope / Astro 1
 9     NaN                Extreme Ultraviolet Explorer (EUVE)
 10    NaN                                            Astro 2
 11    NaN      Far Ultraviolet Spectroscopic Explorer (FUSE)
 12    NaN       Cosmic Hot Interstellar Spectrometer (CHIPS)
 13    NaN                  Galaxy Evolution Explorer (GALEX)
 14    NaN  Korea Advanced Institute of Science and Techno...
 15    NaN             Swift Gamma Ray Burst Explorer (Swift)
 16    NaN       Interface Region Imaging Spectrograph (IRIS)
 17    NaN                                  Hisaki (SPRINT-A)
 18    NaN                   Venus Spectral Rocket Experiment
 19    NaN            Lunar-based ultraviolet telescope (LUT)
 20    NaN                                           Astrosat
 21    NaN  Spatial Heterodyne Interferometric Emission Li...

          Space agency                                   Launch date  \
 0                NASA                                    7 Dec 1968
 1                USSR  19 Apr 1971 (Orion 1); (Orion 2) 18 Dec 1973
 2                NASA                                   16 Apr 1972
 3                NASA                                   21 Aug 1972
 4                SRON                                   30 Aug 1974
 5   ESA & NASA & SERC                                   26 Jan 1978
 6                 IKI                                   23 Mar 1983
 7          NASA & ESA                                   24 Apr 1990
 8                NASA                                    2 Dec 1990
 9                NASA                                    7 Jun 1992
 10               NASA                                    2 Mar 1993
 11  NASA & CNES & CSA                                   24 Jun 1999
 12               NASA                                   13 Jan 2003
 13               NASA                                   28 Apr 2003
 14               KARI                                   27 Sep 2003
 15               NASA                                   20 Nov 2004
 16               NASA                                   27 Jun 2013
 17               JAXA                                   14 Sep 2013
 18               NASA                                   26 Nov 2013
 19               CNSA                                    1 Dec 2013
 20               ISRO                                   28 Sep 2015
 21               NASA                                   19 Apr 2021

      Terminated                                 Observing location  \
 0      Jan 1973                           Earth orbit (749–758 km)
 1    1971; 1973  Earth orbit (Orion 1: 200–222 km; Orion 2: 188...
 2   23 Apr 1972               Descartes Highlands on lunar surface
 3      Feb 1981                           Earth orbit (713–724 km)
 4      Jun 1976                          Earth orbit (266–1176 km)
 5   30 Sep 1996                     Earth orbit (32,050–52,254 km)
 6      Jun 1989                     Earth orbit (2,000–200,000 km)
 7             —                     Earth orbit (586.47–610.44 km)
 8   11 Dec 1990                               Earth orbit (500 km)
 9   31 Jan 2001                           Earth orbit (515–527 km)
 10  18 Mar 1993                           Earth orbit (349–363 km)
 11  12 Jul 2007                           Earth orbit (752–767 km)
 12  11 Apr 2008                           Earth orbit (578–594 km)
 13  28 Jun 2013                           Earth orbit (691–697 km)
 14       2007 ?                           Earth orbit (675–695 km)
 15            —                           Earth orbit (585–604 km)
 16            —                                        Earth orbit
 17            —                                                  —
 18     reusable                               Suborbital to 300 km
 19            —                                      Lunar surface
 20            —                           Earth orbit (600–650 km)
 21  19 Apr 2021                             Suborbital to 284.8 km

               Ref(s)
 0         [111][112]
 1         [113][114]
 2              [115]
 3              [111]
 4           [35][36]
 5         [116][117]
 6       [56][57][58]
 7              [118]
 8           [69][70]
 9         [119][120]
 10        [121][122]
 11        [123][124]
 12        [125][126]
 13  .[127][128][129]
 14        [130][131]
 15          [26][27]
 16        [132][133]
 17             [134]
 18             [135]
 19             [136]
 20      [95][94][96]
 21             [137]  ,
     Photo                                               Name  \
 0     NaN                                          Hipparcos
 1     NaN                             Hubble Space Telescope
 2     NaN                                               MOST
 3     NaN                     Swift Gamma Ray Burst Explorer
 4     NaN                                              COROT
 5     NaN                                             Kepler
 6     NaN                                BRITE constellation
 7     NaN  Near Earth Object Surveillance Satellite (NEOS...
 8     NaN                                  Gaia (astrometry)
 9     NaN                                           Astrosat
 10    NaN       Transiting Exoplanet Survey Satellite (TESS)
 11    NaN                                             CHEOPS

                Space agency                Launch date   Terminated  \
 0                       ESA                 8 Aug 1989     Mar 1993
 1                NASA & ESA                24 Apr 1990            —
 2                       CSA                30 Jun 2003     Mar 2019
 3                      NASA                20 Nov 2004            —
 4                CNES & ESA                27 Dec 2006         2013
 5                      NASA                 6 Mar 2009  30 Oct 2018
 6   Austria, Canada, Poland  25 Feb 2013 - 19 Aug 2014            —
 7                 CSA, DRDC                25 Feb 2013            —
 8                       ESA                19 Dec 2013            —
 9                      ISRO                28 Sep 2015            —
 10                     NASA                18 Apr 2018            —
 11                      ESA                18 Dec 2019            —

                                     Location           Ref(s)
 0                Earth orbit (223–35,632 km)  [140][141][142]
 1             Earth orbit (586.47–610.44 km)            [118]
 2                   Earth orbit (819–832 km)       [143][144]
 3                   Earth orbit (585–604 km)         [26][27]
 4                   Earth orbit (872–884 km)       [145][146]
 5          Earth-trailing heliocentric orbit  [147][148][149]
 6                                Earth orbit            [150]
 7   Sun-synchronous Earth orbit (776–792 km)       [151][152]
 8                Sun-Earth L2 Lagrange point            [153]
 9                   Earth orbit (600–650 km)     [94][95][96]
 10                          High Earth Orbit            [154]
 11                     Sun-synchronous orbit            [155]  ,
     Photo                                           Name  Space agency  \
 0     NaN                                           IRAS          NASA
 1     NaN                    Infrared Telescope in Space  ISAS & NASDA
 2     NaN               Infrared Space Observatory (ISO)           ESA
 3     NaN               Midcourse Space Experiment (MSX)           USN
 4     NaN  Submillimeter Wave Astronomy Satellite (SWAS)          NASA
 5     NaN            Wide Field Infrared Explorer (WIRE)          NASA
 6     NaN                        Spitzer Space Telescope          NASA
 7     NaN                                Akari (Astro-F)          JAXA
 8     NaN                     Herschel Space Observatory    ESA & NASA
 9     NaN     Wide-field Infrared Survey Explorer (WISE)          NASA
 10    NaN                                         CHEOPS           ESA
 11    NaN              James Webb Space Telescope (JWST)  NASA/ESA/CSA
 12    NaN                                         Euclid           ESA

           Launch date                         Terminated  \
 0         25 Jan 1983                        21 Nov 1983
 1         18 Mar 1995                        25 Apr 1995
 2         17 Nov 1995                        16 May 1998
 3         24 Apr 1996                        26 Feb 1997
 4          6 Dec 1998                  Last used in 2005
 5          5 Mar 1999                    no observations
 6         25 Aug 2003                   30 Jan 2020[169]
 7         21 Feb 2006                   24 Nov 2011[172]
 8   14 May 2009 [175]                   29 Apr 2013[176]
 9         14 Dec 2009  (hibernation Feb 2011 – Aug 2013)
 10        18 Dec 2019                                  —
 11        25 Dec 2021                                  —
 12         1 Jul 2023                                  —

                           Location           Ref(s)
 0         Earth orbit (889–903 km)       [157][158]
 1             Earth orbit (486 km)       [159][160]
 2      Earth orbit (1000–70500 km)  [161][162][163]

In [45]:
combined_table_4 = pd.concat(tables_4[1:11])  # This includes tables at indices 1 through 11
combined_table_4.to_csv('List of space telescopes.csv', index=False)

In [3]:
t1 = pd.read_csv('Astronomical Observatories.csv')
t2 = pd.read_csv('List of radio telescopes.csv')
t3 = pd.read_csv('List of Solar Telescope Optical.csv')
t4 = pd.read_csv('List of Solar Telescope Radio.csv')
t5 = pd.read_csv('List of space telescopes.csv')

In [4]:
t1

,Name,Established,Location
0,Abastumani Astrophysical Observatory,1932,"Abastumani, Georgia"
1,Abu Reyhan-e Birooni Observatory,1976,"Shiraz University, Shiraz, Iran"
2,Adirondack Public Observatory,NaN,"Tupper Lake, New York, US"
3,Adolphson Observatory,2013,"Monmouth, Illinois, US"
4,Airdrie Public Observatory,1896,"Airdrie, Scotland"
...,...,...,...
679,York University Observatory,NaN,"Toronto, Ontario, Canada"
680,Yuba City Astronomical Observatory,2010,"Yuba City, California, US"
681,Yunnan Astronomical Observatory,1957,"Kunming, Yunnan, China"
682,Zimmerwald Observatory,1956,"Zimmerwald, Switzerland"
683,Zadko Observatory,2009,"Gingin, Australia"

In [5]:
t2

,Name,Location,Frequency Range,Remarks
0,AVN-Ghana,"Kuntunse, Ghana","3.8–6.4, 5, 6.7 GHz","32-metre (104 foot) single dish, first of Afri..."
1,C-BASS South,"Meerkat National Park, South Africa",4.5–5.5 GHz,7.6-metre (24.9 foot) dish with polarimeter ba...
2,HartRAO 26m,"Hartebeesthoek Radio Astronomy Observatory, Jo...",1.66–23 GHz,26 m dish.[3]
3,HartRAO XDM,"Hartebeesthoek Radio Astronomy Observatory, Jo...",2.3–8.65 GHz,15 m Experimental Demonstrator Model originall...
4,Hydrogen Epoch of Reionization Array (HERA),"Meerkat National Park, South Africa",50–200 MHz,In progress – currently nineteen 14 m reflecto...
...,...,...,...,...
171,Square Kilometer Array (SKA-Phase1),"Carnarvon, South Africa","L-Band,X-Band,S-Band,UHF","Additional 128 dishes merged with MeerKAT, exp..."
172,30m Sub-Millimeter Telescope (TSMT),China,NaN,A 30m aperture sub-millimeter telescope (TSMT)...
173,LOFAR Super Station (LSS),"Nançay, France",10–80 MHz,The Nancay radio astronomy observatory and ass...
174,Lunar Crater Radio Telescope (LCRT),Moon,Below 30 MHz,The Lunar Crater Radio Telescope (LCRT) is a p...
175,Square Kilometer Array (SKA-Phase2),"Australia, South Africa",0.05–30 GHz,Extension of SKA-Phase to approximately 2000 d...

In [6]:
t3

,Name/Observatory,Image,Aperture,Year(s),Location,Country(s),Note(s)
0,Daniel K. Inouye Solar Telescope (DKIST),NaN,400 cm,2019–,"Haleakalā, Maui, Hawaii, United States",United States,[1][2][3][4]
1,Chinese Large Solar Telescope (CLST),NaN,180 cm,2019–,"Chengdu, Sichuan, China",China,First light 10 December 2019[5]
2,"GREGOR, Teide Observatory",NaN,150 cm,2012–,"Tenerife, Spain",Germany,[6]
3,"Goode Solar Telescope (GST), Big Bear Solar Ob...",NaN,160 cm,2008–,"California, United States",United States,NaN
4,"New Vacuum Solar Telescope (NVST), Yunnan Astr...",NaN,100 cm,2010–,"Yunnan, China",China,100 cm vacuum solar telescope[7]
5,"Andrei Severny Tower Solar Telescope, Crimean ...",NaN,90 cm,1954–,Crimea,NaN,NaN
6,"Multi-Purpose Automated Solar Telescope, Sayan...",NaN,80 cm,NaN,"Mondy, Republic of Buryatia, Russia",Russia,Located in the mountains at 2000m altitude.[8]
7,"Large Solar Vakuum Telescope, Baikal Astrophys...",NaN,76 cm,1980–,"Irkutsk Oblast, Russia",Russia,Located on the Coast of Lake Baikal.[8]
8,Optical and Near-Infrared Solar Eruption Trace...,NaN,"3x27,5 cm",2010–,"Nanjing, China",China,The ONSET consists of four tubes: (1) a near-i...
9,"Bulgarian 15-cm Solar Coronagraph,[10] Rozhen ...",NaN,100 cm,2005–,"Rozhen, Bulgaria",Bulgaria,NaN
10,"Swedish Solar Telescope (SST), Roque de los Mu...",NaN,100 cm,2002–,"La Palma, Spain",Sweden,[11]
11,Prairie View Solar Observatory (PVSO)[12],NaN,35 cm,1999–,"Texas, United States",United States,NaN
12,Upgraded Coronal Multi-Channel Polarimeter (UC...,NaN,20 cm,2021–,"Mauna Loa, Hawaii, United States",United States,NaN
13,K-Coronagraph (K-COR),NaN,20 cm,2013–,"Mauna Loa, Hawaii, United States",United States,NaN
14,"Dutch Open Telescope (DOT), Roque de los Mucha...",NaN,45 cm,1997–,"La Palma, Spain",Netherlands,NaN
15,"THÉMIS Solar Telescope, Teide Observatory",NaN,90 cm,1996–,"Tenerife, Spain",Italy and France,NaN
16,"Vacuum Tower Telescope (VTT), Teide Observatory",NaN,70 cm,1989–,"Tenerife, Spain",Germany,[13]
17,Hida Domeless Solar Telescope (ja),NaN,60 cm,1979–,"Takayama, Gifu, Japan",Japan,[14]
18,Udaipur Solar ObservatoryMASTFull Disk H-alpha...,NaN,50 cm15 cm25 cm15 cm,1976–,"Udaipur, India",India,NaN
19,"Richard B. Dunn Solar Telescope (DST), Sacrame...",NaN,76 cm,1969–,"Sunspot Solar Observatory, Sunspot, New Mexico...",United States,NaN
20,Solar Observatory Tower Meudon,NaN,60 cm,1968–,"Meudon, France",France,NaN
21,"McMath–Pierce solar telescope, KPO",NaN,161 cm,1961–,"Arizona, United States",United States,Largest aperture optical and infrared solar te...
22,ARIES Observatory,NaN,15 cm,1961–,"Nainital, India",India,NaN
23,"Solar Tunnel Telescope, Kodaikanal Solar Obser...",NaN,61 cm (24 in),1958–,"Kodaikanal, India",India,[15]
24,45-cm-Turmteleskop,NaN,45 cm,1943–,"Schauinsland, Germany",Germany,NaN
25,Gregory Coudé Telescope,NaN,45 cm,1959-,"Locarno, Switzerland",Switzerland,Operated by the Universitäts-Sternwarte Göttin...
26,Solar Tower Telescope by Zeiss,NaN,45 cm,1930–,"Tokyo, Japan",Japan,[16]
27,Einsteinturm,NaN,60 cm,1924–,"Potsdam, Germany",Germany,NaN
28,"150-foot tower, Mount Wilson Observatory",NaN,"35 cm (24"")",1912–,"California, United States",United States,[1]
29,"Snow Solar Telescope, Mount Wilson Observatory",NaN,"61 cm (24"")",1904–,"California, United States",United States,First solar telescope[17]
30,"Lerebour/Grubb-Parsons, Kodaikanal Solar Obser...",NaN,20 cm,1901–,"Kodaikanal, India",India (1947- ) United Kingdom (1901–1950),NaN
31,Solar-T [pt],NaN,2x7.6 cm,2016,Antarctica,Brazil,[18]
32,"Swedish Vacuum Solar Telescope, Roque de los M...",NaN,47.5 cm,1985–2000,"La Palma, Spain",Sweden,Replaced by the SST
33,Gregory Coude Telescope (GCT),NaN,45 cm[1],1984–2002,"Tenerife, Spain (1984–2002)",Germany,Replaced by GREGOR[19][1]
34,"Evans Solar Facility (ESF), Sacramento Peak",NaN,40 cm,1953–2014,"Sunspot Solar Observatory, Sunspot, New Mexico...",United States,[20]
35,Göttinger Sonnenturm (Solar Tower Telescope),NaN,2x15 cm11 cm,1942–2004,"Göttingen, Germany",Germany,"65 cm-Coelostat by Zeiss, feeding light into s..."
36,McMath-Hulbert Observatory,NaN,"61 cm (24"")",1941–1979,"Michigan, United States",United States,Replaced the 10.5in in 1941
37,"50-foot tower, McMath-Hulbert Observatory",NaN,40 cm,1936–1979,"Michigan, United States",United States,NaN
38,"10.5 inch, McMath-Hulbert Observatory",NaN,"26.7 cm (10.5"")",1930–1941,"Michigan, United States",United States,Replaced by the 24 inch\tin 1941
39,"Arcetri Solar Tower, Arcetri Observatory",NaN,37 cm,1925-2006,"Arcetri, Italy",Italy,NaN

In [7]:
t4

,Name/Observatory,Image,Frequency range,Year(s),Location,Country(s),Note(s)
0,Chinese Spectral Radioheliograph (CSRH),NaN,0.4 - 2.0 Ghz2.0 - 15 GHz,2013 -,"Inner Mongolia, China",China,40x 4.5m dishes - low freq band 60x 2m dishes ...
1,"Nançay Radioheliographe (NRH), Nançay Radio Ob...",NaN,150–450 MHz,NaN,"Sologne, Centre-Val de Loire, France",France,[27]
2,Expanded Owens Valley Solar Array (EOVSA),NaN,1–18 GHz,NaN,"Sologne, Centre-Val de Loire, France",France,Previously known as the Owens Valley Solar Arr...
3,"Nobeyama Radioheliograph (NoRH), Nobeyama Radi...",NaN,17 and 34 GHz,NaN,"Minamimaki, Nagano Prefecture, Japan",Japan,[29]
4,"Nobeyama Radio Polarimeters, Nobeyama Radio Ob...",NaN,"1, 2, 3.75, 9.4, 17, 35, and 80 GHz",NaN,"Minamimaki, Nagano Prefecture, Japan",Japan,[30]
5,Siberian Solar Radio Telescope (SSRT),NaN,NaN,1983–,"Republic of Buryatia, Russia",Russia,[31]
6,"Solar Submillimeter Telescope (SST), Complejo ...",NaN,212 and 405 GHz,1999–,"San Juan Province, Argentina",Argentina,SST is the only solar submillimeter telescope ...
7,Polarization Emission of Millimeter Activity a...,NaN,45 and 90 GHz,2011–,"San Juan Province, Argentina",Argentina,NaN
8,Bleien Radio Observatory,NaN,10 MHz–5 GHz,1979–,"Gränichen, Switzerland",Switzerland,[33]
9,Radio Solar Telescope Network (RSTN),NaN,"245, 410, 610, 1415, 2695, 4975, 8800 and 1540...",NaN,"Australia; Italy; Massachusetts and Hawaii, Un...","Australia, Italy, and United States",A series of four radio telescopes located at v...
10,Daocheng Solar Radio Telescope,NaN,150-450 MHz,2023-,Sichuan province,China,313 parabolic antennas for detection of corona...
11,Mingantu interplanetary scintillation telescope,NaN,327 MHz and 654 MHz,2023-,Inner Mongolia,China,"interplanetary scintillation telescope, consis..."

In [8]:
t5

,Photo,Name,Space agency,Launch date,Terminated,Location,Ref(s),Observing location,Planned launch date
0,NaN,Proton-1,USSR,16 Jul 1965,11 Oct 1965,Earth orbit (183-589 km),[2],NaN,NaN
1,NaN,Proton-2,USSR,2 Nov 1965,6 Feb 1966,Earth orbit (191-637 km),[2],NaN,NaN
2,NaN,Proton-4,USSR,16 Nov 1968,24 Jul 1969,Earth orbit (248-477 km),[3],NaN,NaN
3,NaN,Small Astronomy Satellite 2 (SAS-B),NASA,15 Nov 1972,8 Jun 1973,Earth orbit (443–632 km),[4][5],NaN,NaN
4,NaN,Cos-B,ESA,9 Aug 1975,25 Apr 1982,"Earth orbit (339.6–99,876 km)",[6][7][8],NaN,NaN
...,...,...,...,...,...,...,...,...,...
125,NaN,ULTRASAT,Israel Space Agency,NaN,NaN,Sun–Earth L2 Lagrange point,[219],NaN,2026
126,NaN,Nancy Grace Roman Space Telescope (Wide Field ...,NASA/DOE,NaN,NaN,Sun–Earth L2 Lagrange point,[220],NaN,2027
127,NaN,ARIEL,ESA,NaN,NaN,Sun–Earth L2 Lagrange point,[221],NaN,2029
128,NaN,Advanced Telescope for High Energy Astrophysic...,ESA/NASA/JAXA,NaN,NaN,Sun–Earth L2 Lagrange point,[222],NaN,2035
129,NaN,Laser Interferometer Space Antenna (LISA),ESA,NaN,NaN,Heliocentric orbit,[223],NaN,2037

In [9]:
# Extract the 'name' column from each dataframe
names_t1 = t1['Name']
names_t2 = t2['Name']
names_t3 = t3['Name/Observatory']
names_t4 = t4['Name/Observatory']
names_t5 = t5['Name']

In [10]:
# Concatenate these columns
labels = pd.concat([names_t1, names_t2, names_t3, names_t4, names_t5], ignore_index=True)
labels

0                    Abastumani Astrophysical Observatory
1                        Abu Reyhan-e Birooni Observatory
2                           Adirondack Public Observatory
3                                   Adolphson Observatory
4                              Airdrie Public Observatory
                              ...
1037                                             ULTRASAT
1038    Nancy Grace Roman Space Telescope (Wide Field ...
1039                                                ARIEL
1040    Advanced Telescope for High Energy Astrophysic...
1041            Laser Interferometer Space Antenna (LISA)
Length: 1042, dtype: object

In [11]:
# Find all duplicate names
duplicate_labels = labels[labels.duplicated(keep=False)]
duplicate_labels

35       Atacama Pathfinder Experiment (APEX)
47                    Bayfordbury Observatory
109                 Chandra X-ray Observatory
130                                     COROT
143            Daocheng Solar Radio Telescope
                        ...
1009               Herschel Space Observatory
1011                                   CHEOPS
1020                                 Proton-1
1021                                 Proton-2
1028    Dark Matter Particle Explorer (DAMPE)
Length: 90, dtype: object

In [12]:
# Remove duplicates
labels = labels.drop_duplicates()
labels

0                    Abastumani Astrophysical Observatory
1                        Abu Reyhan-e Birooni Observatory
2                           Adirondack Public Observatory
3                                   Adolphson Observatory
4                              Airdrie Public Observatory
                              ...
1037                                             ULTRASAT
1038    Nancy Grace Roman Space Telescope (Wide Field ...
1039                                                ARIEL
1040    Advanced Telescope for High Energy Astrophysic...
1041            Laser Interferometer Space Antenna (LISA)
Length: 995, dtype: object

In [14]:
# Check if all names from each original dataframe are present in the labels
all_t1_present = names_t1.isin(labels).all()
all_t2_present = names_t2.isin(labels).all()
all_t3_present = names_t3.isin(labels).all()
all_t4_present = names_t4.isin(labels).all()
all_t5_present = names_t5.isin(labels).all()

# Print results
print("All names from t1 present in labels:", all_t1_present)
print("All names from t2 present in labels:", all_t2_present)
print("All names from t3 present in labels:", all_t3_present)
print("All names from t4 present in labels:", all_t4_present)
print("All names from t5 present in labels:", all_t5_present)

All names from t1 present in labels: True
All names from t2 present in labels: True
All names from t3 present in labels: True
All names from t4 present in labels: True
All names from t5 present in labels: True

In [15]:
labels.to_csv('Labels.csv', index=False)